[2022-05-23 17:01] #1048 closed

[2022-05-24 06:14] ddelange commented on #751
/reopen

Or are there any other open threads on getting Helm support for Knative we can fold this one into?

I wanted to quickly try this stack out for running some autoscaling deployments, but ended up having to hack all sorts of values in the manifests to get it to run in our small cluster.

Istio has helm charts [ref](https://istio.io/latest/docs/setup/install/helm/#installation-steps), but kna

[2022-05-24 11:17] xunfeng1980 commented on #717
I'm having this issue too

[2022-05-24 11:17] xunfeng1980 commented on #717
/reopen

[2022-05-25 18:58] houshengbo commented on #1079
apiextensions.k8s.io/v1beata1 is deprecated in k8s v1.22.0 version.
Hmm, I need to talk with the eventing source team about it.

[2022-05-25 19:07] lionelvillard commented on #1079
fixed in the main branch: https://github.com/knative-sandbox/eventing-github/pull/229

Here is the backport PR to 1.4: https://github.com/knative-sandbox/eventing-github/pull/287. I just need to figure out how to get through the easyCLA guard.

[2022-05-27 03:35] joshuasimon-taulia commented on #373
/reopen

[2022-06-01 16:14] #915 closed

[2022-06-02 01:06] Morriz commented on #376
bump

[2022-06-02 22:55] nickzelei opened #1094 "KnativeServing deployment fails when specifying resources"
**Describe the bug**
I'm unable to create `KnativeServing` when specifying the `resources` property in `spec`.
Commenting out the resources resulted in a successful apply.
I last did this against operator `v1.1.0` against the v1alpha1 spec just fine. I followed the guidelines listed here: https://knative.dev/docs/install/operator/configuring-serving-cr/#system-resource-settings

[code]

**Expected

[2022-06-03 10:22] Morriz opened #1096 "knative releases not compatible with identical serving versions"
**Describe the bug**
Hi, we struggle to deploy knative serving CRs with the operator, as there are many version mismatches that are not expected nor documented. I see this as a bug, but have also created a discussion here for cross reference: knative/serving/issues/12989

**Expected behavior**
The following versions to work together:

| operator version | serving version | compatible? |
| --- | --

[2022-06-03 13:40] maxbog commented on #388
/reopen

I'm having trouble understanding how this is the intended behavior.
This is the basic scenario when installing knative using `kubectl apply`.

IMO, the workaround with `kubectl create` is not a viable one, because it changes the approach of defining namspace from declarative to imperative.

Given the scenario from the bug - namespace definition with a label: how do I make sure that the op

[2022-06-03 18:31] zhangluva commented on #1068
I have installed 1.4.1 on a brand new EKS cluster and experienced the same. Had to move the probes to port 9090/metrics for now to get around it

[2022-06-06 14:11] houshengbo commented on #1094
@nickzelei I am sorry for the inconsistency in the docs of 1.4.
For operator, there are two CRD versions: v1alpha1 and v1beta1.
I think the syntax you used still works in v1alpha1, but NOT in v1beta1 any more.

In v1beta1, you need to specify the deployments as the parent of resources, like:
[code]

[2022-06-06 15:12] houshengbo commented on #1079
@sameersbn operator 1.5 has released, I am sure it is resolved in this version.

There will be a patch release for 1.4 as well in 24 hours I guess. It will be resolved in 1.4.2 as well yet to come.

[2022-06-07 13:46] #1079 closed

[2022-06-07 15:06] Morriz commented on #1096
How about testing every new `knative-*` resource against the operator to make sure the semver promise holds? Would that be a big effort? Then the operator does not have to reject minor/patch versions.

For now, I recommend publishing and keeping a matrix up to date.

[2022-06-08 07:05] matzew opened #1098 "Run storage version migrator"
**Problem**
Operator does not run its own post-job, for migrating the storage version of the CRDs.

**Additional context (optional)**
Like serving and eventing we post job for this should be there, to avoid user issues when moving to new versions of the CRDs

See also:
* https://github.com/knative/serving/tree/main/config/post-install
* https://github.com/knative/eventing/tree/main/config/post-ins

[2022-06-08 07:06] matzew commented on #1098
Eventing/Serving run them even if there are no actual changes, as noop. Just to be safe...

/cc @houshengbo

Perhaps worth to backport also all the way down to 1.3 version?

[2022-06-08 18:45] Morriz opened #1099 "publish clear release message with regards to versions supported"
**Problem**
Hi, I have created a discussion about related issue in the docs: https://github.com/knative/docs/issues/4997

However, this is about your release message in this repo. It states:
[code]

Now, I am not sure how to interpret this, and have no clue which patch version of `knative-(eventing|serving)` resources the operator release can handle.

Can you publish that in the release message or

[2022-06-09 01:33] #957 closed

[2022-06-10 13:20] houshengbo commented on #1099
I have updated release-1.5 regarding the patch information: https://github.com/knative/operator/releases/tag/knative-v1.5.0

[2022-06-10 14:07] houshengbo opened #1105 "Removal of v1alpha1 CRD"
**Problem**
v1beta1 and v1alpha1 co-exist for 4 releases. It is time for us to remove v1alpha1 in the coming new releases.

Deprecation of existing CRD version.

[2022-06-10 16:56] Morriz commented on #1099
Awesome...tnx for clarifying. Please put this also in the knative.dev docs ;)

[2022-06-10 20:30] #1105 closed

[2022-06-11 01:34] #960 closed

[2022-06-13 15:06] #1094 closed

[2022-06-14 00:55] houshengbo commented on #1099
https://github.com/knative/docs/pull/5037 This PR adds the information for v1.5 operator.

[2022-06-24 15:45] houshengbo commented on #1007
https://knative.slack.com/archives/C0186KU7STW/p1656004112028399
This is another thread in the slack channel regarding this issue.
In general, increasing the number of initialDelaySeconds works, but the value may vary based on the kube environment you have.

[2022-06-24 16:11] houshengbo commented on #1007
@0cwa could you try to lower the value to see what is the minimum that works for you?

[2022-06-29 13:50] qiuming520 opened #1115 "Does Knative support custom scheduler"
**Problem**
Can knative's default job scheduler be replaced with a customized scheduler ( based on CRD+Operator )?

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?

System Operator

[2022-07-01 08:37] #1115 closed

[2022-07-11 07:30] pierDipi commented on #813
/reopen
/remove-lifecycle stale

[2022-07-11 20:15] #813 closed

[2022-07-11 20:20] houshengbo commented on #813
spec.defaultBrokerClass will not override the broker class, if there is brokerclass defined in the spec.config for config-br-defaults.

[2022-07-12 17:31] #376 closed

[2022-07-18 20:50] treyhyde opened #1131 "1.5 -> 1.6 upgrade fails due to invalid CRD spec"
**Describe the bug**
When applying the vanilla operator 1.6 manifest over an existing operator 1.5 install,

[code]

Kube 1.22
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.4", GitCommit:"b695d79d4f967c403a96986f1750a35eb75e75f1", GitTreeState:"clean", BuildDate:"2021-11-17T15:48:33Z", GoVersion:"go1.16.10", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.In

[2022-07-20 14:52] houshengbo commented on #1131
@treyhyde Could you share us the content of your existing serving and eventing crs? You can run
[code]
And the content of your crds, by running
[code]

[2022-07-20 16:04] houshengbo commented on #1131
You need to transition all the existing CRs into the v1beta1 version by running:
[code]
You need to wait for several minutes for the transition to finish.

Another way to force the transition is to re-apply your existing CRs again by changing "/v1alpha1" into "/v1beta1" in the APIVersion.

After the existing CRs are in v1beta1 version, you should be able to upgrade from 1.5 to 1.6.

[2022-07-20 16:47] treyhyde commented on #1131
ah yes, those post-installs are tricky.  Something you would expect the operator to do and also something that is really tough in gitops.   Manual intervention.

[code]

[2022-07-20 17:23] treyhyde commented on #1131
Serving gist, after 1.5.1 post-install

https://gist.github.com/treyhyde/9db65baf0eb46d6824bd00fb9fd1e61e

[2022-07-21 15:38] houshengbo commented on #1131
What happened to me is that if I did not run the post-install scripts, I ran into the same issue as you had.
After I ran the post install scripts, the 1.6 knative operator would be installed fine, but when I checked on the CRs with
[code]
it would report issues on `v1alpha1`, which DID NOT happen last year in 2021.(I got surprised by this situation, and am looking around to see if anyone knows it

[2022-07-25 13:23] houshengbo commented on #744
This feature is implemented in the operator's CLI plugin by https://github.com/knative-sandbox/kn-plugin-operator/pull/207.
We will be able to accomplish the upgrade across multiple minor versions with one line command.

[2022-07-26 07:15] unzld opened #1148 "Upgrading from to Knative Serving v1.2 shows "the manifests of the target version are not available to this release""
## What version of Knative?

1.1.0

## Expected Behavior

Upgrade Knative Serving from v1.1 to v1.2 using the [docs](https://knative.dev/development/install/upgrade/upgrade-installation-with-operator/) should be successful.

## Actual Behavior

KnativeServing produces the error "the manifests of the target version 1.2 are not available to this release" and no upgrade happens.

## Steps to Reproduc

[2022-07-26 19:22] rscottwatson opened #1142 "Upgrade to 1.6.0 resulted in an error with Invalid value: "v1alpha1": must appear in spec.versions"
**Describe the bug**
Upgrading the operator from 1.5.1 to 1.6.0 resulted in the following message

[code]

If I then check the CRD
[code]
**Expected behavior**
The operator to apply without error.

**To Reproduce**
Upgrade of knative serving.

[code]

**Knative release version**
started at 0.24

**Additional context**
Add any other context about the problem here such as proposed priority

[2022-07-27 13:26] houshengbo commented on #1142
@rscottwatson This issue is a duplicate of https://github.com/knative/operator/issues/1131.

In 1.6, we removed the v1alpha1 CRDs. You should migrate all existing CRs and CRDs into v1beta1 in 1.5 by running the migration job.

[code]

After that, you can refresh you api resources by running:
[code]

Check your serving and eventing CRs, you should see them with APIversion in v1beta1.

Then, upgrade

[2022-07-27 14:04] rscottwatson commented on #1142
Thanks for the info.  I had searched the issues for something with similar key words not sure how I missed that.  thanks.  @houshengbo

[2022-07-27 15:45] houshengbo commented on #1007
I will close this issue for now.
Reopen it if the above solution does not resolve your situation.

[2022-07-27 15:45] #1007 closed

[2022-07-27 15:45] houshengbo commented on #1068
I will close this issue for now.
Reopen it if the above solution does not resolve your situation.

[2022-07-27 15:45] #1068 closed, assigned to nobody

[2022-07-27 15:47] houshengbo commented on #744
The operator's CLI plugin has implemented this feature.
PLZ download further version of https://github.com/knative-sandbox/kn-plugin-operator to use the feature as of 1.7.

[2022-07-27 15:54] houshengbo commented on #1131
I will close this issue.
Reopen it if the above solution does not work for you.

[2022-07-27 15:56] houshengbo commented on #975
Knative operator is now on the release of 1.6.
Min Kubernetes requirement is 1.22.
Plz upgrade your cluster accordingly.
Close this issue for now.

[2022-07-27 15:56] #975 closed

[2022-07-28 04:26] nak3 commented on #971
Hi @GJKrupa Sorry for the delay. You can replace the envoy image with `spec.registry.override` like this:

[code]

However Envoy 1.16 is already EOL[1] and I don't recommend that you keep using the old Envoy version. I believe that it is better to fix the Envoy issue rather than using this workaround.
[1] https://github.com/envoyproxy/envoy/blob/main/RELEASES.md#major-release-schedule

[2022-07-28 10:03] GJKrupa commented on #971
Thanks. This is exactly what I was looking for. I'll use this same config option to switch to 1.23 once they release a fix for a different ARM64 issue: https://github.com/envoyproxy/envoy/issues/22384

[2022-07-28 10:05] #971 closed

[2022-07-30 00:43] treyhyde commented on #1131
I don't have permission to reopen it, but removing the .kube/cache does not help.

[2022-07-30 00:44] treyhyde commented on #1131
[code]

[2022-08-01 22:00] houshengbo commented on #1148
This is a little far away.
If you are still on 1.1, you need to upgrade to 1.2, then to 1.3... until 1.6, which is the latest.
For operator, you need to install operator 1.4 first, because the earliest version 1.4 supports is 1.1.  With operator 1.4, upgrade everything incrementally to 1.4. Do not forget to run the migration job to migrate the existing CRs to v1beta1: https://github.com/knative/op

[2022-08-04 14:56] tshak commented on #1142
I'm having the same issue as well. I'm in Slack and happy to help debug or problem solve.

[2022-08-05 15:18] houshengbo commented on #1142
Per the discussion in the slack channel: https://knative.slack.com/archives/CEPGNPHP1/p1659142102677399.
I am now thinking of merging the migration tasks into the part of the operator's reconciling job, so that the migration can be done within the operator itself.

[2022-08-05 15:18] houshengbo commented on #1148
Per the discussion in the slack channel: https://knative.slack.com/archives/CEPGNPHP1/p1659142102677399.
I am now thinking of merging the migration tasks into the part of the operator's reconciling job, so that the migration can be done within the operator itself.

[2022-08-08 12:18] tshak commented on #1131
Thank Vincent! I reviewed the PR. I’m not sure that upgrading the CRs from v1alpha1->v1beta1 fixes #1131 as in both cases the error occurred even though the CR was already upgraded to v1beta1.  I was assuming (potentially incorrectly) that the cause of this bug was due to old operator managed references to v1alpha1 that needed to be deleted, not due to user managed custom resources (e.g. a Knative

[2022-08-08 13:38] pierDipi opened #1155 "Rename `deployments` field to `components` (or something else more generic)"
**Problem**

The current approach of defining overrides for Knative components is to define a field, [called `deployments`](https://knative.dev/docs/install/operator/configuring-serving-cr/#override-system-deployments) like the following:
[code]

While most of the components in eventing and serving are using deployments, some components use `StatefulSet`s and to have consistency across different c

[2022-08-08 13:39] pierDipi commented on #1155
@houshengbo @matzew what do you think?

[2022-08-08 19:46] houshengbo commented on #1155
So far the deployments only supports the configuration of deployment. It has not extended to other resources.
There is another field named "services" already to configure all service resources.

[2022-08-09 08:17] pierDipi commented on #1155
Yes, what I'm suggesting is that it doesn't have to be that way, services are completely different so it makes sense to have a separate field.

[2022-08-09 13:09] houshengbo commented on #1131
@tshak You can try to install https://github.com/knative/operator/releases/tag/knative-v1.5.2 to see how it goes. If everything seems fine: operator is running, CRs are running good, knative components are running fine, etc, install the https://github.com/knative/operator/releases/tag/knative-v1.6.0.

[2022-08-09 13:33] tshak commented on #1131
Good news! I have upgraded to `v1.5.2` and it looks like the `storedVersions` are in fact set to only `v1beta1`. As such I believe that I am mistaken and this fix should work (I guess that I'm confused about how `storedVersions` in a CRD is updated). I should be able to rollout to all clusters today and then re-test the upgrade to `v1.6.0`.

[2022-08-10 04:30] hoyhbx opened #1157 "[BUG] Contour pod is not deleted when disabled by user"
### **Describe the bug**

We are using Knative-Operator to configure our Knative-Serving instance.

We observed that when we tries to disable `contour` by setting `spec.ingress.contour.enabled` to false, the `net-contour-controller` deployment is neither deleted nor modified.

### **Expected behavior**
We expect that `net-contour-controller` be deleted when `spec.ingress.contour` is disabled.

###

[2022-08-10 04:31] hoyhbx opened #1158 "[BUG]: operator clusterRole's permission is insufficient to enable Rabbitmq as event source"
### **Describe the bug**

We are using Knative-Operator to configure out Knative-Eventing instance.

We observed that when we tries to enable Rabbitmq to be the event source, the operator fails to apply the manifest `rabbitmq-source.yaml` due to insufficient RABC permission.

The below events described the error:
[code]

### **Expected behavior**

We expect that `Rabbitmq` can be used as event sou

[2022-08-10 08:55] tshak commented on #1131
I have attempted to upgrade to Operator `v1.6.0` after finishing our rollout of `v1.5.2`. I am still receiving the following error:

[code]

Note that the error is only for `KnativeEventing`. We do not have any instance of `KnativeEventing` configured. I have verified that only `v1beta` exists in the CRD's `status.storedVersions` field.

[2022-08-10 14:09] houshengbo commented on #1131
@tshak Is KnativeServing CRD and CR upgraded correctly? In 1.6.0, the `spec.conversion.webhookClientConfig` for both serving and eventing CRDs are set to None.
It should be set to None, when you install the CRDs of 1.6.0. Could you check `spec.conversion.webhookClientConfig` for both serving and eveting CRDs? Check if there is any difference between them.

[2022-08-10 14:18] tshak commented on #1131
Operator `1.5.2`: `spec.conversion.strategy` is set to `Webhook` for both.
Operator `1.6.0` is unable to apply as the dry-run fails with the aforementioned error.

[2022-08-10 14:28] houshengbo commented on #1131
Operator 1.5.2 is good as expected, but I can upgrade to 1.6.0 without error. The CRDs have their `spec.conversion.strategy` set to none.
What is your kubenernetes version? What kubenernetes are you using?

[2022-08-11 13:25] zacheryph commented on #1131
I receive this error as well. I have upgraded to 1.5.2 and ran the operator-post-install and received the same messages above from it. Neither my KnativeServing nor KnativeEventing CRs show a status.storageversion. They are both `v1beta1` (and have been.)

I am running K8s 1.24.3.

[2022-08-11 14:20] houshengbo commented on #1157
@hoyhbx This is working as we expected. We did not remove the existing ingress plugins' resources.

[2022-08-11 14:20] houshengbo commented on #1158
Looking at this one...

[2022-08-11 20:41] #1131 closed

[2022-08-11 20:41] #1158 closed

[2022-08-15 19:31] joshuasimon-taulia commented on #373
@houshengbo can `spec.additionalManifests` reference a local file or a configmap? shipping a service account k8s manifest yaml file to a remote, publicly accessible location seems fragile and not very gitops friendly

/remove-lifecycle stale

[2022-08-17 14:55] eloyekunle commented on #388
/reopen This issue is still not resolved.

[2022-08-17 14:56] eloyekunle commented on #388
/reopen

This issue is still not resolved.

[2022-08-17 17:54] tshak opened #1184 "Upgrade to 1.6.1 prevents applying of Serving and Eventing CRs using server-side apply"
After upgrading to Operator `1.6.1`, some Serving and Eventing CRs will no longer apply using server-side apply. This appears to happen on clusters that at one point had pre `v1beta1` CRs.

## Repro Steps
1) Install Operator `1.2.2`
2) Apply a Serving or Eventing CR using `v1alpha1` using a server-side apply (e.g. `kubectl apply --server-side=true`)
3) Upgrade to Operator version `1.5.3` (note tha

[2022-08-17 20:22] houshengbo commented on #1184
https://github.com/tshak/knoperator-v1beta1-ssa-repro/pull/1 This is the change i requested: upgrade operator incrementally one minor version by one minor version

Give more time like 30s between each installation and before applying the v1beta1 CR.
@tshak

I tested it with docker-desktop, and it worked.

[2022-08-17 21:03] tshak commented on #1184
I do not think that it's a timing issue as our automation in our live cluster retries applying the CR and was failing many hours after the Operator upgrade to `v1.6.1`.  For the synthetic repro I ran your PR and I'm still seeing the issue in a brand new `Kind` cluster.

[2022-08-17 21:12] #1157 closed

[2022-08-18 17:19] houshengbo commented on #1184
@evankanderson @dprotaso

Here is what we can possibly do with the migrateresource function in knative/pkg. Now we are doing
[code]
to migrate the existing CRs from old to new version.
Can we change it into:
[code]
to clear the `managedField` in order to solve this issue as described for `managedField` with old version, blocking the installation of the CR at the new version?

[2022-08-18 17:38] tshak commented on #1184
I'm not sure if there are any unintended consequences of deleting all `managedField` entries. The best solution is probably to remove only `operator.knative.dev/v1alpha1`. I'm not very opinionated either way though.

[2022-08-18 17:49] dprotaso commented on #1184
My guess is the `post-install` job isn't being run after installing 1.5.3

https://github.com/knative/operator/blob/knative-v1.5.3/config/post-install/storage-version-migrator.yaml

This should migrate the CRD to a new storage version

[2022-08-18 19:54] houshengbo commented on #1184
@dprotaso I actually moved the implementation into the operator controller itself in 1.5.3.
So we do not need to run the migration job, the operator will do it automatically, when it is launched. It is equivalent to run the post-install job.
What I am proposing here is to "clear the managedField" or remove only operator.knative.dev/v1alpha1 as @tshak said.

[2022-08-18 20:00] tshak commented on #1184
It is correct that we did not run the `post-install` job. My contention is that this goes against the biggest value proposition of the Operator pattern: to automate resource lifecycle  issues such as this one.

[2022-08-18 20:04] unzld commented on #1148
@houshengbo Thanks for the response, managed to upgrade to operator v1.3. For upgrading operator, can we skip major versions? For example, upgrading from operator v1.3 to v1.5? I do know we have to incrementally upgrade serving.

[2022-08-18 21:38] dprotaso commented on #1184
This seems like a k8s bug

[2022-08-19 06:50] tshak commented on #1184
I agree that it's probably a k8s bug. If a `managedField` entry has an invalid `apiVersion` it should not prevent a server-side apply. There may also be a bug around API conversions missing the entry in the first place. Regardless, I still think that the Operator should still perform either of the workarounds proposed by @houshengbo.

[2022-08-19 09:33] houshengbo commented on #1184
@tshak Another way without touching knative/pkg could be only accessing serving and eventing CRs in knative operator and changing the `managedField` for both of them, if they exist.

[2022-08-19 16:08] dprotaso commented on #1184
Created the upstream issue based [on this slack discussion](https://kubernetes.slack.com/archives/C0EG7JC6T/p1660922827029139)

https://github.com/kubernetes/kubernetes/issues/111937

[2022-08-22 12:22] haubenr opened #1186 "e2e serving tests fail for operator on s390x"
**Describe the bug**
When running the operator e2e tests via prow against a s390x-based cluster all TestKnativeServingDeployment testcases fail. See here for details: https://prow.knative.dev/view/gs/knative-prow/logs/s390x-e2e-tests_operator_main_periodic/1561508625761964032

The tests have been running fine up until 08/17: https://prow.knative.dev/?job=*s390x*operator_main*.
Presumably a change

[2022-08-22 12:51] haubenr commented on #1186
By reverting the operator code back to commit https://github.com/knative/operator/commit/b12d13833b90b964007bde93cd2b762ee0218799 I was able to run the e2e tests successfully.

So the problematic code was either introduced with this https://github.com/knative/operator/commit/277c7834137825e0fd522e31c85094402611264c or this https://github.com/knative/operator/commit/b7944c31c0f8440a6f486acf1715bbc6

[2022-08-22 13:47] haubenr commented on #1186
I narrowed it down further - this PR is to blame for the test failures: https://github.com/knative/operator/commit/277c7834137825e0fd522e31c85094402611264c

Deploying operator without this changeset and running the tests against it works fine.

[2022-08-22 16:01] #1186 closed

[2022-08-27 13:25] sysedwinistrator commented on #717
I'm experiencing the issue, too. However only on my RKE arm64 homelab cluster, on an amd64 GKE cluster the operator works fine.
With the help of [undocker](https://git.sr.ht/~motiejus/undocker) and [dive](https://github.com/wagoodman/dive) I took a look at the image to see whether there are any differences between the amd64 and arm64 one. As it should be, the only difference is the `ko-app/operato

[2022-08-30 02:24] #744 closed

[2022-08-30 02:26] houshengbo commented on #1148
@unzld You can install operator 1.5 over 1.3 for sure.
however, you have to incrementally upgrade serving and eventing from 1.3 to 1.4 and to 1.5.

[2022-08-30 02:27] houshengbo commented on #673
Since #744 was closed, close this feature as well.
Orchestration of the upgrade is implemented in the kn-plugin-operator.

[2022-08-30 02:27] #673 closed

[2022-09-09 06:39] nak3 opened #1200 "webhook HPA attempt at scaling up apparently reverted by the operator"
**Describe the bug**

Running KnativeServing with default highAvailability setting (2 replicas by default) under a heavier load of creating ~300 ksvcs at the same time, I see an an attempt at the webhook HorizontalPodAutoscaler to scale up webhook replicas, but any new pods are immediately deleted

[code]

**Expected behavior**

webhook should be scaled up via HPA.

**Additional note**
Thank you @

[2022-09-09 10:43] nak3 commented on #762
/reopen

[2022-09-11 21:39] #1200 closed

[2022-09-14 21:49] mbaynton commented on #831
Definitely still an issue -- we got bit by it in the last few days.

So it looks like this service -- and only this service, for some reason, not the public ingress -- is included in the `net-istio.yaml` manifest file, and has the selector hardcoded to `istio: ingressgateway` there. I'm with @MMartyn that this is an easy fix if

...it's certainly the behavior everyone on this issue so far seems to

[2022-09-15 16:25] mbaynton opened #1206 "knative-local-gateway service selectors assume istio defaults"
**Describe the bug**
If you use the istio ingress, but configure it to use a different selector than the default "`istio: ingressgateway`", then the `knative-local-gateway` k8s service created by the operator will still be set with its selectors set to `istio: ingressgateway` so will fail to route traffic. As a result, `DomainMapping`s and services talking to other private services in the cluster

[2022-09-22 04:21] xfu83 commented on #763
Hi @mathianasj we also encountered this problem on our 1.7 installation. Did you figure out a solution?

[2022-09-27 04:43] life-learner1 opened #1211 "Install knative failed by operator"
**Describe the bug**
knative-operator pod is restarted over and over again,  below is the error log
[code]

**Expected behavior**
install successfully

**To Reproduce**

1. AWS EKS in China
2. replace gcr.io with gcr.dockerproxy.com
3. kubectl apply -f https://github.com/knative/operator/releases/download/knative-v1.6.1/operator.yaml
**Knative release version**
The Knative version, where you find

[2022-09-27 07:58] pierDipi opened #1212 "Operator is installing a deprecated KafkaSource"
**Describe the bug**

The operator is installing the deprecated `KafkaSource` from `eventing-kafka`, the new source is hosted in `eventing-kafka-broker`.

**Expected behavior**

The old source is replaced with the new one.

**To Reproduce**

Enable Kafka source using the operator API.

**Knative release version**

**Additional context**
Add any other context about the problem here such as proposed

[2022-09-27 18:48] ca-scribner opened #1216 "Configuring Knative to use a local gateway in another namespace"
(sorry, cross-post with knative-sandbox/net-istio#985.  I posted there before realising this is likely an operator issue)

**Describe the bug**
I am trying to use Knative Serving via the Knative Operator to make `ksvcs` available via a local gateway (not a service mesh).  The `Gateway` I have is shared with other applications, and the workload pods for that gateway are in a separate namespace.  I'

[2022-09-27 18:48] ca-scribner commented on #1216
Clarifying one thing, by default Istio's `Gateway` objects do work across namespaces (`Gateway` in `namespace-1` can refer by selector to a deployment of `image: istio/proxy` in `namespace-2`), so the `Gateway` objects themselves I think are fine above.  The problem is the `service` that serves as the entry way into the cluster-local gateway - that service cannot bridge the namespace boundaries by

[2022-09-27 18:48] ca-scribner commented on #1216
After some more tweaking, I found that setting:
[code]
resulted in:
* creation of `gateway/knative-ingress-gateway` and `gateway/knative-local-gateway`.  These seem to always be created, regardless of whether they're cited in the config, and control pods named by `selector: {istio: ingressgateway}`.  They open ports 80 and 8081, respectively.
* serving using the `gateway/knative-local-gateway` fro

[2022-09-27 18:55] ca-scribner commented on #1206
In encountering #1216, I also wondered about this issue and whether the selectors would be configured correctly if using something other than `istio: ingressgateway`.

@mbaynton I think you're right that, most of the time, the ingress' service would already exist and could be used to know how to generate the other objects.  The only time I am not sure about this is if you intentionally wanted to c

[2022-09-28 05:51] matzew opened #1222 "Kubernetes v1.25 deprecation tracking"
Opening this as an umbrella to track the various deprecations in k8s v1.25: https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-25

* CronJob
* EndpointSlice
* Event
* HorizontalPodAutoscaler
* PodDisruptionBudget
* PodSecurityPolicy
* RuntimeClass

Note that not all of these may impact us / still need to fill in the details / etc.

[2022-09-28 05:51] matzew commented on #1222
/cc @houshengbo @psschwei

[2022-09-28 06:02] matzew opened #1223 "Can not scale unused components to replicas zero"
Let's assume there is zero interest in using the `MTChannelBroker` and the `InMemoryChannel`, because I am only interested in the `KafkaChannel` and the `KafkaSource`.

In that case, in order to safe resources, I'd like to set the replica for all unused components to `0`, like:

[code]

But this is not possible:

[code]

[2022-09-28 06:03] matzew commented on #1223
Doing a different configuration to just get the `eventing-controller` and `eventing-webhook`, like:

[code]

Gives me the same/similar error:

[code]

[2022-09-28 06:07] matzew opened #1224 "Deprecate the global `spec.high-availability` field"
On both `KnativeServing` and `KnativeEventing` we have:

[code]

Which does a global replica setting of _all_ `deployments.apps`. This was a good start in the beginning, but I think we should deprecate this, since we can do a much better fine-grain replica setting, using the `spec.deployments` field

[2022-09-28 12:41] matzew commented on #1223
@lionelvillard can you elaborate what exactly you mean? How can I avoid installing these?

Regardless, I think scaling things back to `zero` is a very valid case. The k8s `DeploymentSpec` does allow this too.

[2022-09-28 12:55] matzew commented on #1223
Of course this functionality is not present, hence I did the `replicas` setting, to put them to final rest.

[2022-09-28 15:19] #1223 closed

[2022-09-28 15:35] matzew commented on #1224
/assign @houshengbo

[2022-09-29 15:29] houshengbo commented on #1212
@pierDipi What version is the last version we use eventing-kafka?
What version is the first version to use eventing-kafka-broker?
I need to change the fetcher to reflect the changes.

[2022-09-29 15:36] houshengbo commented on #1224
@matzew We can mark it as deprecated and sterilize the functions related to this field, but will not physically remove the field(keep it for a few releases). Removal of fields in the same CRD version can lead to problems.(Ran into them before, do not want to step over again)

Once there is new CRD version, like v1, ready, then we can remove this field.

[2022-09-30 08:17] pierDipi commented on #1212
Hey Vincent, the version is 1.6 and 1.7 for eventing-kafka-broker.

The files needed are listed here: https://knative.dev/docs/eventing/sources/kafka-source/#installing-kafka-source

In addition, the operator should apply the post-install artifact that is released in eventing-kafka-broker, it provided automatic migration from the old source to the new one.

[2022-09-30 15:45] houshengbo commented on #1212
I need to ask @evankanderson to see if the fetcher can handle different repo for the same eventing sources across different versions.

[2022-09-30 17:17] evankanderson commented on #1212
You should be able to (ab)use the `override` feature feature for this. I added it because the early-on eventing releases weren't really set up for automatic consumption by machines.

See [this example of `overrides` from the first commit]( https://github.com/knative/operator/blob/fd53bd554e19788c081861f1c9206e059a7c053c/cmd/fetcher/kodata/config.yaml#L28)

Try:
[code]

[2022-09-30 19:19] xfu83 commented on #1224
`high-availability` is used by us to set minReplicas for `HorizontalPodAutoscaler`  for knative-serving

https://github.com/knative/serving/blob/release-1.6/config/core/deployments/activator-hpa.yaml#L25

https://github.com/knative/operator/blob/8738a21c9c4f5b9d7b27fef0cc9230f264e8e2d0/pkg/reconciler/common/ha.go#L68

and i don’t think we can do the same with just the `deployments.replicas`
https:

[2022-10-03 20:51] houshengbo commented on #1212
@pierDipi
Do I need to pull all of the following files into kafka eventing sources to install?
eventing-kafka-source.yaml
eventing-kafka-controller.yaml
eventing-kafka-post-install.yaml

Knative operator 1.6 can support 1.3 kafka eventing source as the earliest. Can I replace the repo eventing-kafka with eventing-kafka-broker, starting from the version 1.3?

[2022-10-03 21:33] #1211 closed

[2022-10-05 23:06] #1206 closed

[2022-10-07 06:16] MaharaJothi opened #1241 "Unable to install Knative-Serving via Operator without istio"
**Describe the bug**
I installed Knative operator using below command:
`kubectl apply -f https://github.com/knative/operator/releases/download/knative-v1.7.0/operator.yaml`

Tried installing Knative-Serving component but it fails with below error:
YAML:
[code]
Output:
[code]

`please install istio or disable the istio ingress plugin: no matches for kind "Gateway" in version "networking.istio.io/v1

[2022-10-07 09:06] pierDipi commented on #1212
No, 1.6 is the release for the new one.

[2022-10-07 09:07] pierDipi commented on #1155
@houshengbo I didn't get your opinion on this fully, can you expand a little bit?

[2022-10-07 13:43] houshengbo commented on #1241
There are only 3 of the ingresses supported in the operator: istio as defaultif nothing is configured, contour and kourier.
By default, without specifying anything in spec.ingress, it will load the resources of istio, that was why you saw the error regarding istio gateway.

[2022-10-07 13:49] houshengbo commented on #1212
so I only need to replace 1.6 and 1.7 with new one. 1.4 and 1.5 still stay with the old version.

[2022-10-07 15:26] houshengbo commented on #1155
The current version of the custom resources is v1beta1.

I tend NOT to rename the field name within the same version, coz it will lead to compatibility issue and more trouble to maintain. The only change we do to the CRD within the same version is to add new fields.

For later version, like v1, we can think of rename this field and extend the capability to configure deployments, statefulsets, etc.

[2022-10-08 03:25] #1212 closed

[2022-10-11 04:57] #1241 closed

[2022-10-11 07:24] davesargrad commented on #1068
Thank you to the pointer 1007.

It does indeed look like it could be related.

Do you have a specific suggestion that I can try?

Sent from my iPad

On May 11, 2022, at 12:31 PM, Vincent ***@***.***> wrote:

﻿

I am not sure if this issue is related to #1007<https://github.com/knative/operator/issues/1007>.
If there is an issue with the webhook. You need to focus on the deployment of the operator-

[2022-10-18 18:24] #1155 closed

[2022-10-19 20:09] houshengbo opened #1262 "After installing serving with the operator, the activator shows the following errors"
Activator reports:
[code]

[2022-10-25 10:08] aruiz14 commented on #44
I ended up having the same question @AceHack and got to this issue.
I managed to find the answer here:
https://github.com/uber-go/zap/blob/master/level.go#L29

[2022-10-27 01:55] life-learner1 opened #1268 "kubernetes version "1.22.13-eks-15b7512" is not compatible, need at least "1.23.0-0""
**Describe the bug**
[code]

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**To Reproduce**
Steps to reproduce the behavior.

**Knative release version**
The Knative version, where you find this issue.

**Additional context**
Add any other context about the problem here such as proposed priority

[2022-11-02 00:17] remeq opened #1274 "Operator fails to install Knative Eventing when Kafka specified"
It seems that there has been some recent changes which causes Knative Operator to fail installing Knative eventing when Kafka source is specified. This worked a week ago. Strange is that it now it doesn't work neither for 1.8 nor 1.7 version.

In the pod there is following error:

[code]

The manifest is following:

[code]

Note that if I comment out the kafka source (and thus leave default rabbit

[2022-11-02 12:07] Kaiass commented on #1274
I also experience the same bug.
Didn't check it before but today tried to install kafka source and got the same RBAC error.

[2022-11-02 15:12] matzew commented on #1222
@houshengbo Is there additional work needed on the actual operator code base ?

[2022-11-03 20:18] elebiodaslingshot commented on #1274
Same issuer

[2022-11-06 16:05] davidhadas opened #1284 "Add support for Security-Guard"
**Problem**
Add support for installing the security-guard feature.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
System Operator

**Exit Criteria**
1. Deploy a new service with the appropriate annotations [as shown in the documentation](https://knative.dev/docs/serving/app-security/security-guard-quickstart/#creating-and-deploying-a-service)

2. Send an event to t

[2022-11-08 12:45] kahirokunn opened #1285 "Please Support net-gateway-api"
Currently there is no entry for `gateway-api` in IngressConfigs.
It would be great if you could support `net-gateway-api` when it graduates from the sandbox!

https://github.com/knative/operator/blob/de589bd2697d6bab4e04a3d376baff84ae2e40de/pkg/apis/operator/v1beta1/knativeserving_types.go#L85
https://github.com/knative-sandbox/net-gateway-api

[2022-11-08 15:26] davidhadas commented on #1284
/assign @houshengbo

[2022-11-09 17:07] davidhadas commented on #1284
We  merged knative/serving#13384 and knative-sandbox/security-guard#87.

Ready to start exploring operator work.

[2022-11-09 21:19] #1274 closed

[2022-11-10 20:03] batazor commented on #914
@jonnylangefeld @houshengbo Maybe we should reopen this issue or create a new one? Without a public chart, it is not very easy to update the operator

[2022-11-11 03:37] 24601 commented on #1211
Can confirm/having same behavior on 1.24.7, kn 1.8.1.

[2022-11-11 10:10] Morriz commented on #914
Also, if the knative cli is not needed to install an operator (which is usually a very simple chart), then I wouldn't like to be forced to use it. Why introduce unnecessary dependencies?

[2022-11-11 10:12] Morriz commented on #914
So strange to see that knative is still not serving the larger audience that uses helm.

[2022-11-11 15:16] jonnylangefeld commented on #914
I agree, a separate cli to install the operator isn’t quite what we’re looking for. Our CD pipeline installs lots of helm charts from public and in-House sources. It would be great if knative could just be another chart in that list.

/reopen

[2022-11-18 12:58] theomessin commented on #834
/reopen

[2022-11-18 12:58] theomessin commented on #834
/reopen

[2022-11-18 12:58] theomessin commented on #834
/remove-lifecycle stale

[2022-11-18 14:48] theomessin opened #1290 "Specify Kourier Load Balancer IP"
**Problem**
There's no declarative way of specifying the Load Balancer IP that Kourier should use.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
System Operator

**Exit Criteria**
There should be a way of specifying Kourier's Load Balancer IP using the Operator.
https://github.com/knative-sandbox/net-kourier/issues/747