[2020-03-31 13:44] houshengbo opened #2 "No prow jobs for this repository"
**Describe the bug**
When serving and eventing operators co-exist in one repository,
1. How to set up prow for projects under knative-sandbox?
2. How to set up the prow jobs? Do we consolidate them into one, or keep them separate for better issue track?

There are two type of jobs we need to consider:
[code]

and
[code]

When operators merge, keep them separate or consolidate into one?

**Expected

[2020-03-31 16:52] AceHack opened #3 "Security: Please set pod Security Context on all Pods"
Many companies have a security requirement in place that all pods must not run as root and set the run as user.  Please set this (Or allow it to be set) on all pods.  This would mean either adding it yourself or adding it to any CRDs that end up creating pods so the user can set it.  Note this is at the pod level, not the container level.  I will be creating a separate feature request for the cont

[2020-03-31 17:00] AceHack opened #4 "Security: Please set container Security Context on all Containers"
Many companies have a security requirement in place that all containers must have a read-only file system and not allow privileged escalation.  Please set this (Or allow it to be set) on all containers.  This would mean either adding it yourself or adding it to any CRDs that end up creating containers so the user can set it.  Note this is at the container level, not the pod level.  I have created

[2020-03-31 17:03] evankanderson commented on #2
I think this was done here: https://github.com/knative/test-infra/pull/1851

[2020-03-31 17:07] evankanderson commented on #2
Hmm, but Prow doesn't seem to be working here:

/close

[2020-03-31 17:21] AceHack opened #5 "Operations: Please allow setting nodeSelector, tolerations, and affinity on all Pods"
Most companies with complex enough kubernetes deployments that have multiple different node groups require some sort of topology selection so pods will run on the correct group of nodes.  Please allow setting nodeSelector, tolerations, and affinity on all Pods to accomplish this.  This includes adding it to any CRDs that create pods so these values are settable.

https://kubernetes.io/docs/concept

[2020-03-31 18:44] evankanderson commented on #2
/meow

[2020-03-31 19:55] evankanderson commented on #2
/close

[2020-03-31 19:55] #2 closed

[2020-04-07 20:29] evankanderson commented on #3
Context:

* It turns out that Twistlock scans and flags pods and containers running without these settings _even if the underlying container has these set in the Docker manifest_.
* `ko` will create docker images as non-root users with a minimal filesystem that the user doesn't have write access to (except perhaps `/var/log`).
* Given the popularity of Twistlock, it may be worth filing an issue ag

[2020-04-07 20:29] evankanderson commented on #4
Context:

* It turns out that Twistlock scans and flags pods and containers running without these settings _even if the underlying container has these set in the Docker manifest_.
* `ko` will create docker images as non-root users with a minimal filesystem that the user doesn't have write access to (except perhaps `/var/log`).
* Given the popularity of Twistlock, it may be worth filing an issue ag

[2020-04-08 19:55] houshengbo commented on #5
This is what is implemented in other operator:

NodeSelector: https://github.com/helm/charts/blob/master/stable/prometheus-operator/crds/crd-prometheus.yaml#L3223

Affinity: https://github.com/helm/charts/blob/master/stable/prometheus-operator/crds/crd-prometheus.yaml#L119

Tolerations: https://github.com/helm/charts/blob/master/stable/prometheus-operator/crds/crd-prometheus.yaml#L4523

[2020-04-09 15:03] AceHack opened #12 "Urgent Bug: webhook timeouts occur whenever node is rebooted"
**Describe the bug**
Any webhook that uses http2 causes issues in EKS (and other Kubernetes distributions) when a node is rebooted.  This is because of a known issue.  See references:

https://github.com/kubernetes/kubernetes/issues/80313
https://github.com/istio/istio/issues/13840#issuecomment-542968020
https://github.com/golang/go/issues/31643

Here is a short rundown of the problem:

- Golang h

[2020-04-09 16:37] evankanderson commented on #12
It looks like it should be possible to update the Knative webhook pods to set that environment variable, which is part of the Go HTTP libray:

https://golang.org/pkg/net/http/

[2020-04-09 16:57] tcnghia commented on #12
We can fix this at HEAD and cherry-pick to 0.13 as well.

[2020-04-09 16:59] tcnghia commented on #12
@evankanderson I'm going to assign this to myself, unless you are already working on it?  Feel free to reassign!

/assign

[2020-04-09 17:18] tcnghia commented on #12
It looks like the environment variable has been supported for a while, probably all you need to do is to change the webhook deployment to set that environment variable.

[2020-04-09 17:24] tcnghia commented on #12
@AceHack can you please try adding the following to your webhook deployment to fix your urgent restart?

[code]

[2020-04-16 23:51] AceHack commented on #12
I'm not sure how to get the operator to set these environment variables.  I don't see anywhere to set this in the CRDs.

[2020-04-17 07:26] aliok opened #19 "Add support for HA control plane for eventing"
Moved from: https://github.com/knative/eventing-operator/issues/156

Same as https://github.com/knative/serving-operator/issues/320 of serving operator

**Problem**
Now that leader election has landed in 0.13, we should make the operator deploy an HA configuration by default.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Users of the operator

**Exit Criteria**

[2020-04-17 07:27] aliok commented on #19
/assign @aliok

[2020-04-17 20:46] houshengbo opened #22 "Consistent way to get container images for deployments"
**Describe the bug**
Knative eventing deployments use env var to get container images, but Knative serving use the resource `Image` to define container images, e.g. queue-proxy.

**Expected behavior**
We need to have a consistent way for knative to get container images.

**To Reproduce**
Steps to reproduce the behavior.

**Knative release version**
The Knative version, where you find this issue.

[2020-04-20 12:31] aliok opened #23 "Eventing CR field for default channel"
**Problem**
 In eventing we have a configmap to update, to set/configure which channel is the default one (default-ch-webhook CM), like: https://github.com/knative/eventing/blob/master/config/core/configmaps/default-channel.yaml#L24-L31

We should better do it with a CR field, similar to `defaultBrokerClass`

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
System i

[2020-04-21 17:41] AceHack commented on #12
I was able to fix it with the following commands:
[code]

The operator does not overwrite these values

[2020-04-21 17:41] #12 closed

[2020-04-21 18:53] AceHack commented on #5
We found PodNodeSelector and PodTolerationRestriction admission controllers.
https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#podnodeselector
https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#podtolerationrestriction
https://github.com/kubernetes/kubernetes/issues/57424

But most hosted K8s control plane providers do not support them becau

[2020-04-21 19:00] AceHack commented on #4
We found
https://kubernetes.io/docs/concepts/policy/pod-security-policy/
But again twist lock does not seem to scan deep enough to detect these settings as of yet

[2020-04-21 19:00] AceHack commented on #3
We found
https://kubernetes.io/docs/concepts/policy/pod-security-policy/
But again twist lock does not seem to scan deep enough to detect these settings as of yet

[2020-04-21 22:16] jcrossley3 opened #26 "Remove all duplicate transformer code"
We don't want to maintain two separate code branches for the fields common to both `KnativeServing` and `KnativeEventing`. All of these files should be removed:

[pkg/reconciler/knativeeventing/common/config_maps.go](../tree/cf1f02a692de/pkg/reconciler/knativeeventing/common/config_maps.go)
[pkg/reconciler/knativeeventing/common/config_maps_test.go](../tree/cf1f02a692de/pkg/reconciler/knativeevent

[2020-04-22 14:29] jcrossley3 commented on #26
/assign

[2020-04-22 14:50] houshengbo commented on #26
Will they be used somewhere else other than in the code under pkg/reconciler?
Does pkg/reconciler/transformer work?

[2020-04-22 15:02] jcrossley3 commented on #26
Sure. Do you like that better than `pkg/reconciler/common`? (just in case we have shared stuff other than transformers)

[2020-04-27 09:06] nak3 commented on #12
Hi @tcnghia sorry for bother you, but will you fix this at HEAD and cherry-pick to 0.13, 0.14?

[2020-04-28 15:06] #26 closed

[2020-04-28 15:23] houshengbo opened #38 "Unstable integration tests with Serving Operator CR KSOperatorCRVerifyConfiguration"
**Describe the bug**
The integration test with KSOperatorCRVerifyConfiguration has become unstable. Sometimes, it reports cannot update the serving operator CR due to obsolete CR content.
If we add retry mechanism of getting the CR, change the cr content, and update the CR, it will resolve it.

**Expected behavior**
Integration test should be idempotent.

**To Reproduce**
Not sure. You can find it

[2020-04-29 06:33] AceHack opened #44 "Please list all loglevels for all componenets"
**Problem**
I would like to know all loglevels I can set.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
https://github.com/knative/eventing/blob/master/docs/personas.md#system-integrator

**Exit Criteria**
All components loglevels are documented.

**Time Estimate (optional):**
Very small

**Additional context (optional)**
For serving I see I can set:
https://git

[2020-04-29 12:27] matzew opened #47 "Resources override for eventing"
In the "old" serving operator, there was a feature added to override the `resources:` section.

See here: https://github.com/knative/serving-operator/pull/362

It would be nice if that was possible on the _eventing_ bits as well.

/assign @jcrossley3

[2020-04-29 12:28] lberk commented on #23
/assign

[2020-04-30 16:17] #47 closed

[2020-04-30 17:07] evankanderson opened #56 "Support decoupling operator and installed software versions"
(copied from https://github.com/knative/serving-operator/issues/301)

**Problem**
Today, the serving yaml is packaged and read from the `.kodata` file in the serving-operator image. This has several negative consequences:
1. It's hard to package an operator that installs nightly
2. If serving needs a cherry-pick or patch, the serving operator needs to cut a new release, too.
3. We don't have a goo

[2020-04-30 17:08] evankanderson commented on #56
Questions from @houshengbo:

[2020-04-30 17:08] evankanderson commented on #56
I'll work these into the doc by Monday

[2020-04-30 19:20] houshengbo commented on #56
Once users directly gain the power of customize yaml with any options, how valuable is the operator API still?
It will surely become the ultimate solution to any user issue.

[2020-05-05 17:46] houshengbo opened #64 "Serving Operator should provide an option that all ingress gateways are configured"
If a user creates a custom ingress gateway, istio may select a gateway at random (https://github.com/knative/serving/issues/5163#issuecomment-521815915). The operator should provide a way to ensure that the ingress gateway always works.

This relies a bit on https://github.com/knative/serving/issues/5172.

I believe this could work by montoring gateways and adjusting the config-istio to account fo

[2020-05-05 17:47] houshengbo commented on #64
By @trshafer
[code]

[2020-05-05 17:47] houshengbo commented on #64
Some discussions in the community:

[code]

[2020-05-05 17:48] houshengbo commented on #64
@markusthoemmes This is all the information I collected for this feature so far.
Plz write up your idea in terms of an proposal for this feature. Thx.

[2020-05-06 10:57] aliok commented on #19
Not sure if this ticket is valid still as the operators/controllers share lots of code now

[2020-05-06 17:05] jcrossley3 opened #73 "Indicate which deployments are scalable, i.e. highly-available"
**Problem**
We currently hard-code which deployments in the manifest are scaled when `spec.high-availability.replicas` is changed. And PR #71 makes this even more unwieldy.

It would be better to be able to dynamically determine scalable candidates from the upstream manifest itself.

**Additional context (optional)**
Slack convo with @pmorie re adding an annotation, `knative.dev/high-availability=

[2020-05-07 13:28] aliok opened #76 "Unable to override image for the upgrade job"
**Describe the bug**
Unable to override image for the upgrade job.

**Expected behavior**
Able to override image for the upgrade job

**To Reproduce**
No way of overriding jobs in https://github.com/knative-sandbox/operator/blob/master/pkg/reconciler/common/images.go#L46

**Knative release version**
0.14

[2020-05-07 15:35] #76 closed

[2020-05-08 14:59] houshengbo commented on #56
I add the following content as a comment to the proposal as well.

How about using this feature as an easy first step with following configuration options?

1. Install the official Knative with a specific version.
This configuration means NO customization on any official knative yaml files. Operator can automatically pull the official knative releases, coz we know the links. Users just specify a v

[2020-05-08 15:08] markusthoemmes commented on #56
I agree with the sentiment, yes. The API surface needs some bikeshedding though.

[2020-05-08 16:22] evankanderson commented on #56
Yeah -- I'm not sure that declaring "version" in the custom object when pointing to a manifest is the correct approach, since the manifest might actually be for some other version.

Also, if `manifests` is a list (as the name implies), then I'd expect a list of objects, each with a single `sourceUrl`. Right now, your `manifests` seems to be both a list and an object, which I'm not sure is valid JS

[2020-05-08 21:38] houshengbo commented on #56
For the `sourceUrl`, we can stay with the list. The object of comma-separated yanl files is just an option for the manifestival package, since it is a supported format to input yamls.

If we only specify the links of the yamls, how can the operator CR get the version or build number? So far the version is hard-coded here: https://github.com/knative-sandbox/operator/blob/master/version/version.go#L

[2020-05-09 14:27] jcrossley3 commented on #64
I think we need to have a solution in place for this before we recommend this operator. At a minimum, we need an option in the CR for disabling istio entirely. This is for downstream consumers who already have another ingress, e.g. kourier, configured.

[2020-05-11 07:35] markusthoemmes commented on #64
@jcrossley3 while I agree we need to solve this, the existing "recommended" knative-serving-operator has the exact same behavior. I don't think the combined operator makes that any better or worse (yet).

[2020-05-11 10:13] matzew commented on #23
related: the field might have two shapes:

* `namespaceDefaults` and `clusterDefault` see the matching config, on knative-eventing

[2020-05-11 10:18] aliok commented on #23
Yeah it is the same for `defaultBrokerClass`.
I ended up parsing the YAML and not touching the field(s) other than `clusterDefault`. Otherwise I was thinking of a string replace.

[2020-05-11 14:46] jcrossley3 commented on #56
Do we really need the "sourceUrl:" prefix for every item in the list? Seems redundant.

[2020-05-11 17:25] houshengbo commented on #56
@evankanderson @jcrossley3 Do we have a way to retrieve the version number, by parsing the manifest of serving?
e.g. Reading all over the resources, and locating the label `serving.knative.dev/release`?
Can we get the version number this way?

[2020-05-12 02:18] houshengbo commented on #64
Added the proposal @markusthoemmes drafted: https://docs.google.com/document/d/1AQBGCIoUAB8Whg02MVWdujMj8O-OWFvPbccoctMbgJA/edit#

[2020-05-12 15:23] houshengbo commented on #56
@jcrossley3 `sourceUrl` is the field name. My understanding is that we may need different field names to specify different urls.
sourceUrl is used for url of knative components.
xxxUrl is used for url of network ingress...

[2020-05-12 16:09] evankanderson commented on #56
My thought was that having a list of objects rather than a list of URLs would allow additional fields (such as an expected checksum of the object).

I think we have version information as annotations on specific resources. What's the use case for knowing the version for the entire yaml file? (I ask so that we can focus on putting the information in the right place -- maybe in the CR or maybe in th

[2020-05-12 16:10] evankanderson commented on #56
(oops, tab-enter did the wrong thing)

[2020-05-12 16:20] jcrossley3 commented on #56
Additional fields, e.g. checksum, makes sense, thanks. I'd still prefer `url` or `path` just to conserve space, though ;)

[2020-05-12 16:30] houshengbo commented on #56
@evankanderson The operator's CRs need to fill in the version number. If we specify the yamls by url, where to get this version:
https://github.com/knative-sandbox/operator/blob/eec6b1b2a372159c4f992686c71d363849171b23/pkg/reconciler/common/install.go#L50

[2020-05-12 16:30] markusthoemmes commented on #56
In my mind, the API looks roughly like this:

[code]

Which then allow for the YAML to look like this:

### Default

[code]

### Overridden

[code]

### Overridden with checksums

[code]

[2020-05-12 16:31] markusthoemmes commented on #56
@houshengbo the version **always** needs to be specified in the spec I think. It should not be inferred from the YAML I think.

[2020-05-25 23:54] nak3 opened #100 "Add KnativeServing's each config to CRD schema"
**Problem**

Currently KnativeServing's config section [does not have each properties](https://github.com/knative/operator/blob/b8df8bd797a180f04a72593f032b556969b0f854/config/300-serving.yaml#L60-L67) such as `observability`, `network`, `gc` and so on.
Due to this, `kubectl explain knativeserving.spec.config.tracing` does not explain anything.

We would like upstream to have the description for e

[2020-05-26 05:28] markusthoemmes commented on #100
I think we already have a "quasi-schema" in there anyway, as we rely on the fields of the upstream (serving in this case) configmap. We rely on those being somewhat stable already and I know at least Serving handles them with due diligence wrt. their naming and meaning and backwards compat.

I don't see a blocker from doing this.

[2020-05-26 13:18] jcrossley3 commented on #100
I didn't even know it was possible to document valid keys in `spec.config`. I had assumed we'd just introduce `spec.tracing` instead.

[2020-05-26 15:06] jcrossley3 commented on #100
Oh, now I see, you're proposing we change config to not be an arbitrary "map of maps". I'd prefer we not do that. Better to create type-safe fields for `spec.tracing` instead.

[2020-05-26 15:08] markusthoemmes commented on #100
I think this is a middle ground. It adds a schema to the fields, where applicable. I think we can have the best of both worlds here: Set a schema on keys we already know, but still allow additional keys that we might not know of.

I agree that long term, proper types is the better way but this would make even the current API a bit more useful without having to go that route (+ ensuring a migration

[2020-05-26 15:29] jcrossley3 commented on #100
I think the less structure we impose on `spec.config` the better. I don't want to add/remove fields when upstream adds/removes ConfigMaps.

[2020-05-28 16:05] houshengbo opened #105 "Retry logic only tries once to verify the deployment resources of Knative serving"
**Describe the bug**
The retry logic does not really retry. It only tries once to verify the knative serving resources.

**Expected behavior**
The retry logic should keep retrying until timeout.

**To Reproduce**
Run the integration tests for knative serving.

**Knative release version**
All.

**Additional context**
Add any other context about the problem here such as proposed priority

[2020-05-31 02:21] houshengbo opened #109 "Update the manifestival package to use the latest commit in master"
**Describe the bug**
The manifestival library has implemented new functions described as below:
[code]

**Expected behavior**
Knative operator need this function to compare two manifests, and generate the diffs.

**Knative release version**
All.

[2020-05-31 02:36] houshengbo opened #111 "Upgrade test suites are rigid and hard-coded with lists of deployment resources"
**Describe the bug**
It is very inconvenient to manually check the resources each time, once there is a new release. Knative operator needs to re-check or even re-write some hard coded resources for check-up in upgrade test suites. For example, the list of expected deployment resources.

**Expected behavior**
The upgrade tests for both serving and eventing should be more dynamic, without hard code

[2020-05-31 04:19] nak3 opened #112 "enabledComponents in config-leader-election configmap should be configurable"
**Describe the bug**

The `config-leader-election` configmap has the fixed value as:

https://github.com/knative/operator/blob/d25a4d4e8fb6bb5b6ca6171f4e9fbc94b5c27384/pkg/reconciler/knativeserving/common/ha.go#L30

It is a critical problem when we try to install network plugin like Kourier in the same namespace. It does not allow us to add the extra component to enabledComponents so we cannot use

[2020-05-31 08:22] houshengbo opened #113 "Lift the limit of reading versions from version/version.go"
**Describe the bug**
Serving and eventing version are hard coded in the file version.version.go. Operator needs a way to dynamically determine a default version to install.

**Expected behavior**
The structure of kodata/knative-serving and kodata/knative-eventing can be refactored into a list of dirs, containing supported versions, under each one. We can get the version based on the dir name, and

[2020-06-01 02:19] #105 closed

[2020-06-01 13:09] jcrossley3 commented on #112
I'm curious: what should the value be for kourier? I wonder if we can't do something similar to what we plan to do for the components: https://github.com/knative/operator/issues/73

[2020-06-01 13:12] jcrossley3 commented on #109
I plan to release 0.6.0 soon, fwiw.

[2020-06-01 13:32] aliok commented on #73
/assign

[2020-06-01 13:47] aliok commented on #73
Ideally we should also https://github.com/knative/operator/issues/112 part of this

[2020-06-01 13:54] houshengbo opened #114 "Consolidate all the upgrade tests in golang"
**Describe the bug**
We used to lack of library to look up resources, and compare two different manifests. We had to use some bash scripts to verify the resources of the previous Knative deployments. Now, we should implement the resource verification in golang tests, since manifestival library has given us the power to compare manifests.

**Expected behavior**
All the test cases should be written

[2020-06-01 13:55] houshengbo commented on #109
@jcrossley3 Will pick it up, when it is released.

[2020-06-01 14:04] #109 closed

[2020-06-01 14:36] houshengbo opened #116 "Change the structure of kodata to host multiple versions"
**Describe the bug**
This is one piece of foundational work of the feature decoupling operator from Knative components: the kodata/knative-serving and kodata/knative-eventing need to have a new structure. Yaml files of one release needs to be put under a directory, with its name matching the release version.

**Expected behavior**
Yaml files of one release needs to be put under a directory, with i

[2020-06-01 15:42] #116 closed

[2020-06-02 11:02] Gallardot opened #119 "Quick start error"
**Describe the bug**
[code]

[code]
**Expected behavior**
No error

**To Reproduce**
[code]

**Knative release version**
the k8s version is v1.17.6

**Additional context**

[code]

[2020-06-03 07:23] Gallardot commented on #119
When I exposed LoggingConfig root error https://github.com/knative/pkg/pull/1373, I found the following exception
[code]

I think the root cause is we set the `default` namespace as the default namespace of the subjects.

https://github.com/knative/operator/blob/ef08e53f40b3986be7f0849f4caa0c484319ea08/config/role_binding.yaml#L15-L26

If we want to set the `default` namespace as the default names

[2020-06-03 12:56] houshengbo commented on #119
@Gallardot Thanks for opening this issue.
I am wondering what kube platform you are using. How did you configure it?(I did not reproduce this issue. operator always go with default, and knative serving and eventing will go with the ns specified in the CRs.)

Operator takes `default` as the namespace. Does it make any difference adding `namespace: default` or not adding `namespace: default`?
Is `kn

[2020-06-03 15:18] #113 closed

[2020-06-03 16:12] Gallardot commented on #119
I use Minikube to do this quick start.

The `knative-system` namespace is created by myself.

I use the [kubectx](https://github.com/ahmetb/kubectx) to swtich to `knative-system` namespace.  Because we want to install knative-operator on `knative-system`  namespace.

[code]

If we want to set the default namespace as the default namespace for knative-operator, we should also add a default namespac

[2020-06-04 02:43] Gallardot commented on #119
Agree. Knative Operator is still in Alpha phase. Quick Start should be more friendly to beginners.  😁

If production ready, maybe we could provide a Helm Chart or kustomize. We don't want to deploy applications in `default` namespace, especially in a production environment.

[2020-06-04 11:59] matzew opened #127 "release 0.14 branch can not run `update deps`"
**Describe the bug**

running the `./hack/update-deps.sh`, I am getting:

[code]

**Expected behavior**

works, like on master

[2020-06-04 11:59] matzew commented on #127
/assign @houshengbo

[2020-06-04 12:34] matzew commented on #127
/assign @aliok

[2020-06-04 17:32] #119 closed

[2020-06-05 18:02] #111 closed

[2020-06-09 12:15] aliok commented on #112
/assign

[2020-06-09 21:33] #114 closed

[2020-06-15 12:36] aliok commented on #23
/assign

[2020-06-16 15:08] houshengbo opened #136 "How to handle the unknown status.version to a certain version of operator?"
**Describe the bug**
As operator is able to support multiple versions of knative for installation. How to handle the `unknown version` of knative to a certain version of operator?

For example, operator of 0.16 may only support 0.14.x, 0.15.x and 0.16.x of knative. If there is an existing CR indicating an existing Knative 0.13.0 with `status.version` equal to 0.13.0, how to deal with that?

**Expe

[2020-06-16 15:14] houshengbo commented on #136
Based on the current code, the quick and easy fix can be `logging warning message to indicate the older/unknown version is not recongnized, or unable to upgrade to the current version`. `We only support to upgrade to the next MINOR version`...

[2020-06-16 15:15] houshengbo commented on #136
@jcrossley3 I am not sure if I understand correctly about `unknown` version. To me, it is an obsolete version, not covered by the current version of operator.

[2020-06-16 15:25] jcrossley3 commented on #136
Whatever you call it, we have to account for it. If we can't obtain the installed manifest, we can't reliably delete cluster-scoped resources or identify any that might be obsolete. We need to be clear on what we expect the user to do in that case.

Even with the current, single-version operator we couldn't reliably delete all the cluster-scoped resources when the CR was deleted, but we never had

[2020-06-16 15:29] houshengbo commented on #136
@jcrossley3 Once we add the support to fetch all the manifests online, do you think it will resolve the issue of removing cluster-scoped resources?

To me, it sounds like `yes`. Am I correct?

But for upgrade, we still raise the warning of `cannot upgrade across multiple minor versions...`

[2020-06-16 15:33] jcrossley3 commented on #136
@houshengbo it'll help, but even then we shouldn't assume network connectivity. It's probably safest to do nothing at all if we can't obtain the installed manifest. Maybe just set the CR status saying the operator doesn't support it and they'll need to re-install the previous operator to properly delete the CR?

[2020-06-16 15:39] jcrossley3 commented on #136
They could still choose to delete the CR with the newer operator. It could make a best effort to get the oldest manifest it has and log a warning that some cluster-scoped resources may still exist. At least that way a savvy admin could avoid having to re-install the operator if they weren't worried about dangling resources.

[2020-06-16 21:08] houshengbo opened #139 "Operator should only support upgrade or downgrade to the adjacent MINOR version"
**Describe the bug**
Upgrade and downgrade paths are limited to the next and the previous minor version.
Knative operator does not guarantee upgrade and downgrade support across multiple minor versions.

**Expected behavior**
Reconcile function should check whether the target and installed versions are within one MINOR version.
If not, reconcile function logs an error message, informing the users

[2020-06-16 21:59] jcrossley3 commented on #139
Link to slack discussion about this: https://knative.slack.com/archives/CEPGNPHP1/p1591291458329700

It's not clear to me that this issue is the logical result of that conversation.

[2020-06-17 13:17] houshengbo opened #141 "Add the support to download manifests online"
**Describe the bug**
Knative bundles several knative releases in kodata directory. If a certain version is not available in kodata, but available online on the knative releases page, we should be able to download them.

**Expected behavior**
Download the manifests online, if they are unavailable in kodata, but available online.

**Knative release version**
Master

**Additional context**
None

[2020-06-17 13:31] jcrossley3 commented on #141
Hook is here: https://github.com/knative/operator/blob/78064d65f657492ce17bbc6391e99d0dd9c5f953/pkg/reconciler/common/releases.go#L89

[2020-06-17 18:42] houshengbo opened #142 "Add the label `operator.knative.dev/release: devel` to all operator resources"
I suggest we add the label `operator.knative.dev/release: devel` to all the resources released by the operator.

[2020-06-18 13:19] #142 closed

[2020-06-18 14:37] houshengbo commented on #141
@jcrossley3 Take the Knative Serving 0.15.1 as an example, we need to download multiple artifacts online, like https://github.com/knative/serving/releases/download/v0.15.1/serving-crds.yaml, https://github.com/knative/serving/releases/download/v0.15.1/serving-core.yaml, etc.
Is it possible that the function `mf.NewManifest` can download multiple files at a time, or we need to donwload them one-by-

[2020-06-18 17:39] jcrossley3 commented on #141
Yes, the path can include multiple, comma-delimited URL's, and they'll all be fetched and combined into a single `Manifest`.

[2020-06-18 23:31] warrenvw commented on #127
This issue can be closed. I have verified `./hack/update-deps.sh` runs without error.

[2020-06-19 17:46] houshengbo opened #148 "Improve `deleteObsoleteResources` by deleting the resources Not In the target manifest"
**Describe the bug**
The func `deleteObsoleteResources` is rigid, because it maintains all the resources to delete.
As manifestival is able to compare two manifests, we are able to find out the diffs between two manifests and delete the diffs.

**Expected behavior**
Delete the resources, which exist in the previous manifest, but do not exist in the target manifest to install.

**Knative release ve

[2020-06-19 17:47] houshengbo commented on #148
@jcrossley3 Is this what we can do for next PR?

[2020-06-19 17:51] jcrossley3 commented on #148
Yes, I've been waiting on #138
/assign

[2020-06-23 17:47] #148 closed

[2020-06-24 17:58] houshengbo opened #156 "Release 0.14 and 0.15 operator in operatorhub"

[2020-06-24 17:59] houshengbo commented on #156
/assign @aliok

[2020-06-24 20:44] houshengbo opened #158 "Document the process to release knative operator in operatorhub"
Document the process to release knative operator in operatorhub.

[2020-06-24 20:44] houshengbo commented on #158
/assign @aliok

[2020-06-24 20:48] houshengbo opened #159 "Add the job sidecar transformer to all the job"
**Describe the bug**
The resources Job needs to be have the annotation `"sidecar.istio.io/inject": "false"`.

**Expected behavior**
Operator needs to have a transformer func to add this annotation.

**Knative release version**
All.

[2020-06-25 08:02] matzew commented on #156
+1 would be good feature.

and perhaps we than also remove the other operators, for separate serving / eventing bits

[2020-06-25 08:02] matzew commented on #156
Perhaps we should PR those are deprecated ?   before directly remioving ?

[2020-06-25 08:03] matzew commented on #127
/close

[2020-06-25 08:03] #127 closed

[2020-06-25 08:07] matzew commented on #23
I guess we can close this now, @aliok ?

[2020-06-25 09:17] matzew commented on #23
/close

[2020-06-25 09:17] #23 closed

[2020-06-25 13:57] houshengbo opened #162 "Run the upgrade tests for eventing in operator"
Knative eventing has the upgrade tests in place. Operator can download the eventing repo and run the test cases to verify the eventing upgrade.

[2020-06-26 19:58] #162 closed

[2020-06-30 05:25] nak3 opened #165 "Adding a new annotation or label is supported?"
**Problem**

- This is a kind of question but opened this ticket to confirm it for sure.
- When adding a new label or annotation to a deployment or template.metadata.annotation, it is not reconciled by operator.
- For example, following labels or annotations are NOT reconciled.

e.g 1
[code]
e.g 2
[code]

So, is it alright to add new labels or annotations by users' command? My concern is that it i

[2020-06-30 16:47] jcrossley3 commented on #165
I believe the behavior depends on _how_ the user adds the annotation or label. The operator will apply a three-way merge using the value of the `kubectl.kubernetes.io/last-applied-configuration` annotation. So if a user adds the annotation/label using `kubectl apply` that will of course include those in `kubectl.kubernetes.io/last-applied-configuration`. And because they're there and not in the op

[2020-06-30 16:54] jcrossley3 commented on #165
The operator should behave exactly as if some other user is invoking `kubectl apply` on the resource you're attempting to label/annotate. That behavior is described here: https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/#merge-patch-calculation

[2020-06-30 22:16] jcrossley3 opened #166 "e2e tests should run in an arbitrary namespace"
While using the operator to install into a namespace other than `knative-serving`, I discovered [a manifestival bug](https://github.com/manifestival/manifestival/issues/55). The bug wasn't revealed until I actually tried to create a Knative Service, so our current e2e tests may need to be enhanced to replicate that, but regardless, I think we should be running our tests inside an arbitrary namespa

[2020-07-03 01:41] nak3 commented on #165
Thank you @jcrossley3 Yes, that makes sense.

But so, in a nutshell, it is safe to add annotation by `kubectl patch deployments.apps -n knative-serving activator -p '{"spec":{"template":{"metadata":{"annotations":{"sidecar.istio.io/inject":"true"}}}}}'`?

What I am worried is that the annotation might be removed during upgrade or some events. If it is not 100% sure, I would like operator to suppor

[2020-07-03 13:13] jcrossley3 commented on #165
The annotation should remain as long as the deployment exists, and it should remain even when other fields are changed -- even other annotations -- because the operator should leave it alone if it's not mentioned in its internal manifest.

Of course, if it's ever deleted and re-recreated, the annotation won't survive that, obviously.

And if `kubectl apply ...` is used, that won't work either.

If

[2020-07-03 13:26] jcrossley3 commented on #165
BTW, if this annotation is related to istio, it could be handled as a part of our new ingress API: #92

[2020-07-06 09:59] nak3 commented on #165
Thank you so much @jcrossley3 It is super clear now. I am closing this.

[2020-07-06 09:59] #165 closed

[2020-07-06 11:31] aliok commented on #156
OperatorHub PR: https://github.com/operator-framework/community-operators/pull/1949
I will send a PR in this repo once PR above is merged.

[2020-07-06 11:32] aliok commented on #158
I am at the moment creating the artifacts for the 0.15.1 of the operator.
However, this is the first time we're creating it for this operator.
I will document it next time as the process will be an update process and will be simpler.

[2020-07-07 21:37] houshengbo commented on #166
Both of serving and eventing have the same job named `storage-version-migration`.
This blocks knative from running under the same namespace.

[2020-07-08 05:00] #166 closed

[2020-07-10 03:01] houshengbo opened #184 "Our function installed.Filter(mf.Not(mf.In(*manifest))) has problem finding the diffs between two manifests"
If I install 0.15.2 knative eventing with 0.15.2 operator, then add 0.16.0 knative eventing into kodata and install operator on source code, the function installed.Filter(mf.Not(mf.In(*manifest))) will yield:
[code]
There are 24 sources, available in 0.15.2, not in 0.16.0. In fact, the result is totally wrong. All the CRDs listed above exist in 0.16.0 as well. The function to find the delta is wor

[2020-07-10 03:02] houshengbo commented on #184
@jcrossley3 We have got a PROBLEM with manifestival package. PLZ have a look.

[2020-07-10 12:34] jcrossley3 commented on #184
Eventing bumped its apiVersion for those resources from v1beta1 to v1. What specifically do you think is "totally wrong"?

[2020-07-10 13:09] houshengbo commented on #184
thanks for the info. I will see if test cases can be changed.

[2020-07-10 14:55] houshengbo commented on #184
Take the following CRD resource for example:
0.15.2:
[code]

0.16.0:
[code]
The field apiVersion has changed.

First, install knative eventing 0.15.2, including the above resource.
If we try to access the resource via the dynamic client `clients.Dynamic.Resource(gvr).Get(resource.GetName(), metav1.GetOptions{})`, using `apiextensions.k8s.io/v1beta1`. We able to get the resource.
Then, upgrade to e

[2020-07-10 15:37] jcrossley3 commented on #184
I'm no expert on API evolution, but what you're describing makes sense to me. On a cluster that may have v1beta1 instances, they are available. On a cluster that has never had that version installed, they're not.

What are you expecting?

[2020-07-10 15:38] jcrossley3 commented on #184
We may very well need to prevent CRD's from being deleted, but that has nothing to do with the title of this issue.

[2020-07-10 16:34] jcrossley3 opened #185 "Something removes Job's 'spec.ttlSecondsAfterFinished', causing an infinite loop in reconciler"
Neither the `KnativeServing` nor the `KnativeEventing` CR's ever completely reconcile, because it appears *something* removes the `spec.ttlSecondsAfterFinished` field from the created Job and manifestival keeps trying to put it back.

At least, that's what I *think* is happening.

[2020-07-10 16:38] jcrossley3 opened #186 "`DeleteObsoleteResources` should not delete CRD's"
Not even old ones, I think, since instances of them may linger.

[2020-07-10 16:38] jcrossley3 commented on #186
/assign

[2020-07-10 17:08] houshengbo opened #189 "No need to verify CRD's and webhooks in upgrade test cases"
If version is the only difference between two CRD's or webhooks, manifestival considers them as different, but they should still exist in the cluster after upgrade.

Test cases for upgrade should not verify them

[2020-07-10 18:20] #186 closed

[2020-07-10 20:31] houshengbo commented on #184
I am thinking of whether manifestival can support:
1. Comparing resources between two manifests, we should NOT put the resource in the list of diffs, if version is the only difference.
2. Do not delete CRD, comparing two manifests.

[2020-07-13 16:42] houshengbo opened #191 "Webhook `subscriptions.messaging.knative.dev` unable to downgrade"
0.15.x to 0.16.0 goes fine, but 0.16.0 to 0.15.x fails on eventing.

Error message when downgrading from 0.16.0 to 0.15.x for eventing:
[code]

0.15.3 CRD:
[code]

0.16.0 CRD:
[code]

[2020-07-13 16:51] houshengbo commented on #191
@jcrossley3 Have you seen this error?
FYI @vaikas

[2020-07-13 17:34] jcrossley3 commented on #191
No. And I don't fully understand how the v1 and v1beta1 CRD schemas are supposed to reconcile.

[2020-07-13 17:34] houshengbo commented on #191
[code]
As @vaikas said, we need to run the above command.
How can we add it into knative operator 0.15 branch?

[2020-07-13 17:38] houshengbo commented on #191
As we do three-way merging with manifestival, v1beta1 -> v1 is fine. But v1->v1beta1, crd is still v1.

[2020-07-13 18:17] jcrossley3 commented on #184
This was an incorrect assumption on my part, so I can fix https://github.com/manifestival/manifestival/issues/67

Outside of the scope of manifestival, I think, but now fixed in the operator itself.

[2020-07-13 19:12] vaikas commented on #191
Perhaps we could release a .15.4 that has the subscription CRD definition changed like this:
Current:
[code]

Change it to this:
[code]
Do you have a way to try out with that change to see if the downgrade goes clean? If it does, we could cut a release with that.

[2020-07-13 21:42] #184 closed

[2020-07-13 21:42] #189 closed

[2020-07-14 13:10] aliok opened #195 "Deprecate old operators on OperatorHub"
**Problem**
Old operators should not be used anymore and should be deprecated on OperatorHub

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
Old operators are deprecated on OperatorHub

**Time Estimate (optional):**
1

**Additional context (optional)**
Relevant: https://github.com/knative/operator/issues/156

[2020-07-14 13:12] aliok opened #196 "Delete old operators on OperatorHub"
**Problem**
Old operators should not be used anymore and should be deleted on OperatorHub.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
There's this ticket to deprecate them first: https://github.com/knative/operator/issues/195
Wait for a while (1 month) in deprecated state and then delete them there.

Also

[2020-07-14 13:13] aliok commented on #156
Created 2 tickets for deprecating and deleting the old operators on OperatorHub:
- https://github.com/knative/operator/issues/195
- https://github.com/knative/operator/issues/196

[2020-07-14 13:18] aliok opened #198 "Publish 0.15.2 on OperatorHub"
Publish 0.15.2 on OperatorHub
Similar to https://github.com/knative/operator/issues/156

[2020-07-14 13:19] aliok opened #199 "Publish 0.15.3 on OperatorHub"
Publish 0.15.3 on OperatorHub
Similar to https://github.com/knative/operator/issues/156

[2020-07-14 13:33] aliok commented on #158
We can't use OperatorSDK anymore in our operator here.
All the work I did in https://github.com/operator-framework/operator-sdk/pull/2511 is now obsolete as OperatorSDK team decided on a new format.

I will just write some basic instructions instead of creating a script.

[2020-07-14 14:34] aliok commented on #198
OperatorHub PR: https://github.com/operator-framework/community-operators/pull/1986

[2020-07-14 14:44] aliok commented on #199
OperatorHub PR: https://github.com/operator-framework/community-operators/pull/1987

[2020-07-14 16:35] markusthoemmes opened #673 "Allow downstream projects to catch up with upstream releases"
Knative currently releases on a 6 week release cadence. That's awesome for getting features out quickly, but it makes it hard for downstream projects, that might be on a slower release cadence, to keep track of upstream. We're facing that in Openshift Serverless currently. Kubeflow has fallen behind quite a bit in releases too.

Should we make it possible for such downstream projects to be able to

[2020-07-14 17:16] evankanderson commented on #185
https://kubernetes.io/docs/concepts/workloads/controllers/ttlafterfinished/

[2020-07-14 17:40] evankanderson commented on #185
The `TTLAfterFinished` feature is alpha behind a feature gate, apparently.

[2020-07-15 17:51] #185 closed

[2020-07-20 12:42] duglin opened #206 "Selective Eventing install"
Since eventing is a group of tools, rather a single unit/component, it might be nice if people could choose which parts of eventing they want installed. As an extreme example, if someone just wanted the ping source and nothing else, it doesn't seem right to require them to install all of the other controllers for resources they have no intention of using.

[2020-07-20 13:55] #156 closed

[2020-07-21 18:34] #139 closed

[2020-07-21 21:19] JCzz opened #209 "Knative operator on the roadmap & using kubebuilder or Operator Framework"
Hi

1. I am interested(new) in creating custom operatores for k8s and Knative and wondering if you are using kubebuilder or Operator Framework?

2. I have previously installed Knative not using operatores and I am wondering if this is the way to go for future installations. I am starting on a new project, so maybe I should use Knative operatores - if this is on the roadmap as being the way to go f

[2020-07-23 11:21] aliok opened #212 "Publish 0.16.0 on OperatorHub"
Publish 0.16.0 on OperatorHub
Similar to https://github.com/knative/operator/issues/156

[2020-07-23 11:21] aliok opened #213 "Publish 0.15.4 on OperatorHub"
Publish 0.15.4 on OperatorHub
Similar to https://github.com/knative/operator/issues/156

[2020-07-23 11:21] aliok commented on #213
/assign

[2020-07-23 11:21] aliok commented on #212
/assign

[2020-07-23 11:52] aliok commented on #195
https://github.com/operator-framework/community-operators/pull/2058

[2020-07-23 16:02] #198 closed

[2020-07-24 15:49] houshengbo opened #215 "Change the bahavior when spec.version is not set"
If spec.version is not set, we now pick the latest available version under kodata for knative.

I am rethinking if we should change it:
1. when spec.version is not set and there is no knative installed, pick up the latest.
2. when spec.version is not set and there is Knative install, stay with the existing version.

We need to give users staying with older versions a chance, to incrementally bump

[2020-07-24 16:00] jcrossley3 commented on #215
This is a pretty significant change. Currently, we have downstream users who expect to upgrade their knative install by simply upgrading their knative operator. If I understand you correctly, you're suggesting we should instead expect them to not only upgrade their operator but also edit their knative CR, correct? Why?

[2020-07-24 21:42] Cynocracy commented on #215
We could consider using a sentinel version, maybe something self-descriptive like 'adopt-oncluster'

[2020-07-25 16:55] evankanderson commented on #215
I'm not convinced that this is necessary or expected behavior.

If upgrading from 0.15 to 0.16, `spec.version` will be unset. In previous versions of the operator, upgrading the operator would _implicitly_ upgrade the version of serving. While that's no longer a requirement, it seems reasonable to preserve that behavior.

For non-operator-managed installs, it similarly seems reasonable to consider

[2020-07-27 05:53] evankanderson opened #216 "Custom Object doesn't provide feedback on invalid `spec.version`"
**Describe the bug**
If `spec.version` is an invalid value, the KnativeServing or KnativeEventing object stays in a state that appears to be unreconciled (`Ready=Unknown`) with no errors described

**Expected behavior**
An error condition should be set and `Ready` should be `False`.

**To Reproduce**
1. Install the 0.16 operator.

1. Create a KnativeServing object like so:
[code]

1. Once reconcil

[2020-07-27 07:32] nailushapotnuru opened #217 "Difference in Eventing code from 0.15.4 to 0.16.1 release (channel_broker & mtchannel_broker)"
**Deploy Knative-Eventing using Knative-operator**

**Description:**

Yaml file reference for channel_broker image and mtchannel_broker:

https://github.com/knative/operator/blob/master/cmd/operator/kodata/knative-eventing/0.16.1/2-eventing.yaml#L2881
https://github.com/knative/operator/blob/master/cmd/operator/kodata/knative-eventing/0.16.1/2-eventing.yaml#L3565

I am working on Installing 0.16.0

[2020-07-27 13:49] houshengbo commented on #215
@evankanderson @jcrossley3 From 0.15.x to 0.16.x, only going up one minor version, the upgrade works fine.
However, when you try install 0.16.x on top pf an existing 0.14.2 with CR created, you will end up with warning message "version not supported to upgrade..." constantly popping up in the log. The CR status shows `error` too. Knative service still function. I just do not feel comfortable with

[2020-07-27 14:18] Fabian-K opened #218 "Customize generated Gateways"
**Problem**
When installing KnativeServing using the KnativeServing CRD, the operator creates the Istio Gateway `knative-ingress-gateway`. This gateway is configured with protocol http and port 80.

I´m also using the extension GitHubSource (https://github.com/knative/eventing-contrib). The extension internally creates Knative Service instances and uses them as a target for webhooks in GitHub.

I

[2020-07-27 19:50] jcrossley3 commented on #215
So, to be clear, your use case is not just that `spec.version` isn't set. It's that `spec.version` isn't set *AND* `status.version` is more than one minor release behind the latest provided by the operator. I think the solution depends on the result of this: https://github.com/knative/serving/issues/8629

[2020-07-27 20:21] Cynocracy commented on #215
I'm convinced that the spec unset case *where the Operator was already
managing installation* should stick to latest.
If that translates into 'when status is set, always use latest' I'm happy
with that behavior :)

On Mon, Jul 27, 2020 at 12:51 PM Jim Crossley <notifications@github.com>
wrote:

[2020-07-28 15:53] houshengbo commented on #216
@evankanderson When the time comes, is it time for us to add validationwebhook into operator?

[2020-07-28 15:57] houshengbo opened #219 "Good idea to separate CR and knative components into different namespaces?"
We now install operator CR and knative under the same namespace.

I was asked by the production team in my company, whether they can be put under different namespaces.

The benefit is that when the ns of knative is removed by accident, the CR can still revive it.

[2020-07-28 16:39] jcrossley3 commented on #219
Very early incarnations of the operator did exactly this. Ultimately, it led to confusion since cross-namespace owner-refs aren't allowed, so we couldn't rely on garbage-collection to delete the namespace-scoped resources. Strangely, we also received complaints from users that they couldn't find the CR associated with their deployed knative component[s]. We eventually decided the `spec.namespace`

[2020-07-28 16:42] jcrossley3 commented on #216
Can't the operator do this as easily as a webhook could? Why introduce the complexity?

[2020-07-30 01:13] Cynocracy opened #221 "Operand Framework"
https://docs.google.com/document/d/1Ntp3L2jwCgKeEF9l0yCA0PvZ1hDGGmeqjDTN45Im-ok/edit#

[2020-07-30 01:14] Cynocracy commented on #221
/assign Cynocracy

[2020-07-30 15:45] Cynocracy commented on #221
Updated with a working shared link :( sorry about that!

[2020-07-30 16:56] kramvan1 commented on #219
In our case we are managing the operator CR's in a different namespace for to allow complete separation from any namespace(s) the operator has to maintain.   The CR itself and it's namespace are reconciled independently to allow recovery from any deletions or changes.   Our users don't need to care about the CR or where it's located, it's all managed/controlled for them.

The operator control plan

[2020-07-31 15:16] jcrossley3 opened #222 "Support new "ha by default" changes"
i think [this change](https://github.com/knative/eventing/pull/3564) means our transformer shouldn't be setting the `enabledComponents` entry in the leader election configmap anymore.

[2020-08-04 06:39] jimoosciuc opened #223 "CRD/v1 conversion webhook cannot correctly be transformed to the specified namespace"
**Describe the bug**
When deploy eventing components in specified namespace(such as knative-system) through the operator,  the conversion.webhook of CRD such as brokers.eventing.knative.dev still points to knative-eventing.

**Expected behavior**
Deploy the eventing component in specified namespace, CRD conversion.webhook points to the specified namespace.

**Knative release version**
0.16

[2020-08-04 16:13] evankanderson commented on #219
How would the operator + CR recover from the control plane namespace being deleted? Once that namespace is deleted, none of the operator processes would be running.

[2020-08-04 16:39] kramvan1 commented on #219
Operator and CR are in separate ns from the control plane, this allow them to be managed and controlled independently of the control plane.

[2020-08-04 20:04] matzew opened #225 "Removing KnativeEventing does not delete all pods"
**Describe the bug**
Install the operator, than the `KnativeEventing` CR file.

Now delete the eventing bits, via

[code]

This will remove the actual deployments, but not the "batch jobs". You will see this as left overs:

[code]

There is a workaround to delete the namespace. But not more.

**Expected behavior**

all would be deleted.

[2020-08-04 20:06] matzew commented on #225
This is true for 0.14, 0.15 and 0.16

Any thoughts, @houshengbo, @aliok, @jcrossley3  ?

[2020-08-04 20:09] jcrossley3 commented on #225
I assumed it's functioning as designed. What problem is it causing you?

[2020-08-04 20:39] cardil commented on #225
Those leftovers are there even if administrator decided to uninstall eventing. It might create confusion, as someone could think that removal process doesn't completed successfully.

[2020-08-06 14:34] houshengbo commented on #225
Operator transforms the name into something unique each time, making sure the job is launched.
If we want to remove them, we need to remove the jobs by the transformed names, in stead of the original names.

[2020-08-06 15:14] houshengbo opened #227 "Adding `spec.manifests` support to specify customized yamls"
This is one feature documented in https://docs.google.com/document/d/1ehd5Yx4aSottuv7FYW4JeplNULJCs7nnDfy29y3NH8k/:

Operator CRs have supported `spec.version`. Next, we will offer admins the flexibility to specify links of customized yamls.

[code]

Admins can specify the the manifests by the full URL links, or links with ${version} parameter to be replaced by the spec.version.
For example, if on

[2020-08-06 19:42] jcrossley3 commented on #227
Any particular reason for `sourceUrl`? Can it just be `url`? Or even just a string unless there are other fields for each manifest, in which case, can they be listed here, too?

[2020-08-06 19:44] jcrossley3 commented on #225
I'm surprised the GC doesn't delete the pods when the corresponding job is deleted. That's either a k8s bug, or it's designed that way for a reason, right?

[2020-08-07 13:28] cardil commented on #225
It's designed like that for a reason. That reason being some human run that job and would like to see results, afterwards. But, this isn't the case as those pods are created by automated system, no human told k8s to run them. As an internal thing to knative, I think it should be cleaned up by knative. Either after run, or at uninstall.

[2020-08-07 14:04] jcrossley3 commented on #225
Given that it's working as designed, and that at least [one of the jobs is specifying exactly how long it should hang around](https://github.com/knative/operator/blob/master/cmd/operator/kodata/knative-eventing/0.16.1/1-eventing-pre-install-jobs.yaml#L269), I'd be nervous about indiscriminately deleting them. Can we at least confirm that [enabling the `TTLAfterFinished` feature gate](https://kuber

[2020-08-10 14:24] houshengbo commented on #227
I just copied and pasted the contents in the design doc.
'sourceUrl' can be replaced with "URL".

[2020-08-10 18:25] houshengbo commented on #227
**For new official releases:**
If there is a new knative serving release, e.g. 0.17.0, we can install this version, with the current operator without bundling. The serving CR is written like:
[code]

**For customized releases:**
Manifests can be published anywhere, e.g. `https://my-knative/serving/releases/v0.17.0/serving-core.yaml`.
Define serving CR as:
[code]

[2020-08-12 07:06] matzew opened #231 "Provide better configuration options for Knative Eventing"
**Problem**
Some options are not easily to configure, using the operator. Some have a direct field on the `spec`, like for `defaultBroker`, and some are a bit more "complex" to configure, via embedding ConfigMap cfg into the spec, like described here: https://knative.dev/development/install/operator/configuring-eventing-cr/#eventing-configuration-by-configmap

**Missing options**

It is currently

[2020-08-12 07:09] matzew commented on #225
/closing, as this works as designed

[2020-08-12 07:11] matzew opened #232 "Describe Eventing config for System Resource Settings"
**Problem**

In the doc for eventing: https://knative.dev/development/install/operator/configuring-eventing-cr/

I am not seeing an example on howto configure System resource settings.

Serving does that:
https://knative.dev/development/install/operator/configuring-serving-cr/#system-resource-settings

[2020-08-12 07:20] matzew commented on #231
True with current MASTER as well

[2020-08-12 07:47] matzew commented on #232
/assign

[2020-08-12 09:19] matzew commented on #225
/close

[2020-08-12 09:19] #225 closed

[2020-08-13 14:15] #159 closed

[2020-08-13 17:13] houshengbo opened #240 "Unstable downgrade with operator leading to uncleaned obsolete resources."
Unstable downgrade in prow.

I have not reproduced this issue locally, but it happens very often in the prow job `pull-knative-operator-upgrade-tests`.
After the operator downgrades knative into the previous version, the obsolete resources are not cleaned-up.
It does not happen every time, but it's really annoying as a blocker of prow build.

[2020-08-13 20:07] houshengbo opened #242 "Refactor the cache mechanism"
After we implement the support of customized yamls, there are several work items related to the cache mechanism:

1. If multiple customized yamls are specified, but the order is different, how can we save it as the same record.
2. If the links of customized yamls remain the same, are we able to force a refresh of the cache? It is possible that the yaml contents linked by the URLs have been changed

[2020-08-13 20:43] chasewalden commented on #209
@JCzz To answer your first question: Neither

An Operator is only a design pattern - no special framework is required. Kubebuilder/Operator-SDK both are tools for bootstrapping a new project and taking care of some of the mundane boilerplate. The controller-runtime pkg (which is what you use in both Kubebuilder and Operator-SDK) is just an abstraction of client-go and apimachinery and provides som

[2020-08-13 22:40] #223 closed

[2020-08-14 18:36] #227 closed

[2020-08-14 18:51] houshengbo opened #244 "Behavior of spec.manifests and spec.version"
The field spec.version and spec.manifests should be used as follows:

1. If the links specified by spec.manifests consists of ${version}, spec.version SHOULD be set. Otherwise, operator rejects with error message in the CR.

2. If the links specified by spec.manifests do not consist of ${version}, spec.version SHOULD NOT be set. Otherwise, operator rejects with error message in the CR. In this cas

[2020-08-16 18:28] evankanderson commented on #216
I think using the operator to provide this feedback makes more sense than trying to up-front validate something that could be expanded in a manifest string to locate a file.

[2020-08-17 17:55] #244 closed

[2020-08-17 19:58] houshengbo opened #248 "The sign ${} does not work any more"
I am not sure if this is brought by knative or general kubernetes platform.
If a string field in the CRD consists of ${}, e.g. ${NAME},
[code]
{NAME} is dropped. When we retrieve spec.field, we can only see prefixsuffix.

[2020-08-17 20:46] #248 closed

[2020-08-18 13:23] matzew commented on #231
@houshengbo  ping

[2020-08-18 20:55] #141 closed

[2020-08-19 09:24] matzew opened #249 "Install sugar controller for 0.17"
**Problem**

with the 0.17 release, labeling a namespace for the broker no longer works.
To have a backwards compatible feature, let's ship the optional sugar controller in the operator

[2020-08-19 10:29] aliok commented on #231
/assign

[2020-08-20 07:07] aliok commented on #231
@markusthoemmes @houshengbo @Cynocracy @jcrossley3

Unless anybody has a better idea, I would like to add a new field in the CR to override the env vars in the manifests.
Similar to image overrides.

For example:

[code]

This would look for all env vars in all PodSpecables' containers and override as necessary.

Not sure if we want to go more specific, supporting the PodSpecable name, container n

[2020-08-20 07:10] matzew commented on #231
I think the benefit from this is that it would potentially work for new ENV_VARs easily.

While, I guess, the code is more messy, than for an actual field on the spec, right ?

[2020-08-20 07:11] matzew commented on #231
[code]

In eventing, we have a few `controller` containers... so... that will me funky to get that work

[2020-08-20 13:59] aliok commented on #231
@jcrossley3 and I had a chat he suggested to have a typed field in the spec for this. ...and, I think it is better.

So, it will be like:
[code]

[2020-08-20 19:52] cardil opened #252 "Upgrade tests for Eventing should utilize Knative Serving forwarder component"
Eventing upgrade test has been written in a way that there is an optional forwarder component, that is implemented as Knative Service. See diagram at https://github.com/knative/eventing/tree/c8aa486/test/upgrade#probe-test. That was created in this way to test if there are no additional problems with cooperation between Serving and Eventing while upgrading or downgrading.

This repo installs Servi

[2020-08-20 19:54] cardil commented on #252
/kind bug

[2020-08-20 19:54] cardil commented on #252
/remove-kind bug

[2020-08-20 19:54] cardil commented on #252
/assign

[2020-08-20 20:51] houshengbo opened #253 "TestInitialScalePostUpgrade failed as postupgrade test, after upgrading to 0.17 serving"
https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_operator/251/pull-knative-operator-upgrade-tests/1296540928600707074

Using operator to upgrade serving 0.16.0 to serving 0.17.0, TestInitialScalePostUpgrade tests failed after switching to 0.17.0 knative serving.

[code]

[2020-08-21 00:14] Cynocracy commented on #253
huh, interesting.

[2020-08-21 00:16] Cynocracy commented on #253
In the logs I see
[code]

Maybe the cluster is getting close to full?

[2020-08-21 00:29] tcnghia commented on #253
@vagababov is this same with the autoscaling bug?

[2020-08-21 00:34] Cynocracy commented on #253
Is the bug that the autoscaler scales things down to 0 with an initScale?

[2020-08-21 02:29] vagababov commented on #253
yeah it looks like the one we fixed already.
Will be released in 0.17.1.

[2020-08-21 06:25] aliok commented on #231
@matzew The spec field won't fix this problem for other env vars, if we need more. But having properly typed API is a much better UX.

Next time we need an env var to override, we can still create a new field in the spec, but the code change will be easy.

[2020-08-24 17:16] Cynocracy commented on #240
I'm willing to look into this, it seems like a good fit for one of the new CRDs I've been playing around with.

[2020-08-24 17:17] Cynocracy commented on #222
/assign Cynocracy

[2020-08-24 19:27] Cynocracy commented on #242
For 2 we could set up a periodic reconcile to look for changes to the URLs.

[2020-08-26 19:29] houshengbo opened #259 "Redundant log info as of 0.17 Knative manifests"
When operator picks up the 0.17 manifests if knative serving, the prow job logs a lot of information, which did not pop up in earlier knative serving versions. They are all logged by `kubelogs.go:197`, making the prow job info very difficult to locate any useful info or error:

[code]
One example can be accessed via: https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_operator/251/p

[2020-08-26 19:29] #253 closed

[2020-08-29 00:06] ZhiminXiang opened #260 "Figure out how Kingress pluggability fits into Operator"
**Problem**
I think currently Operator only supports installing Istio as the Kingress solution for Knative, while in Knative, we also have other Kingress solutions, e.g. contour, kourier.

It would be great to consider the Kignress pluggability and support various Kingress solutions.

[2020-09-02 01:20] nak3 commented on #64
@houshengbo may I ask you the status of this feature? (cc @ZhiminXiang )

[2020-09-03 05:40] lephyrius opened #264 "ConfigMap gets overwritten"
**Describe the bug**
I have a Kubernetes cluster with istio and Knative installed with Knative Operator.
`kubectl apply --filename https://github.com/knative/operator/releases/latest/download/operator.yaml`
After I installed everything I apply this config map:
[code]

But after a couple of hours it resets to the default map again with the `example.com` domain.

**Expected behavior**
I expect my do

[2020-09-03 05:55] lephyrius commented on #264
I think I found the answer here:
https://knative.dev/development/install/operator/configuring-serving-cr/#serving-configuration-by-configmap

So I need to use the operators own api?
[code]

Please confirm if this is the case.

[2020-09-03 16:25] #158 closed

[2020-09-03 17:20] jcrossley3 commented on #264
Using the operator's API is the safest way, yes.

If you insist on changing the ConfigMap directly, you can, but you must `kubectl edit` instead of `kubectl apply`. Otherwise, the `last-applied-configuration` annotation is updated, and the operator will interpret any field in there that's *NOT* in the official release yaml as one that should be removed, according to the strategic merge patch algor

[2020-09-04 17:45] patrickleet opened #269 "KNative with AutoTLS causes knative-ingress-gateway to flip flop between configurations"
**Describe the bug**
When using KNative installed via the operator, and with Istio and AutoTLS via certmanager the `gateway` `knative-ingress-gateway` configuration flip flops back and forth between the default empty configuration and the dynamic configuration from istio.

This causes the HTTPS routes to stop receiving requests each time the operator switches the configuration back.

[code]

And o

[2020-09-04 18:01] houshengbo commented on #269
@jcrossley3 In this situation, both operator and net-istio will reconcile on the resource `knative-ingress-gateway`.

I am wondering why 3-way merging does not help here. How can we possible resolve this autoTLS issue?

[2020-09-04 18:18] tcnghia commented on #269
cc @ZhiminXiang

[2020-09-04 18:20] ZhiminXiang commented on #269
For release 0.17, we no longer reconcile knative-ingress-gateway for auto TLS feature. could you please try it?

[2020-09-04 18:24] jcrossley3 commented on #269
If they're attempting to set the *same* fields, they'll battle infinitely. If the fields are not in conflict *and* istio doesn't set the `last-applied-configuration`, I would expect each controller to be satisfied. However, it's rarely a good idea for two controllers to control the same resource.

[2020-09-04 18:28] ZhiminXiang commented on #269
A newbie question: why does Operator need to reconcile knative-ingress-gateway? My understanding is that currently we use knative-ingress-gateway as the "API" for users to configure TLS etc. Will the Operator revert the changes made by users?

[2020-09-04 18:33] patrickleet commented on #269
I'll give it a go with 0.17 when I get a chance - may not be til Monday

[2020-09-04 19:10] houshengbo commented on #269
@patrickleet plz give 0.17 a try.

[2020-09-04 19:22] jcrossley3 commented on #269
I confirmed istio is NOT setting the `last-modified-configuration` annotation, so that's good.

My guess is that if all istio was doing was adding elements to the `spec.servers` list, there'd be no problem, but because something is also adding `tls: httpsRedirect: true` to the first server -- the one "owned" by the operator -- that triggers a reconcile/update.

Personally, I don't believe the oper

[2020-09-04 19:39] houshengbo commented on #269
@ZhiminXiang `knative-ingress-gateway` is only available in net-istio.yaml.
This is istio specific gateway resource. When we use istio as the ingress, net-istio.yaml is installed, so `knative-ingress-gateway` is installed and reconciled in the operator.

[2020-09-08 16:39] patrickleet commented on #269
ok I upgraded to 0.17..

It does not seem to be injecting the hosts entries into the gateway:

Before, for example, this was added to the gateway when a new ksvc was created:

[code]

Now it just seems to stay like this despite adding and removing ksvc's and never reconciles the ksvc's that were already existing:

[code]

[2020-09-08 16:52] ZhiminXiang commented on #269
@patrickleet Those TLS entries of knative services were moved to separate Gateways under the same namespace of your knative services. If you run `kubectl get gateway -n <your-ksvc-namespace>`, you should be able to see them.

[2020-09-08 16:59] patrickleet commented on #269
@ZhiminXiang ah yes - in that case, seems to be working!

[2020-09-08 18:38] #269 closed

[2020-09-16 11:37] #252 closed

[2020-09-17 02:48] AceHack commented on #3
/remove-lifecycle stale

[2020-09-17 02:49] AceHack commented on #4
/remove-lifecycle stale

[2020-09-17 02:49] AceHack commented on #5
/remove-lifecycle stale

[2020-09-17 02:49] AceHack commented on #44
/remove-lifecycle stale

[2020-09-22 01:53] AceHack commented on #5
Is it possible to follow a pattern like in serving for setting node selectors on the serving pods such as activator, autoscale, controller, etc...

https://github.com/knative/serving/issues/1816

[2020-10-05 19:03] houshengbo opened #292 "The deployment webhook fails to launch, with the installation with the operator"
The deployment `webhook` fails to launch with the following error for the webhook pod:
[code]

[2020-10-05 19:16] houshengbo commented on #292
I am not sure the reason why this happened.

[2020-10-06 14:43] houshengbo opened #297 "TestContinuousEventsPropagationWithProber failing on `waiting for forwarder scales to zero: wathola-forwarder: timed out waiting for the condition`"
If we set E2E_UPGRADE_TESTS_SERVING_USE to true, eventing installed by operator will end up with the following test case failing:

[code]

[2020-10-06 15:02] houshengbo opened #298 "Add the support to install event sources"
**Problem**
We cannot install any event resource available in https://github.com/knative/eventing-contrib.
Install the event sources available in the repo eventing-contrib. Make the CR able to configure the list of event sources, to be installed in the knative eventing.
The custom resource will look like this:
[code]

We can use a comma separated string to specify all the event sources to be insta

[2020-10-06 15:03] houshengbo commented on #298
We used to have a discussion on this feature: https://github.com/knative/eventing-operator/issues/92

[2020-10-06 15:15] matzew commented on #298
How does that relate to:   https://github.com/knative/operator/issues/206  ??

[2020-10-06 16:23] cardil commented on #297
/assign

[2020-10-06 17:01] houshengbo commented on #297
This env var E2E_UPGRADE_TESTS_SERVING_USE will determine whether to leverage the serving and the ingress(istio for instance), enable usage of ksvc forwarder.
Eventing cannot run independently with E2E_UPGRADE_TESTS_SERVING_USE=true, so this is a test case, which has to be tested in operator, because operator can consolidate serving, eventing and the ingress together.

[2020-10-12 12:13] alitari commented on #292
Got this problem after updating from 0.17 to 0.18. A clean installation ( deleted the namespace `knative-serving`) fixed the problem.

[2020-10-12 13:40] antoineco opened #302 "Eventing v0.18.0 is being reconciled continuously"
**Describe the bug**

Knative Eventing v0.18.0 seems to be reconciled continuously, unlike Serving.

After Eventing is done syncing ("Reconcile succeeded. Time taken: 14.748377338s"), another sync loop starts immediately ("Reconciling KnativeEventing").

**Expected behavior**

Eventing eventually reaches a stable state and resyncs slow down, or do not occur anymore.

**To Reproduce**

I'm using a

[2020-10-14 13:13] matzew commented on #249
it's there: https://github.com/knative/operator/blob/master/cmd/operator/kodata/knative-eventing/0.17.5/5-eventing-sugar-controller.yaml

/close

[2020-10-14 13:13] #249 closed

[2020-10-17 01:36] #112 closed

[2020-10-17 01:36] #136 closed

[2020-10-17 01:37] #100 closed

[2020-10-17 01:37] #73 closed

[2020-10-17 01:37] #56 closed

[2020-10-17 01:37] #38 closed

[2020-10-17 01:37] #22 closed

[2020-10-17 01:37] #19 closed

[2020-10-21 20:10] AceHack opened #313 "Any thoughts on when 18.1 will be released?"
Just curious on supporting the latest serving and eventing

[2020-10-22 17:22] houshengbo commented on #313
it is done automatically every tuesday, when we merge changes into release-0.18 branch.

[2020-10-22 17:24] houshengbo commented on #302
@antoineco This is the normal behavior.
As long as the KnativeEventing CR does not reach the READY status, it will keep in reconciling till it does.
It may reconcile multiple times before eventing CR becomes READY.

[2020-10-22 17:27] houshengbo opened #316 "Support the MAJOR.MINOR format for the value of `spec.version`"
We support the format of MAJOR.MINOR.PATCH for the field `spec.version`.
As we need to align serving and eventing components with other components at the MINOR number, it is convenient for the operator to support the MAJOR.MINOR format for the field `spec.version`.

[2020-10-22 17:33] antoineco commented on #302
But is it expected that it reconciles over and over again, even when the CR is "Ready"? We've been seeing the messages posted above for 10 days continuously, yet our `KnativeEventing` object remains Ready.

[2020-10-23 14:41] AceHack commented on #313
I just mean it's been a few tuesdays since eventing and serving has been updated and this seems to be lagging behind.

[2020-10-26 08:42] matzew opened #324 "CRD_beta1 API is used"
**Describe the bug**
use of deprecated API:
* https://github.com/knative/operator/blob/master/config/300-serving.yaml#L15
* https://github.com/knative/operator/blob/master/config/300-eventing.yaml#L15

**Expected behavior**
use of `v1`

**Knative release version**
all

**Additional context**
Starting w/ k8s 1.22 the `v1beta1` of the CRD API is no longer around

[2020-10-26 14:42] #216 closed

[2020-10-26 23:25] #316 closed

[2020-10-27 18:06] antoineco commented on #292
I just ran into this. No matter how many times I restarted the `webhook` Pod, it wouldn't become Ready.

I noticed that my `webhook-certs` wasn't populated:

[code]

I ended up increasing the initial delay of the liveness probe as in https://github.com/knative/serving/pull/9661, and eventually my certs got generated:

[code]

Now the webhook is up:

[code]

[2020-10-27 18:14] antoineco opened #330 "Allow users to define additional manifests without wiping the Serving/Eventing core"
**Problem**

After defining a custom `manifest` in my KnativeServing object, the entire core Serving landcape was wiped.

I was expecting the operator to deploy my manifest _additionally_ to the core. I think most people do want to have the Knative core when using the operator, so this behaviour was a bit surprising to me, and not that easy to recover from in a live cluster.

**[Persona:](https://

[2020-10-29 02:56] nak3 opened #337 "Update HA logic"
**Describe the bug**

- As per current HA logic code in https://github.com/knative/operator/blob/18aca414e5109ee3f66b4431430616c65ef799ab/pkg/reconciler/knativeserving/common/ha.go
it still checks `enabledComponents` in configmap. The parameter was removed by https://github.com/knative/serving/commit/584d41b1723f3a7aa7ab4181638793f47cb2a430.
- Also, the HA serving's components are basically "contr

[2020-10-30 15:37] cardil commented on #297
I think, I know what cause this. It was a PR knative/eventing#3539 (cc @vaikas) that changed the way we wait for resources readiness.

The crucial line is this one: https://github.com/knative/eventing/blob/8d571d4/test/upgrade/prober/prober.go#L114

At this line we should wait until all waits are done, including waiting for forwarder ksvc to scale down, it that's enabled. That should complete befo

[2020-10-31 02:58] treyhyde opened #340 "sinkbinding missing RBAC permissions for Deployment"
**Describe the bug**
sinkbinding won't go ready

**Expected behavior**
sinkbinding goes ready

**To Reproduce**
Create a sinkbinding attached to a deployment

[code]

**Knative release version**
1.18.3

**Additional context**
[code]

`kubectl describe sinkbinding` will tell you

[code]

[code]
Knative installed via the operator.

[2020-10-31 10:20] antoineco commented on #340
Deployment is in the `apps/v1` API group. You used `batch`, which is incorrect.

[2020-10-31 10:24] antoineco commented on #313
It's released now. @AceHack can you check that you can now deploy the version you expected?

[2020-10-31 16:20] AceHack commented on #313
Yep, thank you very much

[2020-10-31 16:24] antoineco commented on #313
/close

[2020-10-31 16:24] #313 closed

[2020-10-31 22:19] treyhyde commented on #340
thanks for pointing that out.   bit by example cut and paste.

[2020-10-31 22:19] #340 closed

[2020-11-03 14:37] antoineco opened #343 "Release notes for v0.18.1 and v0.18.2 are identical"
https://github.com/knative/operator/releases

[2020-11-03 14:38] antoineco opened #344 "Latest release not marked as latest"
https://github.com/knative/operator/releases

![image](https://user-images.githubusercontent.com/3299086/97998600-9b4d0180-1dea-11eb-84ed-9a2dd559bff8.png)

The latest release is v0.18.2 at the time of writing.

[2020-11-04 16:18] houshengbo commented on #343
v0.18.2 has no change except the update on some dependencies.

[2020-11-04 16:57] antoineco commented on #343
Exactly, so the changelog should be empty, right?

[2020-11-11 14:32] houshengbo commented on #337
@nak3 Initially, the HA in operator only supported the leader-selected deployments:
https://knative.dev/docs/install/operator/configuring-serving-cr/#high-availability. It was just controller, autoscaler-hpa, and networking-istio.

Per enabledComponents, I think we probably need to keep it for a while, because operator maintain minor version minus 3. Old version of knative serving could still have

[2020-11-12 01:14] #191 closed

[2020-11-13 01:16] #196 closed

[2020-11-13 12:34] antoineco commented on #344
I see that other Knative projects never mark any release as "latest". Maybe the operator should do the same, because it's confusing.

[2020-11-19 01:22] #206 closed

[2020-11-19 20:22] antoineco commented on #344
/close

[2020-11-19 20:22] #344 closed

[2020-11-22 01:26] #213 closed

[2020-11-22 01:26] #212 closed

[2020-11-22 01:26] #195 closed

[2020-11-24 06:44] zhaojizhuang opened #361 "Error no such file or directory when Using Operator"
**Problem**
when I install Knative Serving using Operator
if fails,logs as follows:
[code]
Error: `Warning' reason: 'InternalError' stat : no such file or directory"`

Operator CR is :

[code]
**Expected behavior**
install knative-serving successfully

**To Reproduce**

**Knative release version**
The Knative operator 0.18.0
kubernetes 1.19.4

**Additional context**
Add any other context about the

[2020-11-24 08:41] zhaojizhuang commented on #361
It succeed when i use operator 0.19.0

[2020-11-24 10:14] zhaojizhuang opened #362 "Allow Users to configure the namespace to install knative-serving and knative-eventing"
**Problem**
Allow Users to configure the namespace to install knative-serving and knative-eventing

**Operator should create namespace automatically**，while Now the namespace must be created manually.

And namespace (where install knative-serving) should be configured in `operator.knative.dev/v1alpha1` `KnativeServing`

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)

[2020-11-24 10:14] zhaojizhuang commented on #362
/help

[2020-11-24 10:15] zhaojizhuang commented on #362
cc @mattmoor @komestmus

[2020-11-24 10:25] zhaojizhuang commented on #362
Note the related issue #219 is already open

[2020-11-24 12:31] arghya88 commented on #362
@zhaojizhuang so we add two new configuration parameter called `knative-eventing-namespace` and `knative-serving-namespace` in the spec section using which users can specify the target namespace where  knative serving and knative eventing resources resources will be created while keeping the `KnativeServing` and `KnativeEventing` in a separate namespace which is specified via `metadata.namespace`

[2020-11-24 12:43] zhaojizhuang commented on #362
@arghya88 Is there a detailed document? Maybe this document needs to be updated
 https://github.com/knative/operator/blob/master/docs/configuration.md

[2020-11-24 13:38] arghya88 commented on #362
No I was talking about a potential way to implement it

[2020-11-24 13:51] zhaojizhuang commented on #362
@arghya88 yeah, I agree with this proposal. At least it is necessary to create namespace (same namespace with CR `KnativeServing`)  automatically.

[2020-11-24 18:24] houshengbo commented on #361
@zhaojizhuang Are you using
[code]
to install 0.18.0 operator? What is your existing environment?

I just tried. Knative serving can install fine with the creation of

[code]

[2020-11-24 18:40] houshengbo commented on #362
The official document of operator is here: https://knative.dev/docs/install/knative-with-operators/
Currently, you need to create the namespace first, and then install the KnativeServing or KnativeEventing CR under that namespace to install the knative conponent.

[2020-11-24 18:57] antoineco opened #363 "v0.19.0 breaks Istio by creating the knative-local-gateway Service in the wrong namespace"
**Describe the bug**

This service is in the wrong namespace:

https://github.com/knative/operator/blob/e2a94a7d5d4eb385838c0c07fe506eb6a889f99c/cmd/operator/kodata/knative-serving/0.19.0/4-net-istio.yaml#L122-L126

It should in `istio-system`: [knative-sandbox/net-istio/config/203-local-gateway.yaml](https://github.com/knative-sandbox/net-istio/blob/6d3c16ed030af079d882d8ef2f9d0f2925c425df/config

[2020-11-24 19:12] antoineco commented on #363
After changing the namespace by creating the Service manually, Serving internal names start resolving again:
[code]

[2020-11-24 21:00] #363 closed

[2020-11-25 02:37] zhaojizhuang commented on #361
@houshengbo yes,using `0.18.0 operator.yaml` to install 0.18.0 `knative-serving`, and I can't repeat it also

[2020-11-25 20:07] aaron-trout opened #373 "Support ServiceAccount annotations"
**Problem**
To allow the knative controller to contact Amazon ECR for resolving tags to SHAs, I need to add an annotation to the controller `ServiceAccount` object which is created by the operator. (This is the EKS IRSA annotation to specify the IAM role which can read from the registry)

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Which persona is this feature

[2020-11-26 01:27] #218 closed

[2020-11-26 01:27] #217 closed

[2020-11-26 01:27] #215 closed

[2020-11-29 01:31] #221 closed

[2020-12-01 13:10] nak3 commented on #337
Yeah, the operator maintain minor version minus 3, then `enabledComponents` should be remained.

For HA components, ingress plugins also needs to be considered once https://github.com/knative/operator/pull/312 was merged.

[2020-12-01 15:13] houshengbo commented on #373
@aaron-trout I am not sure I catch 100%.

Could you give us an example?
Like what is the name of the ServiceAccount? What does the annotation look like?
What is the current ServiceAccount?
What is the expected ServiceAccount?

[2020-12-01 15:27] houshengbo commented on #361
@zhaojizhuang Give 0.19.1 a try. Catch the latest release.

[2020-12-03 01:42] #219 closed

[2020-12-03 02:31] houshengbo commented on #343
Based on the previous patch releases, I keep the base note(0.x.0) the same, and also append what is new in this certain patch.

[2020-12-03 02:50] nak3 opened #376 "activator's PDB creates with no disruptionsAllowed when there are a few replicas"
Since https://github.com/knative/serving/commit/591510c0c917d4b45ea919568181a75426b543e0 was introduced, activator's PDB has `80%` and operator includes [the PDB](https://github.com/knative/operator/blob/release-0.18/cmd/operator/kodata/knative-serving/0.18.2/2-serving-core.yaml#L2101-L2112) without any change.
PDB 80% creates with zero `disruptionsAllowed` even if we have 2 or some replicas, so i

[2020-12-03 02:52] nak3 commented on #376
FYI @vagababov @julz

[2020-12-03 14:29] aaron-trout commented on #373
@houshengbo sure thing! So when installing the serving component the operator creates a `ServiceAccount` which looks like this:

[code]

but for assigning an IAM role to the Service Account in Amazon EKS, I need to add an annotation to this Service Account to allocate an IAM role which the controller uses to contact our private Amazon ECR registry (for the serving controller "resolve tags to SHAs"

[2020-12-03 14:59] antoineco commented on #343
That doesn't sound right to me, and not how release notes typically work, but I'm gonna lose that fight. Closing.

[2020-12-03 14:59] #343 closed

[2020-12-07 08:11] #330 closed

[2020-12-08 20:40] antoineco opened #382 "Resource settings do not propagate"
**Describe the bug**

Resources requirements defined as described at https://knative.dev/docs/install/operator/configuring-eventing-cr/#system-resource-settings do not propagate to the target deployment(s).

Tested in an already existing installation, didn't test in a new installation.

**Expected behavior**

Resources requirements do propagate.

**To Reproduce**

[code]

**Knative release version

[2020-12-08 20:45] antoineco commented on #382
This worked, as recommended by @houshengbo: `container: dispatcher`.

Probably the documentation should be outdated, or the mapping should be somehow fixed.

[2020-12-10 15:31] nak3 opened #387 "Add DomainMapping yaml"
**Problem**

DomainMapping was added since Serving v0.19 https://github.com/knative/serving/tree/release-0.19/config/domain-mapping.
But operator did not add the manifest in https://github.com/knative/operator/tree/release-0.19/cmd/operator/kodata/knative-serving/0.19.0.

We expected that `3-serving-domainmapping.yaml` is added like 3-serving-hpa.yaml.

[2020-12-10 16:28] awgneo opened #388 "Knative Installation Wipes Namespace Labels (Should Merge)"
**Describe the bug**
When installing Knative (serving) into a fresh namespace with labels defined, they are wiped out with the Knative release version number when the labels should be merged.

[code]

becomes

[code]

**Expected behavior**
The labels of the namespace should be merged.

[code]

**To Reproduce**
Create a namespace with labels and install a Knative operator instance.

**Knative relea

[2020-12-11 01:44] #232 closed

[2020-12-11 14:57] houshengbo commented on #373
@aaron-trout It is true that there is no designated feature to support this type of configuration.
HOWEVER, knative operator supports customized manifests, which means you can configure your knative yamls into ANYTHING, fitting your platform.
In the 0.18 and 0.19, we only support a complete replacement of all yamls with the field `spec.manifests`, but in the coming new release, we are able to supp

[2020-12-11 15:02] aaron-trout commented on #373
Yes that sounds like it will fit the Bill! I look forward to trying that out!

Will that be a merge of the "additional" yaml objects on top of the existing ones before applying? Or would it essentially apply the default one first and then override with the user one afterwards?

[2020-12-11 15:07] houshengbo commented on #373
If you create a yam file and make it available with a URL link, and specify it as one url link in the spec.additionalManifests, it will apply the default one(because it is in the existing manifests), and then apply your customized resource to overwrite.

[2020-12-11 15:08] houshengbo commented on #373
@aaron-trout  Are you in the knative community channel?

[2020-12-11 17:51] houshengbo commented on #388
@jcrossley3 Could you take a look?

[2020-12-11 18:27] jcrossley3 commented on #388
@awgneo how was the original `Namespace` created? In particular, did it have a `last-applied-configuration` annotation?

[2020-12-14 07:31] markusthoemmes opened #393 "Env var changes of "pingsource-mt-adapter" are not respected"
https://github.com/knative/operator/commit/eaf60c26acaa42995ff456116a274e382c5d886c introduced some ignoring logic around replicas and env vars for the `pingsource-mt-adapter`.

Any changes to env vars (be it additions or changes to existing variables) will be ignored for existing deployments, which might come around to bite us badly.

[2020-12-14 07:42] markusthoemmes commented on #393
/assign @houshengbo

[2020-12-14 07:43] matzew commented on #393
Yup... adding new `ENV_VARs` is not possible anymore ... :see_no_evil:
/cc @lionelvillard

[2020-12-14 07:45] matzew commented on #393
Let's capture this also in tests, to prevent this

[2020-12-14 11:32] aaron-trout commented on #373
No not currently

[2020-12-14 22:47] houshengbo opened #398 "Unstable eventing probe test: panic: report fetched too early, receiver is in active state [recovered]"
Sometimes, eventing probe test fails as below:

https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_operator/397/pull-knative-operator-upgrade-tests/1338609440403755008

[2020-12-15 04:13] houshengbo opened #404 "TestAutoscaleSustaining and TestAutoscaleSustainingWithTBC constantly failed in upgrade prow"
https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_operator/399/pull-knative-operator-upgrade-tests/1338662175446667264

I really have no idea why this constantly failed in operator upgrade prow, but not quite frequently failed in serving upgrade prow.

Probe tests of serving during upgrade keep failing every PR in operator.

[2020-12-15 09:25] houshengbo commented on #404
@markusthoemmes Could you help me, plz?

[2020-12-15 13:08] 7adietri commented on #388
The namespace was created with `kubectl apply`. Is using `kubectl create` a safe workaround for this problem?

I also wonder if the Operator could add its label in a less destructive way, even if `kubectl apply` was used.

[2020-12-15 15:59] houshengbo opened #405 "Refactoring the upgrade prow pipelines"
We need a overhaul of the upgrade prow.
So far, all the operator, serving and eventing upgrade and downgrade tests are written and orchestrated in one prow script.
This extremely slowed down the build time, and the tests for three of these components will interfere each other, giving more unexpected test failures, which even vary each build time.

I propose to create three upgrade prow pipelines i

[2020-12-15 16:15] houshengbo commented on #405
Lengthy build time of upgrade prow is a now a headache.
After a long time of waiting, digging into the log to find the failure is another pain.
After locating the failure, figuring out it is caused by other component or not is the pain over the pain.

These are the reasons why we need separation of the upgrade builds for each component.

[2020-12-15 19:31] #405 closed

[2020-12-16 10:54] VIjayHP opened #408 "Install failed with message: no matches for kind "PeerAuthentication" in version "security.istio.io/v1beta1""
After applying the KnativeServing custom resource YAML file:

apiVersion: operator.knative.dev/v1alpha1
kind: KnativeServing
metadata:
  name: knative-serving
  namespace: knative-serving

It's failed with the below error:

 Message:  Install failed with message: no matches for kind "PeerAuthentication" in version "security.istio.io/v1beta1"

**Expected behavior**
knative-serving custom resource w

[2020-12-16 16:35] houshengbo commented on #404
This issue is resolved after we separate the upgrade tests of each component into different prows.

[2020-12-16 16:35] #404 closed

[2020-12-16 16:35] houshengbo commented on #398
This issue is resolved after we separate the upgrade tests of each component into different prows.

[2020-12-16 16:35] #398 closed

[2020-12-16 20:49] houshengbo commented on #388
Knative operator supports customized manifests, which means you can configure your knative yamls into ANYTHING, fitting your platform.
In the 0.18 and 0.19, we only support a complete replacement of all yamls with the field spec.manifests, but in the coming new release, we are able to support customized yamls appending to the existing manifests by the field spec.additionalManifests.
You can levera

[2020-12-17 00:17] houshengbo commented on #388
I used the `manifestival` lib to try creating the namespace knative-serving first with the label `istio-injection":"enabled` and the annotation `knative.dev/example-checksum:1d830d9e`. Then updating the namespace without the label `istio-injection: enabled`.

Here is the output when merging:

The unstructured.Unstructured to be applied is
[code]

The current unstructured.Unstructured in the cluste

[2020-12-17 13:05] 7adietri commented on #388
We're using Knative Operator 0.18, so I tested creating the namespace with `kubectl create` and the `istio-injection` label, then installing Knative Serving. This did not cause the `istio-injection` label to disappear, so it seems like a viable workaround.

(I also took a quick look at `spec.manifests`, but it doesn't seem to support `file:` URLs (`unsupported protocol scheme \"file\"`), which wou

[2020-12-17 17:30] AceHack commented on #3
Bump

[2020-12-17 17:31] AceHack commented on #4
Bump

[2020-12-17 17:31] AceHack commented on #44
Bump

[2020-12-18 16:54] houshengbo commented on #64
@nak3 We have resumed the development of this feature. We are discussing how to separate the ingress out of the existing knative-serving directory in kodata, and how to align the version of the knative-serving with the version of the ingresses.

[2020-12-21 03:31] AceHack commented on #5
Bump

[2020-12-23 02:09] #240 closed

[2020-12-23 02:09] #222 closed

[2020-12-25 02:07] #259 closed

[2020-12-27 02:11] #260 closed

[2021-01-02 02:16] #264 closed

[2021-01-11 11:11] VIjayHP opened #422 "E2E test fails for Operator with Kourier as ingress even when the CR is TRUE"
I have tried to test Kn-Operator (for serving) using kourier as ingress . Perhaps after applying the patch for configmap **config-network** it's still trying to use Istio as the ingress under the namespace : **knative-operator-testing**

I think we need to have a solution in place for this before we recommend this operator. At a minimum, we need an option in the CR for disabling istio entirely. Th

[2021-01-11 11:15] VIjayHP commented on #422
whether the operator test cases are written strictly for istio as ingress . If not is there any documentation for using flags for different ingress classes.

[2021-01-11 17:53] evankanderson commented on #64
/remove-lifecycle stale

[2021-01-11 18:37] houshengbo commented on #422
@VIjayHP We are working on the multiple-ingress support. The PR is still open: https://github.com/knative/operator/pull/312.
Before merging it, operator still at least rely on the istio CRD, that is why you saw `no matches for kind "Gateway" in version "networking.istio.io/v1alpha3"`.

One way to resolve it is to install the istio CRD in your cluster. Not Istio, only the istio crd.
Document about

[2021-01-12 18:38] evankanderson opened #424 "Look at YTT for yaml customization?"
**Problem**
Right now, tweaks to the manifests require either shipping and managing full custom YAMLs (including publishing new YAML whenever there is a security or bug patch), or implementing the patch in go code as a `manifesteval` transformation.

**[Persona:](https://github.com/knative/eventing/blob/master/docs/personas.md)**
Operators

**Exit Criteria**
I can supply a set of customizations (e

[2021-01-12 18:42] evankanderson commented on #424
/assign @evankanderson
/assign @maximilien

[2021-01-12 23:30] maximilien commented on #424
Thanks for opening this Evan. I wonder if you have a set of example YAML to change (or links thereof) to share. I will do the same. If we organize them into groups, especially if they represent a class of changed needed, then we might be able to work on a representative and use that for the example. Thinking out loud... The other possible way to approach this is in terms of the groups of changes n

[2021-01-12 23:30] maximilien commented on #424
@evankanderson ^^^

[2021-01-13 16:39] #393 closed

[2021-01-14 18:23] evankanderson commented on #424
There are some transformation rules here:

https://github.com/knative/operator/tree/master/pkg/reconciler/knativeserving/common

One example is:

https://github.com/knative/operator/blob/master/pkg/reconciler/knativeserving/common/certs.go#L65

Driven off of:

https://github.com/knative/operator/blob/master/pkg/apis/operator/v1alpha1/common.go#L112

[2021-01-14 22:14] maximilien commented on #424
Thanks, however, I was thinking more in terms of the YAML files. Then we could create YTT templates that transforms them and figure out how to generalize them or have a set as examples.

In my view the way we will achieve some results with YTT here is to categorize the changes to the YAMLs that are needed when using Knative and operator and automate them via YTT... that’s what I was thinking when

[2021-01-14 22:24] houshengbo opened #428 "Transition to the new upgrade framework"
**Describe the bug**
Both of the serving and eventing have finished their transition to use the new framework to test the upgrade.
Operator needs to do something similar, but we schedule it for 0.21 release, and backport the change in future for 0.20.
Right now, we need to make sure the operator upgrade is working fine with the upgrade process. For serving and eventing upgrade tests, we tentativel

[2021-01-15 00:42] evankanderson commented on #424
Yes, I wasn't sure if you were looking for the transformations in general or a particular one.

Probably the image URL replacements are an interesting case.

[2021-01-15 11:57] cardil commented on #428
/cc @cardil

[2021-01-15 12:06] cardil commented on #428
The integration should be quite simple. It would involve in creating a test in knative/operator repo.

Something resembling this:

[code]

[2021-01-17 13:24] nak3 opened #431 "operator does not reconcile when users edit configmap directly with different value from knativeserving CR"
**Expected behavior**

- operator always reconciles ConfigMap based on knativeserving CR when any value is different.

**To Reproduce**

#### step-1. Update `knativeserving` CR's `spec.config`

e.g. Set `container-concurrency-target-default`

[code]

[code]

#### step-2. Set `container-concurrency-target-default` in `config-autoscaler` with different value.

[code]

e.g. In step-1 `100` was set bu

[2021-01-19 16:48] houshengbo commented on #431
@nak3 This is currently the expected behaviour.
Operator reconciling loop only watches the serving or eventing cr and the deployments.
If there is change with CM or anything else, reconciling loop won't kick-off.

[2021-01-26 05:25] adamkgray commented on #5
@AceHack you mean setting tolerations and node selectors for the knative serving components (autoscaler, activator etc.) via the KnativeServing CRD from the Operator, correct?

[2021-01-26 14:53] rawc0der opened #442 "Allow defining Pod Annotations from the KnativeServing Custom Resource"
**Problem**
I have encountered a lot of use-cases where custom annotations need to be provided for the deployed resources.
For my most recent context, the `KnativeServing` crd is lacking configuration options for injecting annotations into the `Activator pods` and making my life hard.

Example desired usage of custom annotation fields:
[code]

**[Persona:](https://github.com/knative/eventing/blob/

[2021-01-28 18:56] #428 closed

[2021-01-29 08:15] cardil commented on #297
/remove-lifecycle stale

[2021-01-29 13:55] #362 closed

[2021-01-29 23:24] akshayuppal3 opened #546 "Unable to apply affinity settings to knative-serving"
I was trying to apply affinity settings as I thought affinity spec was now available based on this issue:https://github.com/knative/build/issues/116.  But I get an error when trying to apply affinity setting.

Following is the sh file that I am using
[code]
Error log
[code]

[2021-01-30 10:52] nak3 commented on #408
As I commented https://github.com/knative-sandbox/net-istio/issues/440#issuecomment-770193075,
There is a workaround but you should update your Istio version rather than using the workaround.

[2021-02-02 18:46] maximilien opened #452 "SLO/SLI/SLA for operators"
**Problem**

There is an [issue](https://github.com/knative/docs/issues/3140) and follow-on discussion (see comments on previous issue) about how / where Knative can export Service Level Indicators (SLIs) and Service Level Objectives (SLOs).

The Operator would be the touch point of where these SLIs/SLOs metrics would be controlled and managed by the Knative operator.

What are these SLIs/SLOs? Ca

[2021-02-02 18:47] maximilien commented on #452
/assign @maximilien

CC: @evankanderson @houshengbo

[2021-02-03 14:36] houshengbo opened #454 "Enabled Kourier ingress only works under the namespace `knative-serving`"
**Describe the bug**
The kourier ingress needs to be installed under the ns `knative-serving` in order to work.

**Expected behavior**
The kourier ingress should work under any namespace.

**To Reproduce**
Apply the serving CR like this:
[code]

If the namespace is something else other than `knative-serving`, the ingress does not function well.

**Knative release version**
Master

[2021-02-04 17:54] evankanderson commented on #452
I'd focus the discussion for now in https://github.com/knative/docs/pull/3140, but this seems like an area where operations WG should take the lead on the discussion.

[2021-02-08 14:46] #64 closed

[2021-02-08 22:30] houshengbo commented on #454
@nak3 We can leverage the following serving CR to overwrite the ns:

[code]

[2021-02-09 10:11] nak3 commented on #454
@houshengbo Thank you!

Now I am going to try to change Kourier:
1. Move Kourier gateway into `knative-serving` namespace. Then we can configure `address: "kourier-control"` without namespace by default and it works any namespace.
2. If some users want to use gateway and controller in the different namespace (I think it is rare case) then we can suggest they use your configuration above.

So we ne

[2021-02-09 14:34] matzew commented on #324
/remove-lifecycle stale

[2021-02-09 15:14] houshengbo commented on #454
Thanks @nak3

[2021-02-16 01:40] nak3 opened #477 "TestTransformers should not verify the number of the sum of transformers"
[TestTransformers](https://github.com/knative/operator/blob/846d8762f2d1df4a0d080e30ff89c54cf845be02/pkg/reconciler/knativeserving/ingress/ingress_test.go#L450) verifies the sum of transformers in Ingress but that is not accurate.

For example, [Availabel contour ingress](https://github.com/knative/operator/blob/846d8762f2d1df4a0d080e30ff89c54cf845be02/pkg/reconciler/knativeserving/ingress/ingress

[2021-02-16 13:57] matzew commented on #292
According to your comment on the 4876 eventing ticket, @maschmid, can we than close this?

[2021-02-16 14:09] maschmid commented on #292
I think so, the "initialDelaySeconds: 20" was added to serving webhook in 0.19

https://github.com/knative/operator/blob/release-0.19/cmd/operator/kodata/knative-serving/0.19.0/2-serving-core.yaml#L2683

[2021-02-16 14:12] matzew commented on #292
/close

[2021-02-16 14:12] #292 closed

[2021-02-16 21:21] #324 closed

[2021-02-17 23:49] nak3 opened #482 "Add e2e test for HA configuration"
**Problem**

It should be better to have e2e for HA configuration.
For example, HA configuration for autoscaler was missed a few versions like https://github.com/knative/operator/pull/480.

**Additional context (optional)**

https://github.com/knative/operator/issues/337 also has a problem. The HA logic is different in old version so it should be tested.

[2021-02-19 18:41] #442 closed

[2021-02-24 20:33] houshengbo opened #490 "Serving upgrade prow failure"
The serving upgrade prow started to fail:
https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_operator/489/pull-knative-operator-serving-upgrade-tests/1364635134862561280

[2021-02-25 04:45] nak3 commented on #387
As per Slack, this is waiting until it was folded into one of the other yamls.

[2021-02-25 19:19] #490 closed

[2021-03-02 01:30] #302 closed

[2021-03-02 01:32] nak3 commented on #337
/remove-lifecycle stale

[2021-03-02 03:07] zhaojizhuang commented on #361
Thanks @houshengbo Problem can't be reproduced, issue wille be closed

[2021-03-02 03:07] #361 closed

[2021-03-03 20:46] houshengbo opened #499 "Test cases: matching the exact resource, not just number of resources"
All the test cases need to verify the exact resources matching each other between the actual and the expected.
It is not accurate to merely verify the number of resources.

[2021-03-05 15:38] jheyduk opened #505 "Knative-ingress-gateway changes are overwritten by operator"
**Describe the bug**
I changed my configuration as described on https://knative.dev/docs/serving/using-a-tls-cert/
On next reconcile my changes are lost.

**Expected behavior**
The operator should not overwrite the settings.
Otherwise the documentation should extended how to make the changes persist using KnativeServing CRD

**To Reproduce**
Make some changes on Knative-ingress-gateway and wait fo

[2021-03-08 15:58] shauncampbell opened #507 "Knative-local-gateway gets deleted and never re-created"
**Describe the bug**
We had been using Knative 0.17.0 without much issue for the last few months. We wanted to upgrade to something a little newer and we've hit a bit of a wall getting things working because of the changes surrounding the `cluster-local-gateway` to `knative-local-gateway` name change. Effectively after upgrade, we lose the ability to communicate with our isitio ingress gateway and

[2021-03-08 16:47] houshengbo opened #508 "Overwriting existing deployment resources spec.additionalManifests ends up with endless reconciling"
**Describe the bug**
Leveraging spec.additionalManifests, we are able to specify the customized resources based on the default one.
If the resources in spec.additionalManifests already exist in default manifests, they should replace the default ones.
However, coming the deployment resource, the reconciling loop will keep on reconciling for ever, since the deployment will run into running-> termina

[2021-03-08 16:50] houshengbo commented on #508
One way to fix it is to check if resources in spec.additionalManifests already exist in the default manifests, and replace the default one if they do exist.

[2021-03-15 09:03] yang59324 opened #519 "failed to start istio-webhook"
knative-operator version sha256@2a4add19e8ba5f59e6bb2754e828bed4eb988ad516ea118adf401a15624f22cc

knative-serving cr
[code]
log of istio webhook pod
[code]

[2021-03-15 09:23] Fabian-K commented on #376
Because the PDB cannot be configured using the operator, currently the only way to get 1 allowed disruption is to run 5 replicas. Do you consider making this configurable or changing the PDB itself?

[2021-03-16 08:49] yang59324 opened #520 "Job storage-version-migration-serving-serving-0.21.0 unable to use private registry image"
**Describe the bug**
when i start the knative-serving of cr, Job storage-version-migration-serving-serving-0.21.0 pull image gcr.io/knative-releases/knative.dev/serving/vendor/knative.dev/pkg/apiextensions/storageversion/cmd/migrate@sha256:4e44b147321c96767328f6c6551964c93c9805ae14ff9f99a01c01a02c056a38 ,but I want to use private registry image,Where can I configure it?

**Knative release version*

[2021-03-17 03:03] MartinForReal opened #521 "Adopt controller-runtime"
**Problem**

Follow controller development best practice and Adopt kubebuilder, controller-runtime and etc.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?
Contributors

**Exit Criteria**

All functions are working as expected

**Time Estimate (optional):**
7 days
**Additional context (optional)**

https://github.com/kubernetes-sig

[2021-03-17 06:51] MartinForReal commented on #521
please move to knative/pkg if it is feasible

[2021-03-17 06:54] MartinForReal opened #522 "Replace manifestival with kustomize or kpt to keep manifest manipulation process clean"
**Problem**
Replace manifestival with kustomize or kpt to keep manifest manipulation clean
imagetransformer use container name as index and I think it is problematic because name conflict would happen especially when number of components are increasing.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?
Contributors

**Exit Criteria**

[2021-03-17 07:27] MartinForReal commented on #520
please refer to https://knative.dev/docs/install/operator/configuring-serving-cr/#private-repository-and-private-secrets

For  storage-version-migration

the image key is migrate e.g. migrate: xxxxx/knative/job:xxxxx

[2021-03-24 14:17] #508 closed

[2021-03-24 14:37] houshengbo commented on #521
@MartinForReal To keep consistent with all knative projects, we leverage the structure the same as any other knative project.
The community had this discussion 2 years ago, when operation wg was founded.

The knative common package, knative/pkg, has already established a mature backbone for other knative projects to rely on.

controller-runtime is just one lib to produce kube operator, but it is N

[2021-03-24 14:44] houshengbo commented on #522
All manifests bundled and shipped in the operator are NOT editable.

To configure knative with the operator:
1. Leverage the CRs to configure.
2. If CR configuration is unable to meet your requirements, refer to the feature `customized manifests`. Try to leverage `spec.manifests` to specify all the manifests, or leverage `spec.additionalManifests` to append or overwrite the resources you need.

[2021-03-24 14:52] houshengbo commented on #520
It should be like the following CR to configure. If it does not work, log the issue plz:
[code]

Use `migrate`, the container name.

[2021-03-24 14:55] houshengbo commented on #477
https://github.com/knative/operator/pull/500
This PR added the test functions to verify and compare the resources between two manifests.
We are now able to check if resources match in terms of name, kind, version ... even every attribute.

[2021-03-24 14:55] #477 closed

[2021-03-24 14:55] houshengbo commented on #499
https://github.com/knative/operator/pull/500
This PR added the test functions to verify and compare the resources between two manifests.
We are now able to check if resources match in terms of name, kind, version ... even every attribute.

[2021-03-24 14:55] #499 closed

[2021-03-24 15:00] houshengbo commented on #519
This is an interesting issue.
What is the value for WEBHOOK_PORT, that you set for the deployment `istio-webhook`?
`tcp://192.168.111.87:9090"`? If you change the default value for WEBHOOK_PORT, plz use an integer as valid port number.

[2021-03-24 15:22] houshengbo commented on #505
If you install knative serving with the operator, configure it with the operator.

In terms of Knative-ingress-gateway, you should configure it as the instructions here: https://knative.dev/docs/install/operator/configuring-serving-cr/#configuration-of-knative-ingress-gateway

If you want to change the default content of `knative-ingress-gateway`, operator reconciling loop will revert it, because

[2021-03-24 16:12] houshengbo commented on #507
This is what I have tried:
1. Set up the kube cluster 1.19.7 at docker-desktop.
2. Install istio:
[code]
3. Install knative
[code]
4. install CR:
[code]

5. Check the service
[code]
The service seems fine:
[code]

[2021-03-24 19:05] houshengbo commented on #521
Don't make a beauty contest between controller-runtime and knative/pkg. It is NOT which one beats one another.
They are both great libs. To determine which one to use, it is all based on the time and nature of the project.
For newly created projects, there could be decisions made towards either direction, but for projects, which have been developing for a while, and have already developed the ecos

[2021-03-24 21:29] houshengbo commented on #505
It also reminds me something similar in the old archive:
https://github.com/knative/serving-operator/pull/258
https://github.com/knative/serving-operator/issues/302

Time to revive.

[2021-03-25 03:12] MartinForReal commented on #521
Fair enough , Thanks for the clarification! :)

[2021-03-25 03:12] #521 closed

[2021-03-25 20:59] houshengbo commented on #242
/remove-lifecycle stale

[2021-03-25 21:08] houshengbo commented on #242
I plan to implement it like this:
If the manifests are specified with spec.manifests or spec.additionalManifests,
 * for target manifests to be installed, we always read them from the original sources, but save them into the cache.
 * for installed manifests, we can read them from the cache.

[2021-03-26 14:52] #505 closed

[2021-03-31 20:51] maximilien commented on #452
See DRAFT use case docs: https://docs.google.com/document/d/15oV3wRMkwEJHgA3cr2mCknVNeqWWlZzbU6-Ak-x6f3c/edit <= please use suggest/edits and leave comments and suggestions. Thank you 🙏🏽

[2021-04-02 05:59] #242 closed

[2021-04-06 12:32] marcomancini1994 commented on #376
We are actually facing the same issue when using the Knative Operator, are you guys planning to release this feature in the next release? (e.g 0.23.0)

[2021-04-07 16:58] houshengbo commented on #408
This issue happened again, when deleting the serving CR, if the ingress is NOT istio.

[2021-04-07 20:26] #408 closed

[2021-04-08 02:13] #382 closed

[2021-04-12 13:40] houshengbo commented on #298
/reopen

[2021-04-12 15:36] houshengbo commented on #298
We can leverage the same model in knative serving CR, defining the ingress, to install an eventing source:
[code]

The field `multiTenant: true` is used to determine it is single or multi tenant. This field is available for github and kafkasource.

[2021-04-13 07:48] nak3 opened #556 "Usage of `spec.version: latest` is not clear"
**Describe the bug**

- https://github.com/knative/operator/pull/443 introduces `spec.version: latest` support. But it is not clear how we can use it.

**Expected behavior**

- The goal is that we want to use manifest with `serving.knative.dev/release: devel` label.

**To Reproduce**

#### 1. Add nightly manifests into `cmd/operator/kodata/knative-serving/latest/`

[code]

#### 2. Install operator

[2021-04-15 01:29] #373 closed

[2021-04-16 15:38] Fabian-K commented on #507
Hi, I´m facing the same issue. I can see the service `knative-local-gateway` in `istio-system` being created by the operator, but shortly after the service disappears.

[2021-04-20 01:48] nak3 commented on #431
/remove-lifecycle stale

[2021-04-21 13:05] houshengbo commented on #556
@nak3 This feature only facilitate the prow for now. I do not think we expect end-users to use it.
In prow, it downloads the source code of eventing and serving, build the yamls and put them under a dir named `latest` in kodata.
Then, set spec.version to latest, so it will install the yamls under `latest`.

[2021-04-21 13:10] houshengbo commented on #556
but one option we can offer is to use the latest available version if `latest` dir is not available.

[2021-04-22 10:18] Fabian-K commented on #507
@houshengbo Could it be that this is deleted by k8s garbage collection? Using a kind setup, I found the following logs within kube-controller-manager:

I0422 10:14:13.493542       1 event.go:291] "Event occurred" object="istio-system/knative-local-gateway" kind="Service" apiVersion="v1" type="Warning" reason="OwnerRefInvalidNamespace" message="ownerRef [operator.knative.dev/v1alpha1/KnativeServing

[2021-04-26 20:48] polivbr commented on #507
Hello, I'm also facing this issue. To test @Fabian-K 's garbage collection theory I created a modified version of the operator that doesn't attach the owner ref if the resource is in a different namespace than the owner (which isn't supported in k8s v1.20). With this change in place, the Service isn't destroyed and everything works as expected, thus validating @Fabian-K 's theory.

I'll clean up m

[2021-04-27 01:42] nak3 commented on #556
Thank you @houshengbo

Th prow is https://testgrid.k8s.io/knative-operator#knative-operator-continuous, correct?
As per the log and script `test/e2e-common.sh`, it surely does "downloads the source code of eventing and serving, builds the yamls and puts them under a dir named latest in kodata" but it never does "set spec.version to latest". So the issue I reported does not happen. Could you please

[2021-04-27 09:06] nak3 commented on #519
This issue happens as net-istio's webhook and serving's webhook have same container name `webhook`. Please configure the registry override with `net-istio/webhook` and `webhook/webhook` like this:

[code]

[2021-04-27 14:45] houshengbo commented on #556
@nak3 Check on this line: https://github.com/knative/operator/blob/main/test/e2e-common.sh#L26
This is where to set the value of the target version. It can be set to "latest".

https://github.com/knative/operator/blob/main/test/e2e-common.sh#L282
This line is how we create the CR.

create_latest_custom_resource is called by the golang code: https://github.com/knative/operator/blob/main/test/upgrad

[2021-04-28 00:20] nak3 commented on #556
I see. It is in upgrade test.  And yeah, the bug I reported definitely happens on CI as well.

You can find the log by going to:
- [the log of pull/563](https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_operator/563/pull-knative-operator-serving-upgrade-tests/1387036856842981376)  -> Artifcacts -> artifacts ->  f875cca3-a75c-11eb-bb19-6e5dccb14317 -> [k8s.log.txt](https://console.

[2021-04-28 12:47] matzew commented on #376
The same is true for eventing, not just the serving PDB.

[2021-04-28 12:50] matzew commented on #376
/cc @houshengbo @lionelvillard

[2021-04-28 13:10] jakoberpf opened #565 "Knative operator looks for "istio-system" namespace when custom istio gateway is set"
**Describe the bug**
When we deploy the knative operator and set the custom `knative-ingress-gateway` to another gateway and namespace, the knative serving controller still looks for the `istio-system` namespace and fails to get ready.

operator log: `failed to apply non rbac manifest: namespaces \"istio-system\" not found`

describe of KnativeServing: `Install failed with message: namespaces "ist

[2021-04-30 07:18] markusthoemmes opened #568 "No manifest is applied if all Ingresses are disabled"
**Describe the bug**
If an Ingress config is defined, but all Ingress options are disabled, nothing gets installed at all.

**Expected behavior**
Knative gets installed but without any ingress.

**To Reproduce**
Apply the following YAML

[code]

Note how nothing gets installed.

**Knative release version**

v0.21 and v0.22

**Additional context**

This is a bug in our defaulting and usage of `mf.A

[2021-04-30 08:35] matzew opened #569 "PingSource MT Adapter HA problems"
**Describe the bug**

Specifiying HA, on the `KnativeEventing` CR, like:

[code]

I get deployments of `2` for all, expect for the `pingsource-mt-adapter`, which is fine since there is no `PingSource` yet.

See:

[code]

Now... when I create a `PingSource`, I see _two_ pods created, and one is terminating, since the deployment is "stuck" at `1`:

[code]

**Expected behavior**

Since I control the

[2021-04-30 08:35] matzew commented on #569
/cc @lionelvillard
/cc @houshengbo
/cc @aavarghese

Any ideas?

[2021-04-30 09:55] nak3 opened #570 "It is better to drop spec.version?"
As the original PR also asked the feedback https://github.com/knative/operator/pull/207#issuecomment-661422069, I would like to give the feedback.
Actually I am thinking that it is better to drop `spec.version` configurations with two big reasons:

#### 1. What is the usecase for spec.version?
- I'm curious if there is any reason that some users need to deploy v0.21 operator but want to use old v0

[2021-04-30 11:32] nak3 commented on #565
I think it is bug in https://github.com/knative/operator/blob/main/pkg/reconciler/knativeserving/common/ingress_service.go#L28.
Perhaps creating a `istio-system` namespace could be a workaround? (operator will deploy `knative-local-gateway` svc though.)

[2021-04-30 12:13] lionelvillard commented on #569
Is this normal since the operator should set the # of replicas to 2? @houshengbo how does this work?

[2021-04-30 12:19] markusthoemmes commented on #569
The deployments supporting HA are enumerated in the respective transformer definition today, see https://github.com/knative/operator/blob/5706b4df85d9b95617d491e4407754cb604bdde9/pkg/reconciler/common/ha.go#L35-L56.

However: Isn't the PingSource stuff prone to the deployment replica fighting thingy, where a different controller than the operator sets the replica count of the PingSource deployment

[2021-05-03 07:54] jakoberpf commented on #565
@nak3 Creating the istio-system namespace created removed the error and created the `knative-local-gateway` as you predicted. The code snipped tells me that the `istio-system` namespace is hard coded and therefore can be changed?

Furthermore when I read the [documentation](https://github.com/knative/operator/blob/main/docs/configuration.md#speccluster-local-gateway) right, we can not set the oper

[2021-05-03 13:23] houshengbo commented on #570
@nak3
We used to have a long discussion on this topic almost two years, when we start to think about making upgrade smooth and fallback possible. What I can remember as the reasons to support the version includes, but not limited to:

In general, it provides a more convenient path to upgrade and fallback.

1. As we only makes sure upgrade or downgrade to the adjacent minor version, if the operator

[2021-05-03 13:39] houshengbo commented on #565
@nak3 @jakoberpf
The line https://github.com/knative/operator/blob/main/pkg/reconciler/knativeserving/common/ingress_service.go#L28 may NOT be the reason leading to the issue, because this line only makes sure the `Service` named `knative-local-gateway` is installed under the default ns istio-system.

[2021-05-03 13:46] jakoberpf commented on #565
@houshengbo
Right, but it means that there must be the default istio-system ns in the cluster for the operator work? So the operator is not build to be used with a **non** default istio-system ns?

[2021-05-03 13:51] houshengbo commented on #565
@jakoberpf It should work with non-default ns of istio. We really need to fix this issue.
I suspect it is caused by this resource in net-istio:
[code]

[2021-05-03 14:15] jakoberpf commented on #565
@houshengbo I actually was looking for a field on the serving cr to point the operator to the namespace where we istio is running. So the idea to add this seems natural to me.

[2021-05-03 14:27] houshengbo commented on #565
@jakoberpf
A few things to confirm:
- If you only install istio, there is no Service resource called `knative-local-gateway` installed. Correct?
- If you manually install operator from the source code, change the line  https://github.com/knative/operator/blob/main/pkg/reconciler/knativeserving/common/ingress_service.go#L28 into the namespace, where istio is installed, would that work without error

[2021-05-03 14:41] jakoberpf commented on #565
@houshengbo
- correct we do not have a `knative-local-gateway` within our normal istio install. `knative-local-gateway` is only created when the operator is deployed and istio-system ns is created/present. Then `service/knative-local-gateway` also the **only** ressource created in the istio-system ns.
- Yes I should be able to test this tomorrow (along [this](https://github.com/knative/operator/bl

[2021-05-04 01:28] nak3 commented on #570
Thank you for the explanation.
Both points could also be addressed by using `KO_DATA_PATH`, correct?
Actually our downstream's CI is testing the latest version by using a configmap with pointing the path by `KO_DATA_PATH`.
`KO_DATA_PATH` has some advantages:
- It can test the latest version - i.e. v0.22 manifest can be tested by v0.21 operator without operator upgrade.
- It can also test the previ

[2021-05-04 11:35] houshengbo commented on #570
@nak3 I do no think you can do it by only changing KO_DATA_PATH. You have to mount the volume with the correct manifests.

The CI does not use any configmap, it only builds an new image with the expected manifests under kodata.

For example, you have installed 0.19 operator, you want to install 0.22 operator to upgrade to the newest knative.
How are you gonna change the KO_DATA_PATH? First, change

[2021-05-04 12:49] houshengbo commented on #570
In addition, without spec.version, if you install a certain version of knative serving, how to find the mapping ingress with the correct version?(Like human operators remembering the version, finding the correct ingress version, putting them into kodata? If users want to upgrade, go to find the correct the version of knative, and map the correct version of ingress & re-create the manifests under k

[2021-05-04 12:51] houshengbo commented on #570
Speaking of ConfigMaps, I know it has not reached there yet, but the WG has been trying hard to slow down the pace with configurations by ConfigMaps, and promoting configurations with CRs as much as possible.

[2021-05-04 13:47] #568 closed

[2021-05-05 03:37] nak3 commented on #570
I mentioned about `KO_DATA_PATH` just for a temporary workaround, like to fall back when upgrade failed or to skip a version. I didn't expect that it continues to be used.
For example, v0.19 to v0.21 upgrade (skip v0.20), KO_DATA_PATH is temporary used for v0.20 only once in the short period.
So, users should expect 0.22 operator install 0.22 serving/eventing. And they do not need to look for the

[2021-05-05 12:40] houshengbo commented on #570
[code]
I prefer not do that. I would rather keep the configurations with the CRs.

[2021-05-05 12:50] houshengbo commented on #298
@evankanderson @maximilien
As we run into the issue of `kustomize` not recognizing the variable reference like `!!merge <<: *openAPIV3Schema`, it takes much effort for the operator to add the eventing source label, before saving the manifests under kodata. We decide to use a `one source one directory` approach to  lower the bar of the implementation in operator.

The directory will be like:
<img w

[2021-05-05 15:13] nak3 commented on #570
Hmmmm.... So in conclusion:
- operator supports `spec.version` for some unusual cases like to fall back or to skip minor versions during upgrade. (Please let me know if it covers other cases.)
- KO_DATA_PATCH can also cover such cases, but operator wg wants to keep `spec.version` as configuration should be in CR, which is simpler.

Honestly I still wonder if it is worth to support it by devoting m

[2021-05-05 23:46] cardil commented on #297
/remove-lifecycle stale

[2021-05-10 13:45] #570 closed

[2021-05-12 02:14] #422 closed

[2021-05-12 14:28] houshengbo commented on #565
@jakoberpf
There is another way to do this so far. If you install the istio under a namspace, for example, `istio-test`, you need to change the configmap `config-istio`. Suppose you install knative serving under ns `knative-serving`. To change it with the operator, you can use the serving CR like:
[code]

Without changing the schema of the serving CR, operator is able to look up the istio ns by ch

[2021-05-12 20:47] houshengbo opened #586 "Add a test case to check the nil OwnerReferences on knative-local-gateway Service"
To avoid cross-ns ownership, we need a test case to verify the knative-local-gateway Service is nil in owner reference.

[2021-05-12 21:06] #507 closed

[2021-05-12 21:10] JCzz opened #587 "knative-serving not getting ready"
**Describe the bug**

`Mac Mini 8GB M1`

`minikube start --memory=5939 --cpus=6 --kubernetes-version=v1.20.2`

Note: running with docker driver - requirement as KinD

[Install](https://knative.dev/docs/install/knative-with-operators/):
`kubectl apply -f https://github.com/knative/operator/releases/download/v0.22.0/operator.yaml`

[code]
[code]

[2021-05-12 21:19] houshengbo commented on #587
@JCzz Could you run `kubectl logs -f deploy/knative-operator` and check the log, providing more detailed error message?

[2021-05-13 09:42] JCzz commented on #587
Thanks, and yes the log is as following(both for v0.22.0 and v0.22.1) - it is quite longe:

[code]

[2021-05-13 15:33] houshengbo commented on #587
@JCzz Do you use istio as the ingress? PLZ install it, making sure istio is available .
Then try again.

[2021-05-13 18:18] houshengbo commented on #569
Eventing release this resource like:
[code]

The number of replicas is 0. Each time the control loop kicks off, the deploy `pingsource-mt-adapter` is reset to 0.

[2021-05-13 18:19] #565 closed

[2021-05-13 18:22] lionelvillard commented on #569
The PingSource controller sets `replicas` to `1` when it is `0`. This is typically happening when the first PingSource is processed by the controller. If it's not `0`, then `replicas` stays the same.

[2021-05-13 18:25] houshengbo commented on #569
@lionelvillard @matzew Really want to add this `pingsource-mt-adapter` deployment able to configure HA replica number by the eventing CR?

[2021-05-13 18:25] #586 closed

[2021-05-13 18:51] #569 closed

[2021-05-14 08:39] JCzz commented on #587
Hmm Istio might actually be the problem running on apple mac mini m1 chip:
https://github.com/istio/istio/issues/32751#issuecomment-837235830

[2021-05-14 12:58] houshengbo commented on #587
Try docker-desktop on mac. Having fun!

[2021-05-14 13:00] houshengbo commented on #587
you can use other ingresses, like kourier. Remove your istio, it may compete for the port.
[code]

[2021-05-16 11:35] JCzz commented on #587
The problem seems to be with Envoy, which makes Kong Ingress the only one not build on Envoy. Unfortunately Nginx is also running into problems.

[2021-05-16 16:22] evankanderson commented on #424
/reopen
/remove-lifecycle stale

[2021-05-17 20:45] #556 closed

[2021-05-18 19:35] JCzz opened #597 "ailed to apply non rbac manifest: no matches for kind "Gateway" in version "networking.istio.io/v1alpha3""
[code]

[code]
[code]

[code]

[code]

[2021-05-18 19:50] houshengbo commented on #597
This is the same error you had reported at https://github.com/knative/operator/issues/587

[2021-05-18 19:57] houshengbo commented on #597
Gateway is the CR defined in istio, you need to make sure istio is installed and well-functioned.

[2021-05-18 20:13] houshengbo commented on #546
The knative serving CR does not support `spec.podLabels` or `spec.affinity`, so with operator we cannot configure the affinity with the knativeserving CR.

For something operator is unable to configure, I usually go to the https://knative.dev/docs/install/knative-with-operators/#installing-the-knative-serving-component, and check on Install Customized Knative Serving, `spec.additionalManifests`.

[2021-05-24 01:32] #44 closed

[2021-05-24 01:32] #3 closed

[2021-05-24 01:32] #4 closed

[2021-05-24 17:43] houshengbo opened #606 "Unstable upgrading tests for eventing"
PLZ refer to the following links for the detailed error messages:

https://storage.googleapis.com/knative-prow/pr-logs/pull/knative_operator/603/pull-knative-operator-eventing-upgrade-tests/1396876663534391296/build-log.txt

https://prow.knative.dev/view/gs/knative-prow/pr-logs/pull/knative_operator/603/pull-knative-operator-eventing-upgrade-tests/1396876663534391296

It is likely to fail the test

[2021-05-26 05:54] nak3 opened #615 "Error logs have wrong format"
**Describe the bug**

- `Logger.Error("some message", err)` is not correct.
- For example https://github.com/knative/operator/blob/f54aaed155dffeca1172a067c02b55d781eb7a87/pkg/reconciler/common/stages.go#L84 prints `Unable to fetch installed manifest, trying targetThe version of the manifests v0.21.0 does not match the target version of the operator CR v0.22.0`.

- It does not have space between m

[2021-05-26 12:49] houshengbo opened #616 "Add the parameter support --release v0.xx to the fetcher"
When we run
[code]
no matter it is for the latest version or the previous released branch, it ALWAYS updates the manifests to the current latest 4 versions.

We need to implement a parameter `--release <actual version>` for the fetcher, so it is able to update the manifests based on the given version.

[2021-05-26 20:01] #616 closed

[2021-05-27 03:37] nak3 commented on #5
/reopen

[2021-05-27 20:44] houshengbo commented on #606
In the upgrading test cases for eventing CR, it verifies if the eventing CR is READY and all the deployment resources are AVAILABLE with the correct target version. After they are all up and running, it launches the the post upgrade tests in eventing repository. However, the above error happens almost 50%-60%. The last time I retried with the prow, I got 3 times failure out of 6.

Then, I added a

[2021-05-27 20:44] houshengbo commented on #606
@cardil @vaikas @lionelvillard

[2021-05-28 13:01] houshengbo commented on #298
The list of eventing sources includes:
AWS SQS, ceph, github, kafka, natss, rabbitmq, prometheus, redis, and couchdb

[2021-05-28 13:34] vaikas commented on #298
I think @antoineco might be interested in this as well and might have some ideas.

[2021-05-31 01:52] nak3 commented on #337
/remove-lifecycle stale

[2021-06-01 05:38] BbolroC opened #628 "Make the e2e test viable on different platforms"
**Problem**
Currently, `ko` is bound to the `linux/amd64` platform during the e2e test. There seems no way of getting it configured on the fly.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?
People who want to run the e2e test on a different platform

**Exit Criteria**
To open up using an environment variable like below:

[code]

[2021-06-01 12:21] BbolroC opened #629 "Enable to e2e-test with contour and kourier"
**Problem**
The current e2e test only runs over the network `istio`. It would be good to run the test over other network layers (e.g. `contour` and `kourier`) if the network is pre-installed and the environment variable `$INGRESS_CLASS` is set.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
People who want to run the test over other network layers

**Exit Criteria*

[2021-06-02 09:44] cardil commented on #606
The failures are the simplest smoke tests that are being run after eventing upgrade. It's boggling why they fail.

Latest changes of eventing upgrade tests didn't touch them, as I was focused on expendability of continual tests (running in background).

I must say that during my latest work on eventing upgrades, I think I did observe similar behavior of those smoke tests at some point, but it went

[2021-06-02 13:03] houshengbo commented on #606
@cardil It is possible that this failure went away, since eventing upgrade has a higher chance to beat the post upgrade tests in eventing repo, because eventing repo applies the yamls directly, which takes less time than the process in operator.

In operator, it applies the eventing CR with the newer version, then operator reconciling loop picks up the changes, reads and parses the manifests with

[2021-06-02 19:20] #606 closed

[2021-06-03 21:23] houshengbo opened #646 "awssqs cannot be installed with the operator"
The eventing source awssqs must have a prerequisite:
[code]

[2021-06-07 14:23] #628 closed

[2021-06-07 15:59] #629 closed

[2021-06-07 16:23] #298 closed

[2021-06-08 02:18] houshengbo opened #652 "Need to find out the reason for the following error"
When I enable all the available eventing source, I got the message in the log:
[code]

Many webhook deployments went down:
[code]

[2021-06-08 15:54] evankanderson commented on #652
This looks like the apiserver might be overloaded; have you looked at the cpu usage of the apiserver during this time?

Any cluster details available to share? Minikube? Kind? Cloud provider? How many nodes, and how much cpu and ram?

`kubectl describe nodes` will have some of this information, but not the apiserver cpu usage, which you many be able to get using `top` on the node or in the apiserv

[2021-06-08 17:05] houshengbo commented on #652
I am using a single node of kubernetes at docker-desktop. 2G memory and 4 CPUs

[2021-06-09 01:44] nak3 commented on #519
/close

I think this can be closed. Please feel free to re-open it if anyone is still getting the error.

[2021-06-09 01:44] #519 closed

[2021-06-09 01:46] nak3 commented on #587
/close

Thank you JCzz to confirm it. Let's close this issue as it just needs Envoy's enhancement.

[2021-06-09 01:46] #587 closed

[2021-06-09 01:49] nak3 commented on #454
/close

I'm closing this as changing a namespace needs additional ownerRef handling.

[2021-06-09 01:49] #454 closed

[2021-06-09 10:11] nak3 commented on #5
I think we should start with a global config like current `spec.high-availability`.
I am thinking that we can create `spec.global` then add some configurations under it like:

[code]

Users might want to customize for a specific deployment but we should start with this global one.
If no objections or other opinions, I will start creating the pull request.

[2021-06-09 10:48] markusthoemmes commented on #5
@nak3 shouldn't this be part of the existing `deployments` section maybe?

[2021-06-09 11:32] nak3 commented on #5
@markusthoemmes Ah yes, `deployments` section would be good.
So it will be needed to configure each deployment like:
[code]

[2021-06-09 11:46] markusthoemmes commented on #5
I guess we could add a `global` or `all` convenience section to `deployments`, which'd still allow to set them to all at once.

[2021-06-09 12:00] nak3 commented on #5
Umm... The `deployments` is a `[]array` type so I think we cannot add the `global` or `all` section there?
https://github.com/knative/operator/blob/1bbdd9004e64757c27f6be0c612ee3973db8cb1d/pkg/apis/operator/v1alpha1/common.go#L134
https://github.com/knative/operator/blob/1bbdd9004e64757c27f6be0c612ee3973db8cb1d/pkg/apis/operator/v1alpha1/common.go#L220

[2021-06-09 15:26] houshengbo commented on #652
This issue miraculously went away after I fixed this issue in couchdb eventing source: https://github.com/knative-sandbox/eventing-couchdb/issues/112.

On top of deocker-desktop, I cannot produce the couchdb source issue, but on top of IKS, the deployment couchdb-webhook is unbale to reach the running status due to the RBAC issue.

After I fixed the RBAC issue with couchdb source, this issue with

[2021-06-10 13:34] houshengbo commented on #652
This issue only happened to docker-desktop.
If operator is running on IKS. The CR does not update by itself.

[2021-06-19 01:28] #482 closed

[2021-06-24 06:10] houshengbo commented on #646
@antoineco Could you take a look at this issue?

[2021-06-27 01:27] #387 closed

[2021-07-01 22:06] upodroid opened #681 "Adopt `app.kubernetes.io` labels"
The operator needs to apply the following labels to all k8s resources it creates as well as pod selectors:

[code]

Part of https://github.com/knative/community/issues/667

app and version labels will be deprecated at a later date.

[2021-07-01 22:12] upodroid commented on #681
/assign @upodroid

[2021-07-02 01:51] nak3 opened #682 "Downgrade with DomainMapping from 0.24 to 0.23"
**Describe the bug**

v0.24 added DomainMapping to core yaml and so operator also includes the DomainMapping controller & webhook in `cmd/operator/kodata/knative-serving/0.24.0/2-serving-core.yaml`.
However, 0.23 does not have it so the DomainMapping controller&webhook will be gone if they downgrade the version.

**Expected behavior**

I'm not sure what is the expected operation. Is this a bug? Or

[2021-07-03 11:54] Morriz commented on #376
bump

[2021-07-13 13:12] #597 closed

[2021-07-13 18:12] houshengbo commented on #682
@nak3 This is a valid situation.
Operator run the comparison between the yamls across different versions.
I am not sure of the correct behavior as well.

[2021-07-13 18:57] julz commented on #682
FWIW my feeling is domain mapping was alpha in 0.23, so we really don't have any support guarantees around it in that version.

In broader terms: if someone uses a feature that was introduced in knative N and then downgrades to knative N-1 where that feature did not exist or was alpha I don't see how that feature can do anything other than break.

[2021-07-14 00:10] nak3 commented on #682
I see. Thank you.
I just wanted to make it clear as users may experience or suspect this behavior. I am closing this issue as it is clear now.

[2021-07-14 00:10] #682 closed

[2021-07-20 16:47] houshengbo opened #696 "How to deal with the istio dependency issue"
Knative Operator needs istio installation as the dependency, if no network ingress is specified.

If istio is not installed, the following error is raised:

[code]

[code]
How shall knative operator deliver this error message in a more descriptive way?

[2021-07-20 23:32] #696 closed

[2021-07-23 01:26] #522 closed

[2021-07-23 01:26] #520 closed

[2021-07-30 01:27] #452 closed

[2021-08-04 22:54] bpinske opened #710 "Operator attempts to run kourier-gateway as root - should run as envoy user"
**Problem**
[code]
Some organizations have podsecuritypolicies and compliance requirements that pods may not run as Root.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?

knative-serving, operator.

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

k get pod -n kourier-system -o j

[2021-08-05 00:49] bpinske opened #712 "Operator should allow arbitrary annotations to be set on Service objects for Ingress implementations"
**Problem**
https://github.com/knative/operator/blob/8d5c50af31dbe56e45a9888dbac6a9d80f101e30/cmd/operator/kodata/ingress/0.24/kourier.yaml#L400
https://kubernetes.io/docs/concepts/services-networking/service/#internal-load-balancer

Annotation injection would take place here. With probably some CRD schema update to accept an array of annotations.
https://github.com/knative/operator/blob/88a94d056

[2021-08-05 18:12] bpinske opened #715 "Operator does not appear to properly (re)create mutating/validating webhooks"
**Describe the bug**

After manually deleting the webhook configurations below, the operator will not attempt to recreate them even after completely uninstalling and reinstalling knative-serving and the operator.

validatingwebhookconfiguration.admissionregistration.k8s.io/config.webhook.serving.knative.dev
mutatingwebhookconfiguration.admissionregistration.k8s.io/webhook.serving.knative.dev
mutat

[2021-08-06 11:42] Baojizhong opened #717 "knative-operator pod panic when apply a knativeServing"
**Describe the bug**
knative-operator pod panic when apply a knativeServing

**Expected behavior**
no panic

**To Reproduce**
apply operator.yaml
apply KnativeServing

**Knative release version**
0.24.0
k8s 1.19.13

**Additional context**
{"severity":"INFO","timestamp":"2021-08-06T11:30:44.35666209Z","logger":"knative-operator","caller":"knativeserving/knativeserving.go:99","message":"Reconciling

[2021-08-06 15:54] treyhyde commented on #376
I have really struggled with this one.  Finally buckled down and added the 5 replicas so I could actually shut things down without manual intervention only to discover that `cluster-autoscaler.kubernetes.io/safe-to-evict: "false"` is sprinkled everywhere.    Is there documentation somewhere suggesting why this stuff isn't safe to evict?

[2021-08-09 15:56] houshengbo commented on #717
@Baojizhong Would you mind sharing the content of your KnativeServing CR?
Which platform do you use as the Kubernetes service?

[2021-08-09 16:02] houshengbo commented on #715
@bpinske Based on the commands you provided, you delete the CR by `kubectl delete KnativeServing knative-serving -n knative-serving`, which will surely NOT install anything after reinstalling the operator. Because the CR is gone, no resource will be reconciled.

[2021-08-09 16:13] bpinske commented on #715
Actually. You may be right. I don't remember exactly what I did last week.

It's possible that I had at point omitted the CR. So it would have appeared to have been working, with assets existing, but only the statically created assets and not the ones dynamically. down by the operator.

I will close this issue for now because I may well have made that mistake.

[2021-08-09 16:13] #715 closed

[2021-08-09 18:52] Baojizhong commented on #717
@houshengbo  我看你也是个中国人，我就打汉字了。
knative CR ：

`
apiVersion: v1
kind: Namespace
metadata:
 name: knative-service
---
apiVersion: operator.knative.dev/v1alpha1
kind: KnativeServing
metadata:
  name: knative-service
  namespace: knative-service
`

使用的是十六台centos物理机搭建的v1.19.13 k8s集群
operator是将这个https://github.com/knative/operator/releases/download/v0.24.0/operator.yaml
中的operator镜像地址替换成了私有化仓库地址，没有做其他改动。

[2021-08-09 19:25] houshengbo commented on #717
Did you rebuild the image or still use the same image as in the release.

[2021-08-09 19:27] Baojizhong commented on #717
@houshengbo  same image.
`
docker pull gcr.io/knative-releases/knative.dev/operator/cmd/operator@sha256:21c3426aa7fb67566193b9d33aadceb167e347bbad876d3bf5e63c8270f6ff20
docker tag gcr.io/knative-releases/knative.dev/operator/cmd/operator@sha256:21c3426aa7fb67566193b9d33aadceb167e347bbad876d3bf5e63c8270f6ff20 inner-hub.com/knative/operator:v0.24.0
docker push inner-hub.com/knative/operator:v0.24.0

[2021-08-09 20:01] Baojizhong commented on #717
在这个故障集群中，尝试部署了v0.23.0，获得了同样的错误。使用另一个集群部署0.23.0没有遇到错误，怀疑是集群间有什么参数差异导致，有可供参考的可能导致此问题的参数建议吗？

[2021-08-09 20:21] houshengbo commented on #717
In this situation, the question becomes what is the difference between the cluster that is working and the cluster that is not working, in terms of opening the ko path.

What I suggest is to try the image built with the current source code. You can change the source code, checking the permission of the directory of /var/run/ko/knative-serving. Compare the difference between the clusters you use.

[2021-08-09 20:54] csantanapr opened #718 "review the RBAC for knative"
**Problem**
Review the RBAC for knative.
Some cluster roles created by knative installation might have more permission than actually need it

Part of the work is document and keep it updated the docs, I opened an issue in docs repo https://github.com/knative/operator/issues/718

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Admin

**Additional context (optional)**

[2021-08-10 17:18] houshengbo commented on #712
Take a look at the article I recently wrote: https://vincenthou.medium.com/how-to-customize-the-manifests-for-knative-operator-with-a-local-volume-c576b592d9d7

[2021-08-17 19:55] upodroid opened #723 "Operator overrides namespace labels"
The knative operator overrides the namespace labels which breaks istio-injection and other things.

## Eventing CR:

[code]

## Controller logs:

[code]

## Final state:

[code]

## System info:

[code]

Operator Version:

0.24

The operator is also not GitOps friendly:

![image](https://user-images.githubusercontent.com/25100905/129791591-0ba25208-8795-416b-8510-bd78d1202891.png)

[2021-08-18 16:17] upodroid opened #725 "Operator should be deployed in knative-operator namespace instead of default."
**Describe the bug**
operator.yaml creates resources in the default namespace which is not ideal. Operator should like in knative-operator namespace.

https://github.com/knative/operator/releases/tag/v0.24.0

[2021-08-18 20:14] houshengbo commented on #723
@upodroid The istio ingress only works for knative serving. Does knative eventing have to get involved?

[2021-08-18 20:22] upodroid commented on #723
In my cluster, all workloads join the service mesh so knative-eventing is part of the mesh.

Also, labels and annotations are modified externally by Rancher/Argo so the operator needs to append the value instead of overriding it.

[2021-08-18 21:03] houshengbo commented on #723
Only the labels and annotations for the namespaces? No other resources?

[2021-08-18 21:08] upodroid commented on #723
yes for now.

[2021-08-18 22:14] jcrossley3 commented on #723
The operator uses declarative configuration, it essentially does what `kubectl apply` does: https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/#how-apply-calculates-differences-and-merges-changes

So if whatever added those labels used `kubectl apply` to do it, then they will be a part of the `last-modified` annotation, and therefore this operator will delete them since

[2021-08-20 01:23] #431 closed

[2021-08-24 07:54] nak3 commented on #376
I think this issue should be fixed before Beta/GA. There are some options for the solutions like:

* option-1. Support fully customizable pdb.
* option-2. Support only `enable` or `disable` option for pdb.
* option-3. Do not include pdb manifest at all.
* option-4. Support "automatic" pdb based on the number of replicas.

Probably option-2 (like `spec.high-availability`) or option-1 would be alrig

[2021-08-29 08:46] mikluko opened #736 "Ability to override net-kourier-controller image"
**Problem**
[According to the documentation](https://knative.dev/docs/admin/install/operator/configuring-serving-cr/#private-repository-and-private-secrets), KnativeServing CRD provides means to override various components images. The list of these components doesn't contain `net-kourier` making the image for Kourier hard-coded into the operator.

**Exit Criteria**
[code]

Above manifest results i

[2021-08-29 10:32] mikluko commented on #736
After reading sources I managed to get it working.

[code]

Note `/controller` suffix on override key.

[2021-08-29 10:32] #736 closed

[2021-08-31 09:18] charles-woshicai opened #741 "No error message in `status` if the `spec.version` is not supported"
**Describe the bug**
Operator version: v0.25.0
KnativeServing's `spec.version`: v0.21.0
There is error logs in operator controller, but error is not shown in CR's status.

**Expected behavior**
Show error log in CR's status.

**To Reproduce**
1. install knative-operator with version v0.25.0
2. apply KnativeServing with spec.version=0.21.0 and spec.manifests must not be nil
3. kubectl logs controll

[2021-08-31 09:18] charles-woshicai commented on #741
/assign

[2021-08-31 14:05] isaac88 commented on #5
Hello @nak3 @evankanderson guys,

Do you have any ETA to allow us put tolerations in the Knative operator?

For us it's blocking because we have the same issue of @AceHack

Thanks

[2021-08-31 14:40] houshengbo commented on #741
@charles-woshicai Thanks for reporting this issue. PR is welcome.

[2021-08-31 15:02] houshengbo opened #744 "Knative Upgrade improvement to support the upgrade across multiple minor versions"
**Problem**
Knative components support the upgrade and downgrade with ONLY one minor version. There have been CI tests in prows testing this scenario. Knative Operator also leverages the current capability to support the upgrade with ONLY one minor version above. When the user would like to upgrade from 0.22 to 0.25, they have to go through by changing spec.version to
0.23, 0.24 and 0.25 three tim

[2021-08-31 15:05] houshengbo commented on #723
@upodroid Can we close this issue, since it can be resolved in ArgoCD with the replace mode?

[2021-08-31 15:14] upodroid commented on #723
Yes

/close

[2021-08-31 15:15] #723 closed

[2021-08-31 15:33] charles-woshicai commented on #741
Additional information:

Here is my KnativeServing yaml:

[code]

And here is the status:

[code]

Here is the log
[code]

[2021-08-31 16:39] charles-woshicai commented on #741
Does it make sense if we report an error when the `spec.version` is more than 3 minor versions behind the version of operator?  @houshengbo

[2021-09-01 02:40] charles-woshicai commented on #741
The error is caused by that there is no ingress file for v0.21 in operator v0.25 runtime.
Maybe we should reject and report an error in the first check: https://github.com/knative/operator/blob/2fff62e671f33bc434a2f013d927c448a3c9ec86/pkg/reconciler/knativeserving/knativeserving.go#L101

[2021-09-01 07:46] nak3 commented on #5
@isaac88 Thank you for the information. I think we are alright to add it. I sent the PR https://github.com/knative/operator/pull/747 so it will be available on the next release (v0.26) if it was merged.

[2021-09-01 21:17] houshengbo commented on #741
@charles-woshicai I think the operator has a validation on the spec.version is prior to more than three minor versions.

[2021-09-02 02:41] charles-woshicai commented on #741
As I test the answer is yes, there is correct error message in the status if the spec.version=0.21.0 and spec.manifests IS nil.

As I mentioned above, the error is cause by that there is no ingress yaml of v0.21 yaml in operator local runtime. See below code:
https://github.com/knative/operator/blob/8585e1def3da322e3dad3015b8d5c9b18b1d84f6/pkg/reconciler/knativeserving/knativeserving.go#L150

###

[2021-09-02 13:46] houshengbo commented on #741
@charles-woshicai That's a very good question. Let me do some testing to see what could be the optimal approach.

[2021-09-02 13:54] charles-woshicai commented on #741
I think the version of ingress yaml is decided by `spec.version`, so it should report an error.
In other words, the point of this issue should be there is no error message when `spec.manifest` is not nil as `spec.version` is behind more than 3 versions to operator version.

[2021-09-02 17:48] owenthereal opened #751 "Helm Chart"
**Problem**

It would be nice that there is a helm chart for knative operator.  Lots of companies make use of charts to install software into their clusters and an official chart is needed for this project.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?

Anyone using knative serving and/or eventing

**Exit Criteria**
A measurable

[2021-09-03 21:22] #681 closed

[2021-09-09 02:25] nak3 opened #762 "`spec.deployments.replicas` does not take care about HorizontalPodAutoscaler"
We can overrides `spec.deployments.replicas` as:

[code]

But it does not change the values in `HorizontalPodAutoscaler`:

https://github.com/knative/operator/blob/f4ce4ff51a7fe3f6941073c7733a2e83f8b7faf1/pkg/reconciler/common/deployments_override.go#L86-L90

Some deployments (e.g. webhook, activator) deploys HPA so we need to change the values.

https://github.com/knative/operator/blob/f4ce4ff51a

[2021-09-09 20:57] houshengbo commented on #751
Is the chart used to install operator only, or install knative components, like serving or eventing?

[2021-09-09 21:41] mjgallag opened #763 "serving install via olm fails"
**Describe the bug**
serving install via olm fails with the following error:
[code]

**Expected behavior**
serving install via olm succeeds

**To Reproduce**
`minikube start`
`operator-sdk olm install`
`kubectl create -f https://operatorhub.io/install/knative-operator.yaml`
[code]

**Knative release version**
v0.25.0

**Additional context**
I attempted with the following versions:
olm v0.18.3
kube

[2021-09-10 06:43] aliok commented on #763
/assign

[2021-09-13 12:23] matzew commented on #762
@nak3 we have some code updating the HPA `minReplica` here: https://github.com/knative/operator/blob/main/pkg/reconciler/common/ha.go#L76-L89

I think we should do something similar on the `deployments_override.go` file, to check for both: `min` and `max`...

[2021-09-13 12:34] maschmid commented on #762
I think we need an explicit option like
[code]

+ a warning if one attempts to set spec.deployments[].replicas for something the operator does deploy an HPA...

[2021-09-13 12:52] matzew commented on #762
or that as a vehicle to make more options directly configurable, w/o guessing.

Regardless, it would also would relate to the `ha.go` file

[2021-09-13 15:13] #741 closed

[2021-09-14 01:26] #424 closed

[2021-09-14 06:21] nak3 commented on #762
Yeah, `maxReplicas` has a bug in not only `spec.deployments.replicas` but also `spec.ha` (`ha.go`).
I think we can apply the same fix with https://github.com/knative/operator/pull/748 to `spec.deployments.replicas`.

[2021-09-14 08:59] matzew opened #770 "Eventing: Allow extra Channel install mechanism"
**Problem**

I can not install any "production" (e.g. NATS or Kafka) channel with the operator

Similar to https://github.com/knative/operator/pull/644 it would be nice to have some better support for more channels too

[2021-09-14 08:59] matzew opened #771 "Eventing: Allow extra Broker install mechanism"
**Problem**

I can not install any "production" (e.g. Rabit or Kafka) broker implementation with the operator

Similar to https://github.com/knative/operator/pull/644 it would be nice to have some better support for more broker implementations too

[2021-09-14 09:01] matzew commented on #770
Alternatively we could think about more dedicated types, such as a `KnativeKafka`, which would help to install just all Kafka components...

[2021-09-14 19:25] houshengbo opened #773 "CLI plugin for Knative Operator"
**Problem**
A short explanation of the problem, including relevant restrictions.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How many developer-days do you think this may take to resolve?

**Addit

[2021-09-16 01:26] #546 closed

[2021-09-16 01:40] nak3 commented on #5
AAll three `nodeSelector`, `tolerations` and `affinity` are now implemented. (`tolerations` and `affinity` will be available after 0.26+).

[2021-09-23 07:12] antoineco commented on #646
/remove-lifecycle stale

[2021-09-23 13:33] rhuss commented on #673
/remove-lifecycle stale

Just out of curiosity, is there any work planned for this feature ? Or is it not a thing anymore ?

[2021-09-23 13:46] markusthoemmes commented on #673
The Operations WG has a planned feature to support orchestrated upgrades across minor versions in https://github.com/knative/operator/issues/744

[2021-09-23 15:19] #337 closed

[2021-09-23 17:25] gvmw opened #789 "knative-serving installed via the operator fails to reconcile service revisions"
**Describe the bug**
A clear and concise description of what the bug is.

[Deploying your first Knative Service](https://knative.dev/docs/getting-started/first-service/) never completes when knative-serving has been installed via the knative-operator. The error is:

[code]

**Expected behavior**

I would expect the following result when installing my first knative service:

[code]

**To Reproduce*

[2021-09-24 01:26] #615 closed

[2021-09-24 06:20] markusthoemmes commented on #789
can you please confirm the Knative Serving version installed here? Only 0.25.1 is compatible with 1.22 and that has been released with the Operator version 0.25.2.

[2021-09-24 13:28] benmoss commented on #789
On GKE this was k8s 1.20.10, so it's not due to 1.22. I don't have the cluster anymore and trying to reproduce on kind now I'm getting

[code]

[2021-09-24 13:31] benmoss commented on #789
Ah, I think this is the underlying issue. I don't think we'd noticed that the knativeserving object was in a failed state.

[2021-09-27 09:32] matzew commented on #771
@houshengbo any thoughts on this?

[2021-09-27 09:32] matzew commented on #770
@houshengbo any thoughts on this?

[2021-09-28 16:18] BbolroC opened #794 "# of replicas for net-contour-controller not updated by v1alpha1.HighAvailability.Replicas"
**Describe the bug**
Got a reconciliation timeout on the `test/e2e: TestKnativeServingDeployment` with a `contour` network after the update #749

[code]

[code]

Full log: https://storage.googleapis.com/knative-prow/logs/ci-knative-operator-s390x-e2e-tests/1442776110814203904/build-log.txt

**Expected behavior**
\# of replicas for `net-contour-controller` is also updated to 2 like other components

[2021-09-29 04:10] nak3 commented on #794
Thank you for this report @BbolroC

It seems you installed net-contour from a raw yaml as per your log:

[code]

It does not be controlled by operator and so ha config does not work as well. You should let operator install the `net-*` by `KnativeServing` configuration. Please try to set `spec.ingress` (and do not install net-contour by `kubectl apply -f net-contour.yaml`) for example:

[code]

[2021-09-29 07:48] BbolroC commented on #794
Thanks for the advice. I tried the manifest without the manual installation of `net-contour`, it worked:
[code]
But no success with `test/e2e-tests.sh --run-tests`:

[code]

I think there might be going wrong around the `KnativeServing().Update()` part.

[2021-09-30 21:25] cardil commented on #297
/remove-lifecycle stale
/reopen

I think this is still a TODO

[2021-10-01 11:02] gvmw commented on #789
I have just followed the steps described in the issue and I'm seeing the same behaviour.

This was on a freshly deployed K8s 1.20 running on GKE with Knative Serving `serving.knative.dev/release=v0.26.0` installed via Knative Operator `app.kubernetes.io/version=0.26.1`

[2021-10-01 13:41] gvmw commented on #789
I think that @benmoss was saying that the issue was a missing Knative networking layer (e.g.  Kourier / Contour / Istio etc.). As an aside, I have found this wording odd, because

In practice, if I start with a freshly deployed K8s 1.20 on GKE, and follow these exact steps:

[code]

The hello Knative service fails with the expected error:

[code]

I don't want to drag this out as I have my fix - i

[2021-10-01 13:41] #789 closed

[2021-10-05 09:42] peteroruba opened #802 "Installation instructions reference a manifest which does not exist"
**Describe the bug**
The Installation documentation mentions  'kubectl apply -f https://github.com/knative/operator/releases/latest/download/operator.yaml', but that file does not exist.

**Expected behavior**
The Installation documentation points the user to a manifest that actually exists.

**Knative release version**
0.26

**Additional context**
Add any other context about the problem here such

[2021-10-06 04:15] nak3 commented on #802
Hmm... https://github.com/knative/operator/releases/latest/download/operator.yaml exists now. @petereberlein Could you please check it again? I am guessing that it was a temporary network issue or something.

If you still cannot access to https://github.com/knative/operator/releases/latest/download/operator.yaml please share the output of:
[code]

[2021-10-06 05:33] peteroruba commented on #802
I can confirm it works. Thank you for looking into it. Must have been a temporary network issue. Thank you for looking into it @nak3

[2021-10-06 14:51] tzununbekov opened #807 "Eventing: Expose IMC dispatcher RollingUpdate Strategy controls"
**Context**
Follow up from this thread:
https://github.com/knative/eventing/pull/5752/files#diff-aa90d05e6b24f49230dc62981be433b63d6cb4ccc6831f43c09115940f248f9f

**Problem**
Default RollingUpdate strategy of `maxSurge=25%/maxUnavailable=25%` for IMC dispatcher deployment makes all in-memory channels temporarily switch their readiness condition to `false` every time dispatcher scales up. New value

[2021-10-10 01:26] #652 closed

[2021-10-13 14:50] matzew opened #813 "Can not set Kafka as default broker via `spec.config` property"
**Describe the bug**

Installing eventing via the operator, like:
[code]

than installing manually the `eventing-kafka-broker`, so that it is present on the server (b/c we can not do that via the operator)

Next: Update the `KnativeEventing` type, to populate its `config`:

[code]

The `brokerClass` is ignored, and it still shows the `MTChannelBasedBroker`, which it should not. See
[code]

**Expec

[2021-10-13 19:24] matzew commented on #813
thanks

On Wed 13. Oct 2021 at 21:24, Matthias Wessendorf ***@***.***> wrote:

--
Sent from Gmail Mobile

[2021-10-18 15:18] antoineco opened #825 "v0.26.2 has kodata for Eventing v0.26.1, but fails to install it"
**Describe the bug**

The following manifest:

[code]

yields the following error:

[code]

[2021-10-18 16:07] houshengbo commented on #825
@antoineco

I just tried 0.26.2 operator and applied the following CR. It did not break. I am not sure how to reproduce this issue.
What is the kubernetes version u are using? Do you have existing knative eventing installed?

[code]

[2021-10-18 17:15] antoineco commented on #825
My assumption is that this error was reported during the rollout from operator v0.25 to v0.26, not _after_ the rollout.

It seems like other unrelated problems arose while Eventing v0.26 was being applied, such as Pods in `Pending` state.
Because of the error I posted in the issue description, both problems seemed related, but in fact they were not.

After solving the root cause for Eventing Pods

[2021-10-18 17:15] #825 closed, assigned to nobody

[2021-10-19 14:52] tzununbekov commented on #807
@houshengbo probably, it won't be needed
@markusthoemmes I'll tackle this: knative/eventing#5828

[2021-10-21 18:26] houshengbo commented on #762
@nak3 Can we close this issue for now?

[2021-10-22 16:38] MMartyn opened #831 "Dynamic knative-local-gateway service selectors"
**Describe the bug**
If update the knative-local-gateway selectors, the service isn't updated as well to the new selectors
[code]

**Expected behavior**
I am not sure if it is the wrong expectation, but I would have expected the knative-local-gateway service in the istio-system namespace would get updated with the same selectors.

**To Reproduce**
Set selector overrides on the knative-local-gatewa

[2021-10-26 16:45] seunggs opened #834 "Knative Serving operator not updating config-certmanager values"
**Describe the bug**
Knative Serving operator is not updating config-certmanager values.

**Expected behavior**
Setting the spec.config.certmanager should update config-certmanager ConfigMap as per the documentation.

**To Reproduce**
Update the spec of the Knative Operator:

[code]

All other ConfigMaps are updating, but not the certmanager ConfigMap:

[code]

**Knative release version**
Knative

[2021-10-29 17:11] JamesMcMahon opened #847 "Heartbeats resources don't come up after using the Eventing operator"
**Describe the bug**
Following the instructions at https://knative.dev/docs/admin/install/knative-with-operators/#installing-the-knative-eventing-component.

I end up with the following broken resources, (non-broken omitted for clarity)

[code]

Logs for the broken pod,

[code]

Describing the sinkbinding source shows the following status,

[code]

**Expected behavior**
The resources should be bro

[2021-10-29 22:11] xtreme-sameer-vohra commented on #847
Hey @JamesMcMahon
Can you share the output of
[code]

From the info you shared, it seems like the `containersource.sources.knative.dev/heartbeats-source` is not in `ready` state and its likely due to `pod/heartbeats-source-deployment-64dff6896d-lqslh` being in a `CrashLoopBackOff`.

[2021-11-01 08:29] william-lbn opened #850 "kubectl get KnativeServing knative-serving -n knative-serving is not ok."
## Ask your question here:
knative : latest version
k8s: 1.22.3

install knative with Operator and current serving （default）

kubectl get deployment -n knative-serving
![image](https://user-images.githubusercontent.com/10280419/139643096-4adb5687-3c6d-47e4-8730-77d2c5d80b45.png)

kubectl get pod -n knative-serving
![image](https://user-images.githubusercontent.com/10280419/139642468-f6816988-ac52-

[2021-11-02 14:17] JamesMcMahon commented on #847
`kubectl -n knative-eventing get all`

Output:
[code]

[code]

Output:

[code]

Will make an attempt to update with environment variables and see what happens.

[2021-11-02 17:31] abdennour commented on #751
+ and configure them as well
My full support to @owenthereal

[2021-11-02 17:54] xtreme-sameer-vohra commented on #847
Thanks @JamesMcMahon
The eventing services appear to be running, so this isn't an issue with [the operator](https://github.com/knative/operator) and this issue should be closed.
However, there is a problem (you can confirm if adding the environment variable solves it) and then we can file an issue with `kn` or `ContainerSource`

cc @lionelvillard if you can help direct if this is an `kn` or `Conta

[2021-11-02 18:09] JamesMcMahon commented on #847
If the broker connection needs additional environmental configuration should that be part of the docs around installing the operator?

[2021-11-02 23:46] xtreme-sameer-vohra commented on #847
The changes by applying
[code]
would be applied to the [ContainerSource](https://knative.dev/docs/eventing/custom-event-source/containersource/). If you can confirm that it resolves the problem, it confirms that the issue is either with the `kn` CLI or `ContainerSource` as I was able to reproduce it without using the operator to install Knative.

[2021-11-03 02:14] dprotaso commented on #850
transferred this issue to the operator repo as it seems more specific to it's usage than serving specifically

[2021-11-03 07:19] markusthoemmes commented on #710
The "bug" is towards net-kourier, so let's deal with it there.

[2021-11-03 07:19] #710 closed

[2021-11-03 20:12] JamesMcMahon commented on #847
I was trying to get my namespace in a clean room state to try your suggested solution today and I saw that version 1.0.0 just dropped so I figured I would try that.

The entire namespace now comes up correctly with no additional configuration and there are no resources referring to `heart-beats` anymore.

So I think this may have just been fixed by the latest release.

I am still confused about ho

[2021-11-03 20:12] #847 closed

[2021-11-03 20:32] JamesMcMahon commented on #847
@xtreme-sameer-vohra The help was much appreciated ✋ , sorry for the unsatisfying resolution

[2021-11-05 02:44] nak3 opened #856 "KnativeEventing CR displays `Ready` even if `heartbeats-source-deployment` is `CrashLoopBackOff`"
**Describe the bug**

Please refer to the following reports:

https://github.com/knative/operator/issues/847#issue-1039771717
https://github.com/knative/operator/issues/850#issuecomment-957138368

heartbeats-source-deployment is `CrashLoopBackOff` but KnativeEventing displays `Ready` status.

**Expected behavior**

KnativeEventing CR does not display `Ready` status.

**Knative release version**

-

[2021-11-05 02:45] nak3 commented on #850
@William-lbn Sorry I am not familiar with Eventing and it seems different issue so I opened https://github.com/knative/operator/issues/856
Please let us know if we can assist you regard with the original problem.

[2021-11-09 00:54] treyhyde opened #860 ""controller" resources configuration overlap between "controller" and "net-istio-controller""
**Describe the bug**

https://knative.dev/docs/install/operator/configuring-serving-cr/#system-resource-settings
indicates

```Requests and limits can be configured for the following containers: activator, autoscaler, controller, webhook, autoscaler-hpa, net-istio-controller and queue-proxy.```

When in fact, net-istio-controller does not work (as in applying resources changes).   It has a contain

[2021-11-09 01:31] nak3 commented on #860
I agree that it is a bug.
This is a same concern with https://github.com/knative/operator/issues/382#issuecomment-741002226
I also proposed the PR to override the resource under `spec.deployments.containers` before but it was rejected as https://github.com/knative/operator/pull/472#issuecomment-779380630

[2021-11-10 07:59] matzew commented on #813
I order to do this - e.g. set the `Kafka` broker as default, I end up touching two different `spec` objects...:

[code]

I wonder if ... we either remove the `defaultBrokerClass` thingy, or accept that this can be set via the `config.config-br-defaults` _as well_.

[2021-11-10 08:03] pierDipi commented on #813
+1. I'd like to not learn another syntax to work with the operator vs pure YAMLs.

[2021-11-10 16:49] dicolasi opened #864 "Add the possibility to enable autoTLS using an existing cert-manager"
## Expected Behavior
I should be able to configure knative serving to use a current clusterIssuer to create a certificate per kservice.

## Actual Behavior
I need to deploy  the following yaml -> https://github.com/knative/net-certmanager/releases/download/knative-v1.0.0/release.yaml, which spins up another cert-manager

[2021-11-10 18:14] houshengbo commented on #864
@dicolasi net-cermanager is not installed by the operator by default.
Did you use the spec.additionalManifests to specify the link of the net-certmanager?

[2021-11-10 18:40] dicolasi commented on #864
I simply applied the yaml. IS there a way to use the operator for that?

[2021-11-12 08:34] mhebbel opened #869 "knative-ingress-gateway changes keep getting reset by the operator after a few hours."
**Describe the bug**
following the documentation for setting up a manual TLS certificate:
`https://knative.dev/docs/serving/using-a-tls-cert/`
where it states (under manual TLS certifcate entry in the tab "istio", step 2):
`kubectl edit gateway knative-ingress-gateway --namespace knative-serving`
and then describes the changes necessary. The changes were then reverted many hours later by the opera

[2021-11-12 11:22] #864 closed

[2021-11-12 20:56] MMartyn commented on #831
Is it reasonable to assume that that service should be getting updated to match the selectors? If so I can take a crack at this if you haven't started.

[2021-11-14 02:08] nak3 commented on #869
Yeah, that's the limitation. @houshengbo  recommends that using `spec.additionalManifests` as per https://github.com/knative/operator/issues/505

[2021-11-15 02:36] charles-woshicai commented on #831
/unassign

@MMartyn Please go ahead.

[2021-11-17 08:08] jasmdk commented on #860
Related to this, I try to set the images to point to a local registry to use the operator in airgapped mode using the registry.override: https://github.com/knative/operator/blob/main/docs/configuration.md#specregistry
When I set the image for "controller" or "webhook", they apply to both the "controller" and the "net-istio-controller" probably because they both use "controller" as their container

[2021-11-18 19:08] bartusz01 commented on #376
hi @nak3 any update on this?

[2021-11-18 19:22] Legion2 commented on #376
Instead of using minAvailable 80% I use maxUnavailable 20%, which works with 2 replicas

[2021-11-18 19:28] houshengbo commented on #869
The only configuration options available for operator is here: https://github.com/knative/operator/issues/505#issuecomment-805916910

If you need to change `knative-ingress-gateway`, put it as a resource in the manifests and specify spec.additionalManifests to install it as additional manifests.

[2021-11-19 00:51] nak3 commented on #376
@bartusz01 No, I'm not working on it for now.

[2021-11-19 07:43] #850 closed

[2021-12-01 20:14] houshengbo commented on #850
@nak3 @william-lbn I know this is a closed issue, but the resource `heartbeats` deployment used to a mistake that I brought into the bundled manifests in operator.
So far, it has been removed in the manifests bundled inside the operator.

[2021-12-01 20:16] houshengbo commented on #856
@nak3 The resource `heartbeats` deployment used to a mistake that I brought into the bundled manifests in operator.
So far, it has been removed in the manifests bundled inside the operator.

[2021-12-01 20:23] houshengbo commented on #834
@seunggs Sorry for the late response. I am not sure if you have figured it out or not, but if you would like to update the configmap in a certain yaml, you need to make sure that knative operator INSTALLS this yaml.

Like in https://github.com/knative-sandbox/net-certmanager/releases/download/knative-v1.0.0/net-certmanager.yaml, the configmap is available in this yaml, but this yaml is not managed

[2021-12-02 00:49] nak3 commented on #856
Thank you. So it was included but removed by https://github.com/knative/operator/pull/791
I am closing this issue now.

[2021-12-02 00:49] #856 closed

[2021-12-02 22:17] SidetrekAI commented on #834
Hi, thanks for responding. Just to confirm, then if I were to specify `https://github.com/knative/net-certmanager/releases/download/v0.26.0/release.yaml` in `spec.additionalManifests` section in the serving CR, do I not need to install this yaml separately? i.e. serving CR will install it?

[2021-12-06 16:31] houshengbo commented on #860
@treyhyde @nak3
I just verified with the 1.0 release. It seems to work with both of the controller and net-istio-controller at the same time.

When I applied the CR as below:
[code]

Both of the requests and limits in controller and net-istio-controller were updated, as controller is their container's name.

[2021-12-06 16:41] houshengbo commented on #834
When operator has this specified links in spec.additionalManifests, operator will install them for you. no need to apply separately any more.

[2021-12-06 16:52] houshengbo commented on #860
If we'd like to configure controller and net-istio-controller separately, I need to think of adding the support on the deploy level. @nak3 @treyhyde

[2021-12-06 23:12] nak3 commented on #860
Yes, I believe that this should be fixed. Not only controller but also webhook has the same problem, I think.

[2021-12-08 01:27] #717 closed

[2021-12-09 01:26] #718 closed

[2021-12-16 07:05] matzew opened #905 "Remove deprecated prometheus source"
the prometheus source is deprecated, and there will be no 1.2.x release for it. See https://github.com/knative-sandbox/eventing-prometheus/pull/173

After the operator has been releasing its 1.1 release, this source should be removed

[2021-12-16 08:31] houshengbo commented on #860
PLZ check the comments in https://github.com/knative/operator/pull/893 regarding this issue.
If anyone has any constructive suggestions, welcome to add in there.

[2021-12-16 08:44] houshengbo commented on #905
@matzew thx could you PR it?

[2021-12-16 08:46] houshengbo commented on #763
@mjgallag have you given the 1.0 a try recently?

[2021-12-17 01:28] #725 closed

[2021-12-17 16:19] mjgallag commented on #763
@houshengbo just tried now with `1.1`, same error.

[code]

[2021-12-23 09:51] rhuss commented on #673
/remove-lifecycle stale

[2022-01-04 11:12] cardil commented on #297
/remove-lifecycle stale

[2022-01-07 01:44] jonnylangefeld opened #914 "Add helm chart to release"
**Problem**
Currently there is an [operator.yaml](https://github.com/knative/operator/releases/download/knative-v1.1.0/operator.yaml) attached to each release which is generated with bash scripts upon each release. However all namespaced resources in that release are installed in the `default` namespace which might not be suitable for larger production clusters.

We would like to install knative v

[2022-01-07 14:06] wu0407 opened #915 "support add environment variable to conntainer"
**Problem**
I want to add environment KUBERNETES_MIN_VERSION to container, but current version operator not have method to setting.

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?
System Operator

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How

[2022-01-11 06:00] wu0407 opened #918 "registry override change queue-proxy image not update config-deployment configmap after finished install"
**Describe the bug**
Add  `queue-proxy` registry override after knative serving finished, but  operator not update `queueSidecarImage` in `config-deployment`  configmap.

**Expected behavior**
A clear and concise description of what you expected to happen.
operator change  `queueSidecarImage` in `config-deployment`  configmap.

**To Reproduce**
Steps to reproduce the behavior.
knative-serving.yaml

[2022-01-11 17:48] houshengbo commented on #914
@jonnylangefeld There is another initiative that kn-plugin-operator is under development, which can resolve the issues regarding all namespaces. You can take a look at: https://github.com/knative-sandbox/kn-plugin-operator
This kn plugin is leveraging all the capability of the knative operator.

[2022-01-12 06:15] wu0407 commented on #918
To change `queueSidecarImage` or `queue-sidecar-image` in current version, need configure `spec.config.deployment`  in KnativeServing operator
[code]

[2022-01-12 10:54] gshaibi commented on #717
I'm having this issue too

[2022-01-12 10:54] gshaibi commented on #717
/reopen

[2022-01-12 15:55] houshengbo commented on #915
@wu0407 Could you be more specific and explain more in details about the issue you have?
Could this be generalized into a broader issue like setting the env var for a container?

[2022-01-12 16:03] houshengbo commented on #918
@wu0407 I think this is the expected behavior by the way.
spec.registry.override can override the images for all the containers in the deployment resource.
If you want to change any configurations in ConfigMap, you have to configure as you described here: https://github.com/knative/operator/issues/918#issuecomment-1010675784.

[2022-01-14 14:11] wu0407 commented on #915
I running knative v1.1.0 in kubernetes v1.18,  need to set `KUBERNETES_MIN_VERSION` to overide required mini version.

[2022-01-15 01:27] #5 closed

[2022-01-23 01:26] #646 closed

[2022-01-24 19:27] #860 closed

[2022-01-25 15:37] houshengbo opened #930 "Conversion webhook needed for CRD transition"
**Problem**
We are promoting operator CRs to v1.
We only have v1alpha1 version available. To promote it into v1, we need to conversion webhook ready

**[Persona:](https://github.com/knative/eventing/blob/main/docs/personas.md)**
Which persona is this feature for?

**Exit Criteria**
A measurable (binary) test that would indicate that the problem has been resolved.

**Time Estimate (optional):**
How

[2022-01-25 15:41] houshengbo opened #931 "Document the release process for knaive operator"
**Describe the bug**
It is not difficult, but needs to be documented regarding the process, including what changes need to be done in order to prepare for a release of this repository.

**Expected behavior**
A clear and concise description of what you expected to happen.

**To Reproduce**
Steps to reproduce the behavior.

**Knative release version**
The Knative version, where you find this issue.

[2022-01-25 18:27] houshengbo opened #932 "Suport of Knative-ingress-gateway and Knative-local-gateway overwriting"
**Problem**
Knative-ingress-gateway and Knative-local-gateway are two key resources available in net-istio.
It turned out to be that these two resources are frequently modified based on the feedback of the community.
There was a debate about whether they are knative resources, whether they should be the scope of knative serving.

However, since how to change these two has been asked as one of the

[2022-01-26 01:29] #771 closed

[2022-01-26 01:29] #770 closed

[2022-02-02 16:02] andrewxk opened #946 "'defaultMinimumVersion' is changed in v1.1.2 but not reflected in neither prerequisites nor website"
According to the comment here, when the value is changed, a notice should be made.
I tried to manage a small version upgrade today on several v1.20 Kubernetes clusters and fail, later I found the prerequisites tagging for v.1.1.x doesn't update the min version.

https://github.com/knative/operator/blob/612f411d7ff87b870f7f7507f80613e67d52b0f1/vendor/knative.dev/pkg/version/version.go#L36

https://

[2022-02-04 13:12] boniek83 commented on #946
Surely this is a bug. Minimum kubernetes version should not change in 1.1.x
https://github.com/knative/community/blob/main/mechanics/RELEASE-SCHEDULE.md

[2022-02-07 06:18] gecube opened #950 "No option to install net-certmanager-controller"
Hello!

I'd like to completely manage the Knative installation with the operator. It is easy and nice. But in fact I didn't find any option to install `net-certmanager-controller` component of Knative with the operator. It looks like that this component may be installed only with optional manifest https://github.com/knative/net-certmanager/releases/download/knative-v1.2.0/release.yaml
It makes me

[2022-02-08 11:43] boniek83 opened #955 "Operator's ${NAME} generates wrong image name."
**Describe the bug**
I want to override public registry with my internal image caching service.

[code]
This  causes deployment to fail because:
"harbor.local/gcrcache/knative-releases/knative.dev/serving/cmd/domainmapping-webhook:v1.1.1" image doesn't exist.
What does exist though is:
"harbor.local/gcrcache/knative-releases/knative.dev/serving/cmd/domain-mapping-webhook:v1.1.1"
**Expected behavio

[2022-02-08 15:43] houshengbo commented on #950
@gecube net-certmanager is not the core of knative, so far it is installed by the additional manifests.

[2022-02-08 15:48] gecube commented on #950
It is sad to hear it :-( I thought it will be relatively ease to make a switch (toggle) in operator to install or not this component.

[2022-02-08 16:00] houshengbo commented on #950
So far to use the net-cert with the operator, you have to use the CR as follows:
[code]

[2022-02-08 16:11] houshengbo opened #957 "Configuration of HA replicas should be consistent between HPA and deployment"
**Describe the bug**
The deployment activator is one example.
We are able to configure it with spec.deployments.replicas to specify the min replicas, but the HPA of the activator remains unchanged. This could possibly lead to conflict in kubernetes.

**Expected behavior**
Let's make HPA and deployment consistent in terms of the min replicas.

**To Reproduce**
Specify spec.deployments.replicas to a

[2022-02-09 15:05] houshengbo opened #960 "Support of installing net-cermanager with operator?????"
I would like to see how much support I can get.
Just raise the question.

[2022-02-10 23:28] #955 closed

[2022-02-15 20:54] houshengbo commented on #915
I suggest you NOT do that. Don't force to change the min version of Kubernetes.

[2022-02-16 06:10] wu0407 commented on #915
I known that has some risk, but I want quick test or develop knative new version. I already check knative v1.1.0 is not depend on specific api that is in v1.20 but not in v1.18  before i do that.

[2022-02-19 00:10] houshengbo opened #970 "Integration tests failed due to the conversion webhook"
[code]

[2022-02-19 16:34] GJKrupa opened #971 "Kourier crashes on Raspberry Pi k3s cluster with "Out of memory trying to allocate internal tcmalloc data""
**Describe the bug**
Kourier gateway fails to start on Raspberry Pi 4 k3s cluster. The gateway pod crashes with the following error:
[code]

**Expected behavior**
KNative should start up with a working Kourier gateway

**To Reproduce**
1. Create a Kubernetes cluster on RaspberryPi OS (64-bit lite version) using k3s v1.22.6+k3s1
2. Install the latest operator (as of 19 Feb 2022) by running kubectl

[2022-02-19 16:59] GJKrupa commented on #971
I've also tried using Contour and the same happens with the contour-internal and contour-external pods from v1.2.0

[2022-02-22 17:12] houshengbo commented on #971
@nak3 @ZhiminXiang Do you folks know anything about this?

[2022-02-22 18:57] PeterGrace opened #975 "knative-operator crashes with SIGSEGV, k3s v1.21.5"
**Describe the bug**
knative-operator crashes with a segmentation fault shortly after the lease-election phase of its lifecycle

**Expected behavior**
knative-operator would not crash.

**To Reproduce**
Install knative-operator by applying the operator.yaml file.

**Knative release version**
knative-operator image `gcr.io/knative-releases/knative.dev/operator/cmd/operator@sha256:2a3d5775443ab4a49c

[2022-02-22 19:25] #970 closed

[2022-02-23 07:37] GJKrupa commented on #971
Absolutely it's an Envoy issue but would it be possible to add an override that allows a specific Envoy image tag to be used in the same way that the ConfigMaps can be modified? Reverting to version 1.16 is an effective workaround for the problem since that version works on arm64.

[2022-02-24 20:32] houshengbo commented on #975
@PeterGrace Am I able to produce this issue on ANY kubernetes 1.21.5? I do not have k3s with me.

[2022-02-24 20:35] houshengbo commented on #975
@jcrossley3 Could you check on this issue? Thx.

[2022-02-24 20:36] PeterGrace commented on #975
I would assume so as this looks to be a container problem rather than a kubernetes scheduling issue -- the only other interesting tidbit is the fact that k3s uses containerd instead of docker, which *might* affect things but not sure about that.

[2022-02-24 20:59] houshengbo commented on #975
@PeterGrace Are you installing operator.yaml 1.2.0?

[2022-02-24 22:02] PeterGrace commented on #975
I am installing via operator.yaml  release v1.2.1.  I see the operator.yaml contains CRD's.  I assume these are expected?

Not immediately, I'd have to coordinate a cluster upgrade for that.

[2022-03-02 08:36] isaac88 commented on #376
Hello @nak3 @matzew @julz,
Do you have the ETA for that ?
Best regards.

[2022-03-02 08:59] nak3 commented on #376
@houshengbo Do you have some plan to fix this issue?

[2022-03-03 01:32] #751 closed

[2022-03-11 05:20] matzew commented on #813
/reopen

On Fri 11. Mar 2022 at 02:31, github-actions[bot] ***@***.***>
wrote:

--
Sent from Gmail Mobile

[2022-03-11 14:03] onwsk8r commented on #915
What if I wanted to add an environment variable called `DEFAULT_JETSTREAM_URL` to the `jetstream-ch-dispatcher` deployment I get when setting `source.natss.enabled: true`?

[2022-03-16 01:32] #831 closed

[2022-03-19 01:31] #869 closed

[2022-03-22 03:36] life-learner1 opened #1007 "Give Webhook more time to reconcile the TLS certificate"
**Describe the bug**
[code]
![image](https://user-images.githubusercontent.com/94417934/159402806-3285dab2-5e23-4d29-9505-596d13637915.png)

**Expected behavior**
operator-webhook works well

**To Reproduce**
Steps to reproduce the behavior.

**Knative release version**
1.3.1

**Additional context**
Add any other context about the problem here such as proposed priority

[2022-03-22 03:37] life-learner1 commented on #1007
after increasing initialDelaySeconds from 20 to 60, it works for me
![image](https://user-images.githubusercontent.com/94417934/159402931-3f4f9dd9-3f54-467a-982b-b3ff2ef7765f.png)

[2022-03-22 07:13] rhuss opened #1008 "Resource requirements keyed by container-names is not fine granular enough"
@houshengbo @maximilien @nak3 as https://github.com/knative/operator/pull/893 is now been merged and released, we have now customer complaints about the restriction that this PR introduced and that we have pointed out [here](https://github.com/knative/operator/pull/893#issuecomment-993760694). (btw, I was not sure why this PR was merged without the discussion have been resolved)

The concrete comp

[2022-03-29 13:17] darkstarmv commented on #975
I have faced same problem after upgrade to kubernetes v1.23.4

[2022-04-04 14:04] houshengbo commented on #1008
@rhuss  operator now supports both v1alpha1 and v1beta1 versions for CRDs. v1beta1 has removed all the deprecated fields, including the container identifier for resource configuration. Once v1alpha1 CRDs are removed, we remove all the deprecated fields by then.

[2022-04-04 14:05] houshengbo commented on #1007
@life-learner1 This is handy offering. I will confirm it. Thx.

[2022-04-04 14:07] houshengbo opened #1023 "Support of label and annnotation overriding for Kind: Service"
These questions have been in the community channels for quite a few time.
It seems this is a reasonable feature for operator to implement.

[2022-04-04 14:11] houshengbo commented on #1007
I did not find `initialDelaySeconds: 20` this line in operator.yaml.
Where did you find this line?

[2022-04-06 01:32] #834 closed, assigned to nobody

[2022-04-07 14:53] houshengbo opened #1028 "Change int32 into *int32 for Replicas"
Defining a field like Replica as int32 can leading to a situation that we have no idea it is unset or set to 0 by the user.
Suggest to replace with a pointer, so that nil means it is unset, and 0 means it is set to 0.

[2022-04-07 21:53] #1028 closed

[2022-04-11 14:49] houshengbo commented on #930
This one has been accomplished, since v1beta1 has been implemented with the capability to convert into/from v1alpha1.

[2022-04-11 14:50] houshengbo commented on #931
PLZ check the doc here: https://github.com/knative/operator/blob/main/docs/release.md

[2022-04-11 14:50] #931 closed

[2022-04-11 14:52] houshengbo commented on #763
It has been a long time since this bug was opened.
Operator of knative has evolved into 1.3 in the operatorhub.
If similar issues still exist, welcome to reopen it.

[2022-04-11 14:53] #905 closed

[2022-04-11 15:22] houshengbo commented on #975
@darkstarmv What is the knative operator version you are using?
I am using 1.23.3 Kube and install knative operator 1.2, it worked fine.

[2022-04-11 15:26] jbalonso commented on #975
I am seeing the same stacktrace with operator `1.3.0` (specifically: `gcr.io/knative-releases/knative.dev/operator/cmd/operator@sha256:a1bb612a75386c491b3739a2bf3c04a8e1f6710548e780941f8fe08b912905ae`) running on an RPi4 cluster on Talos 1.0 with k8s `v1.23.5`.

[2022-04-11 16:29] jbalonso commented on #975
This _might_ be an entirely separate issue, but it _might_ not be... I used `fluxcd` to deploy the operator, and flux and the knative-operator (I presume) are constantly rewriting `ClusterRole/knative-serrving-operator-aggregated` (and the corresponding `eventing` cluster role). What's curious is that the `.spec` of these manifests is being rewritten to `null` (by which of `knative-operator` and `

[2022-04-12 21:57] #1023 closed

[2022-04-25 18:51] houshengbo opened #1048 "Drop the support of knaive operator submission to operatorhub.io"
**Problem**
The reasons for this topic are listed as below:
1. There is a huge lack of support of OLM and operator-sdk expertise.
2. Knative operator is not built with operator-sdk. Not intrinsically compatible with OLM.
3. A client plugin for knative operator is on its way for better usage of knative operator. Knative operator listed on operatorhub won't benefit from this CLI. CLI does not use op

[2022-04-27 13:52] #932 closed

[2022-04-27 16:47] houshengbo opened #1054 "Make the selector able to configure in the service resource"
Make the selector able to configure in the service resource.

[2022-05-03 14:26] #1054 closed

[2022-05-04 10:19] zeusal commented on #1007
It does not work, I get the following errors:

│ {"severity":"ERROR","timestamp":"2022-05-04T10:13:45.880594133Z","logger":"operator-webhook.ConversionWebhook","caller":"controller/controller.go:559","message":"Reconcile error","commit":"59bf873","knative.dev/pod":"operator-webhook-867d587b4-xxbzz","knative.dev/traceid":"4c92 │
│ {"severity":"WARNING","timestamp":"2022-05-04T10:13:45.946125174Z","

[2022-05-05 01:34] #297 closed

[2022-05-05 18:43] alxndr42 opened #1062 "Upgrading from 1.2 to 1.3/1.4 breaks cluster with Istio and sidecar injection"
**Describe the bug**

Upgrading Knative Operator and Serving from 1.2 to 1.3 or 1.4 via causes the following error message to appear continously:

[code]

Reverting to 1.2 is not possible either:

[code]

**Expected behavior**

Upgrading the Operator as documented should leave the cluster in a functional state.

**To Reproduce**

- Install GKE 1.21 (or 1.22 if upgrading to Knative Operator 1.4)
-

[2022-05-06 04:05] maximilien commented on #1062
/assign @houshengbo

[2022-05-06 17:49] alxndr42 commented on #1062
I think I found the problem: we're using Istio's mTLS and sidecar injection features. Especially the second part seems to interfere with the new `operator-webhook` service. When I disable sidecar injection on the `default` namespace before the Knative upgrade, everything appears to work normally.

It seems like the `operator-webhook` deployment should have a `sidecar.istio.io/inject: false` annota

[2022-05-09 17:52] #1062 closed

[2022-05-10 12:30] #946 closed

[2022-05-10 14:37] davesargrad opened #1068 "1.4.0 operator install results in operator-webhook with failed readiness probe"
I've followed the instructions for installing knative via operator. Though the knative-operator is running
`knative-operator-df4cf6b69-759dd               1/1     Running     0             4m7s`
The operator-webhook is restarting and not ready
`operator-webhook-869bd85fd6-mrh9r              0/1     Running     3 (3s ago)    4m7s`

When I describe the pod:
[code]

[2022-05-10 15:00] davesargrad commented on #1068
I see 5 references to 8443 in the referenced yaml,
kubectl apply -f https://github.com/knative/operator/releases/download/knative-v1.4.0/operator.yaml
Should I change these all to an available port?

[2022-05-10 15:22] davesargrad commented on #1068
When I diff my operator.yaml against the one provided in instructions, I see the 5 changes. However I  also see 443 as the port for the https-webhook.. did I make the proper change to the yaml?
![image](https://user-images.githubusercontent.com/48793689/167664291-6c422658-bcbd-424e-8098-5466300c67e8.png)

[2022-05-11 16:31] houshengbo commented on #1068
I am not sure if this issue is related to https://github.com/knative/operator/issues/1007.
If there is an issue with the webhook. You need to focus on the deployment of the operator-webhook:
[code]

And there is a service connecting to the deployment:
[code]

The secret is created as well:
[code]

[2022-05-14 01:35] #918 closed

[2022-05-16 13:07] davesargrad commented on #1068
@houshengbo
Hi Thanks Much for your response.
It certainly seems like the issue that you link could be related.
Do you have a specific suggestion for me to try?

[2022-05-18 13:51] Morriz opened #1078 "1.4.1 does not install: webhook errors due to TLS certs not being set"
**Describe the bug**
[code]

**Expected behavior**
The operator install to not show any errors.

**To Reproduce**
Install knative with the oneliner provided in the docs:

[code]

I observe that the secret `operator-webhook-certs` does not get populated. Now, I wouldn't know what actor would, but in the operator.yaml I found this comment under the secret: `# The data is populated at install time.`

[2022-05-18 14:42] Morriz commented on #1078
This only happens on a cluster that had old resources removed, and I suspect etcd might have been left in a corrupt state. Closing for now

[2022-05-18 14:44] Morriz commented on #1068
I suffered the same issue on a cluster that was used for development and which might have gotten unstable over time (see #1078). Is this reproducible on a fresh cluster?

[2022-05-19 05:48] sameersbn opened #1079 "KnativeEventing deployment fails when GithubSource is enabled"
**Describe the bug**

Knative Eventing deployment fails if the GithubSource is enabled in the operator.

**Expected behavior**

GitHubSource controller should be deployed and Knative Eventing should deploy without any errors

**To Reproduce**

Deploy KnativeEventing on a k8s 1.22 cluster using the following:

[code]

**Knative release version**

1.2.0 and above

**Additional context**

FWIW, I am